.VAYlogo {
    display: block;
    position: absolute;
    width: 40%;
    height: 22%;
    bottom: 10%;
    left: 50%;
    margin-left: -20%;
	background-size: 98%;
	background-repeat:no-repeat;
	background-position: bottom;
}

.welcome-slider-block .welcome-slider {
    margin-bottom: 0;
	}  
.welcome-slider .slick-slide {
	background-size:cover; 
	background-repeat:no-repeat;
	background-position: 50% 50%;
	background-position: 50% 0;
	height: 800px;
	}



@media (max-width: 992px) {
	.welcome-slider .slick-slide {height:600px; background-position: 100% 50%;}
	.VAYlogo {bottom: 12%;}
}
@media (max-width: 768px) {
	.welcome-slider .slick-slide {height:400px; background-position: 50% 50%;}
	.VAYlogo {display: none;}
	.welcome-slider .slick-dots {bottom:1%;}

}





/* Dots */

.welcome-slider .slick-dots
{
    position: absolute;
    bottom: 2%;
    display: block;
    width: 100%;
    padding: 0;
    list-style: none;
    text-align: center;
}
.welcome-slider .slick-dots li
{
    position: relative;
    display: inline-block;
    width: 20px;
    height: 20px;
    margin: 0 5px;
    padding: 0;
    cursor: pointer;
}
.welcome-slider .slick-dots li button
{
    font-size: 0;
    line-height: 0;
    display: block;
    width: 20px;
    height: 20px;
    padding: 5px;
    cursor: pointer;
    color: white;
    border: 2px solid white;
	border-radius: 10px;
    outline: none;
    background: black;
}
.welcome-slider .slick-dots li button:hover,
.welcome-slider .slick-dots li button:focus
{
    outline: none;
}
.welcome-slider .slick-dots li button:hover:before,
.welcome-slider .slick-dots li button:focus:before
{
    opacity: .25;
}
.welcome-slider .slick-dots li button:before
{
    font-family: 'slick';
    font-size: 10px;
    line-height: 20px;
    position: absolute;
    top: 1px;
    left: 0;
    width: 20px;
    height: 20px;
    content: '•';
    text-align: center;
    opacity: 0;
    color: white;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.welcome-slider .slick-dots li.slick-active button:before
{
    opacity: 1;
    color: white;
}
