.bx-authform.in-order input[type=text],
.bx-authform.in-order input[type=password] {
	background: none !important; 
	height:32px !important; 
	font-size:14px !important;
	}
	
.bx-authform.in-order {
	max-width: 500px !important;
	border: 1px solid #EEE;
	padding: 5px 15px;
	border-radius: 5px;
	display: none;
	margin-bottom:20px;
}
	
.bx-authform.in-order .bx-authform-social ul {
    padding: 5px 0 10px;
    margin: 0 0 0px;
    display: block;
	}

	
.bx-authform.in-order .bx-authform-link-container {
	margin-bottom:5px;
}
.bx-authform.in-order .bx-authform-formgroup-container{
	margin-bottom:10px;
}

.bx-authform.in-order .btn-primary {
	position:relative;
	top:0;
	display:inline-block;
	padding:0 18px;
	border-radius:3px;
	background:#ca0372;
	
	color:#fff;
	vertical-align:bottom;
	text-decoration:none;
	text-shadow:0 1px 0 #0075b6;
	font-weight:bold;
	line-height:36px;
	border: none;
}

.bx-authform.in-order .btn-primary:hover, 
.bx-authform.in-order .btn-primary:active {
	background:#e12c91;
	
	}
	
h4.auth {    
	display: block;
    padding-bottom: 5px;
    text-transform: uppercase;
    color: #D12A2D !important;
    font-weight: bold !important;
	margin-top: 20px;
    margin-bottom: 10px;
}
	
	