.bx-catalog-tab-section-container{position: relative;}

.bx-catalog-tab-list{
	text-align: left;
	padding: 0;
	vertical-align: bottom;
	margin: 16px 0 0 0 !important; 
}

.bx-catalog-tab-list li{
	vertical-align: bottom;
	border-top: 1px solid #DDDDDD;
    border-right: 1px solid #DDDDDD;
	border-bottom: none;
	display: inline-block;
	/border-radius: 3px 3px 0 0;
	background: #f7f7f7;
	box-shadow: inset 0 -10px  5px -10px rgba(0,0,0,.12);
    text-align: center;
}

.bx-catalog-tab-list li:first-child {
	border-left: 1px solid #DDDDDD;
}

.bx-catalog-tab-section-container .bx-catalog-tab-list li:before{
	content: none;
}

.bx-catalog-tab-list li a,
.bx-catalog-tab-list li>span{
	display: block;
	cursor: pointer;
	line-height: 30px;
	height: 30px;
	color: #999;
	text-decoration: none;
	font-size: 13px;
	padding: 0 0 !important;
	box-shadow: none;
	white-space: nowrap;
	/border-radius: 3px 3px 0 0;
}

.bx-catalog-tab-list li.active{
	background: #b60065;
	/border-radius: 5px 5px 0 0;
}

.bx-catalog-tab-list li:hover{
	background: #fff;
}


.bx-catalog-tab-list li.active a,
.bx-catalog-tab-list li.active>span{
	background: #b60065;
	line-height: 32px;
	height: 32px;
	color: #FFFFFF;
	position: relative;
	bottom: 0;
}

.bx-catalog-tab-body-container {
	border: 1px solid #d9e1e3;
	border-top: none;
	padding: 10px;
}

.bx-catalog-tab-body-container .bx-catalog-tab-container>div.tab-off{
	opacity: 0;
	height: 0;
	overflow: hidden;
	-webkit-transition:all 0.4s ease-out;
	-ms-transition:all 0.4s ease-out;
	-moz-transition:all 0.4s ease-out;
	-o-transition:all 0.4s ease-out;
	transition:all 0.4s ease-out;
}

.bx-catalog-tab-body-container .bx-catalog-tab-container>div{
	opacity: 1;
	-webkit-transition:all 0.6s ease-out;
	-ms-transition:all 0.6s ease-out;
	-moz-transition:all 0.6s ease-out;
	-o-transition:all 0.6s ease-out;
	transition:all 0.6s ease-out;
	padding: 0 10px;
}

.bx-catalog-tab-body-container .bx-catalog-tab-container .hidden{
	display: none;
}