.bottom-section-list {
	margin-top:10px;
	}
	
.bottom-section-list ul,
.bottom-section-list ul l,
.bottom-section-list ul li ul,
.bottom-section-list ul li ul li {
	margin-left:0;
	padding-left:0;
	list-style:none;
}

.bottom-section-list ul li a {
}
	
.bottom-section-list ul li {
	float: left;
}

.bottom-section-list ul li ul li {
	margin-right:60px;
	float: none;
}

@media (max-width: 768px) {
	//.bottom-section-list {display:none;}
}

.bottom-section-list ul li {
	//text-transform: uppercase;
	//margin-top:10px;
}

.bottom-section-list ul li ul li {
	//text-transform: none;
	}