div.bx-auth-reg input.bx-auth-input {vertical-align:middle;}
div.bx-auth-reg span.bx-auth-secure {background-color:#FFFAE3; border:1px solid #DEDBC8; padding:2px; display:inline-block; vertical-align:middle;}
div.bx-auth-reg div.bx-auth-secure-icon {background-image:url(images/sec.png); background-repeat:no-repeat; background-position:center; width:19px; height:18px;}
div.bx-auth-reg div.bx-auth-secure-unlock {background-image:url(images/sec-unlocked.png);}
.form-title {
    background-color: #D12A2D;
    color: white;
    text-transform: uppercase;
    line-height: 1.5;
    text-align: center;
    font-size: 18px;
	font-family: Arial, sans-serif;
	padding: 10px 0;
	border-radius:8px 0 0 0;
}
.form-title .ico {
	background: url(/upload/ico_gift_w70.png) no-repeat;
	background-size: cover;
    display: block;
    position: absolute;
    top: 10px;
    left: 10px;
	width:70px;
	height:70px;
}
.form-title .text {
	margin-left: 65px;
    display: block;
}
.form-note {
	font-size:12px;
	line-height:16px;
	margin-left:15px;
}
form[name=regform] {
	margin:10px 20px;
	font-family: Arial, sans-serif;
}
.bx-authform-formgroup-container {
	margin:10px;
}
.bx-authform-formgroup-container input {
	height:34px;
	padding:3px 5px;
	display: inline-block;
	width:85%;
	line-height: 30px;
}
.bx-authform-formgroup-container i.fa {
	display: inline-block;
    width: 10%;
    height: 34px;
    background-color: black;
	color:white;
    margin: 0;
    padding: 0;
    line-height: 30px;
	text-align: center;
}
.bx-authform-formgroup-container .bx-authform-starrequired {
	margin-left:5px;
}
.bx-authform-formgroup-container input.btn {
    background: #D12A2D;
    font-family: 'Circe-Light', Arial, sans-serif;
    color: #fff;
    display: inline-block;
    border-radius: 0px;
    border: 1px solid #D12A2D;
    text-align: center;
    text-decoration: none;
    font-size: 13px;
    cursor: pointer;
    text-shadow: none;
    text-transform: uppercase;
	width:95%;
}
.alert-danger {
	padding:10px 30px 5px 30px;
	color:red;
}
p.is-auth {
	color: green;
	font-weight: bold;
	padding: 5px 30px 10px 30px;
}

.bx-authform.mainreg {height:auto !important;}
