@font-face {
	font-family: 'Circe-Regular';
	src: url('/webfont/Circe-Regular.eot?#iefix') format('embedded-opentype'),  url('/webfont/Circe-Regular.otf')  format('opentype'),
	     url('/webfont/Circe-Regular.woff') format('woff'), url('/webfont/Circe-Regular.ttf')  format('truetype'), url('/webfont/Circe-Regular.svg#Circe-Regular') format('svg');
	font-weight: normal;
	font-style: normal;
	}
	
@font-face { 
	font-family: 'Circe-Light';
	src: url('/webfont/Circe-Light.eot?#iefix') format('embedded-opentype'),  url('/webfont/Circe-Light.otf')  format('opentype'),
	     url('/webfont/Circe-Light.woff') format('woff'), url('/webfont/Circe-Light.ttf')  format('truetype'), url('/webfont/Circe-Light.svg#Circe-Light') format('svg');
	font-weight: normal; 
	font-style: normal;
	}

form[name^=SIMPLE_FORM] {
	width:100%;
	max-width:400px;
}

table.form-table
{
	width:100%;
	max-width:400px;
	border-collapse:collapse;
	font-size:100%;
	font-weight:normal;
	line-height:160%;
}

table.form-table th, table.form-table td
{
	/border:1px solid #ADC3D5;
	/padding: 5px 5px;
	/vertical-align:top;
}

table.form-table th
{
	/background-image:url(images/table_head.gif);
	/background-repeat:repeat-x;
	text-align: left;
	color:#25639A;
}

table.form-table tfoot th {
	text-align: center;
}



table.form-table td
{
	padding: 5px 5px;
}

.form-required 
{
	color: red;
}

.error-fld {
	display: block;
	float: left;
	height: 13px;
	width: 15px;
	background-repeat: no-repeat;
	background-image: url(images/icon_warn.gif);
}

.form-table .inputtext,
.form-table .inputtextarea {
	width:250px;
    background: #fff;
    border: 1px solid black;
    color: black;
    display: inline-block;
    vertical-align: middle;
    font-size: 14px;
    padding: 6px 8px;
    margin-bottom: 3px;
    font-weight: normal;
}

.fancybox-skin {padding:0 !important;}

table.form-table input[type=submit], 
table.form-table input[type=reset] {
	width: 31%;
    margin: 7px auto 0 auto;
    display: inline-block;
    border: 1px solid black;
	background: white;
    padding: 8px 10px 5px 10px;
    color: black;
    font-family: 'Circe-Light', Arial, sans;
    font-size: 16px;
    text-align: center;
    text-transform: uppercase;
}

table.form-table input[type=submit]:hover, 
table.form-table input[type=reset]:hover {
	border:1px solid #D12A2D;
	background: #D12A2D;
	color:white;
}

form[name=SIMPLE_FORM_1] h3 {
    display: block;
    margin: 0;
	margin-bottom: 10px;
    padding: 5px;
    background: #D12A2D;
    color: white;
	font-family: 'Circe-Light', Arial, sans;
	font-weight: normal;
	text-transform: uppercase;
}

table.form-table tr td:first-child {
	font-family: 'Circe-Light', Arial, sans;
    font-size: 16px;
    text-align: center;
    text-transform: uppercase;
}

p.comments {
	font-family: 'Circe-Light', Arial, sans;
    font-size: 13px;
    text-transform: uppercase;
}
