<style type="text/css">
         /* Client-specific Styles */
		 /* For mail.ru */
		 .highlight-phone {color:#FFFFFF !important;}
         #outlook a {padding:0;} /* Force Outlook to provide a "view in browser" menu link. */
         body{width:100% !important; -webkit-text-size-adjust:100%; -ms-text-size-adjust:100%; margin:0; padding:0;}
         /* Prevent Webkit and Windows Mobile platforms from changing default font sizes, while not breaking desktop design. */
         .ExternalClass {width:100%;} /* Force Hotmail to display emails at full width */
         .ExternalClass, .ExternalClass p, .ExternalClass span, .ExternalClass font, .ExternalClass td, .ExternalClass div {line-height: 100%;} /* Force Hotmail to display normal line spacing.  More on that: http://www.emailonacid.com/forum/viewthread/43/ */
         #backgroundTable {margin:0; padding:0; width:100% !important; line-height: 100% !important;}
         img {outline:none; text-decoration:none;border:none; -ms-interpolation-mode: bicubic;}
         a img {border:none;}
         .image_fix {display:block;}
         p {margin: 0px 0px !important;}
         table td {border-collapse: collapse;}
         table { border-collapse:collapse; mso-table-lspace:0pt; mso-table-rspace:0pt; }
         a {color: #33b9ff;text-decoration: none;text-decoration:none!important;}
         /*STYLES*/
         table[class=full] { width: 100%; clear: both; }
         /*IPAD STYLES*/
         @media only screen and (max-width: 640px) {
         a[href^="tel"], a[href^="sms"] {
         text-decoration: none;
         color: #33b9ff; /* or whatever your want */
         pointer-events: none;
         cursor: default;
         }
         .mobile_link a[href^="tel"], .mobile_link a[href^="sms"] {
         text-decoration: default;
         color: #33b9ff !important;
         pointer-events: auto;
         cursor: default;
         }
         table[class=devicewidth] {width: 440px!important;text-align:center!important;}
         table[class=devicewidthinner] {width: 420px!important;text-align:center!important;}
         table[class=mainsmall1] { float:left!important;}
         table[class=mainsmall2] { float:right!important;}
         table[class=banner-gap] { display:none!important;}
         img[class="bannerbig"] {width: 440px!important;height:371px!important;}
         img[class="spacinglines"]{width: 420px!important;}
         
         
         }
         /*IPHONE STYLES*/
         @media only screen and (max-width: 480px) {
         a[href^="tel"], a[href^="sms"] {
         text-decoration: none;
         color: #33b9ff; /* or whatever your want */
         pointer-events: none;
         cursor: default;
         }
         .mobile_link a[href^="tel"], .mobile_link a[href^="sms"] {
         text-decoration: default;
         color: #33b9ff !important; 
         pointer-events: auto;
         cursor: default;
         }
         table[class=devicewidth] {width: 280px!important;text-align:center!important;}
         table[class=devicewidthinner] {width: 260px!important;text-align:center!important;}
         table[class=mainsmall1] { float:left!important;width: 120px!important;height:90px!important;}
         table[class=mainsmall2] { float:right!important;width: 120px!important;height:90px!important;}
         img[class=mainsmall1] { width: 120px!important;height:90px!important;}
         img[class=mainsmall2] { width: 120px!important;height:90px!important;}
         table[class=banner-gap] { display:none!important;}
         img[class="bannerbig"] {width: 280px!important;height:236px!important;}
         img[class="spacinglines"]{width: 260px!important;}
         
        
         }
      </style> <!-- Start of header -->
<table width="100%" bgcolor="#f7f7f7" cellpadding="0" cellspacing="0" id="backgroundTable" st-sortable="header">
<tbody>
<tr>
	<td>
		<table width="600" cellpadding="0" cellspacing="0" align="center" class="devicewidth">
		<tbody>
		<tr>
			<td width="100%">
				 <!-- Spacing --><!-- Spacing --><!-- Spacing --><!-- Spacing -->
				<table width="600" cellpadding="0" cellspacing="0" align="center" class="devicewidth">
				<tbody>
				<tr>
					<td width="100%" height="20">
					</td>
				</tr>
				<tr>
					<td>
						 <!-- logo -->
						<table width="183" align="center" cellpadding="0" cellspacing="0" class="devicewidth">
						<tbody>
						<tr>
							<td width="252" height="50" align="left">
								<div class="imgpop">
 <a target="_blank" href="http://www.sogrevay.ru"> <img width="252" alt="Интернет-магазин Sogrevay.ru" src="http://www.sogrevay.ru/upload/log.png" height="49" border="0" style="display:block; border:none; outline:none; text-decoration:none;"> </a>
								</div>
							</td>
						</tr>
						</tbody>
						</table>
						 <!-- end of logo -->
					</td>
				</tr>
				<tr>
					<td width="100%" height="10">
					</td>
				</tr>
				</tbody>
				</table>
			</td>
		</tr>
		</tbody>
		</table>
	</td>
</tr>
</tbody>
</table>
 <!-- End of Header --> <!-- Start of menu -->
<table width="100%" bgcolor="#f7f7f7" cellpadding="0" cellspacing="0" id="backgroundTable" st-sortable="menu">
<tbody>
<tr>
	<td>
		<table width="600" cellpadding="0" cellspacing="0" align="center" class="devicewidth">
		<tbody>
		<tr>
			<td width="100%">
				<hr style="border-top:3px solid #D12A2D; border-bottom:none; width:600px;">
			</td>
		</tr>
		</tbody>
		</table>
	</td>
</tr>
</tbody>
</table>
 <!-- End of menu --> <!-- Start of banner -->
<table width="100%" bgcolor="#f7f7f7" cellpadding="0" cellspacing="0" id="backgroundTable" st-sortable="header">
<tbody>
<tr>
	<td>
		 <!-- Spacing --><!-- Spacing --><!-- Spacing --><!-- Spacing --><!-- Spacing --><!-- Spacing -->
		<table width="600" cellpadding="0" cellspacing="0" align="center" class="devicewidth">
		<tbody>
		<tr>
			<td width="100%" height="10">
			</td>
		</tr>
		<tr>
			<td width="100%" style="text-align:center;">
 <span style="color:#000000; text-align:center; font-weight:bold;line-height: 150%;font-size: 15px;">Уважаемые покупатели!</span>
			</td>
		</tr>
		<tr>
			<td width="100%" height="10">
			</td>
		</tr>
		<tr>
			<td width="100%" style="text-align:justify;">
 <span style="line-height: 150%;font-size: 15px; color:#000000; ">С 12 по 31 мая в интернет-магазине SOGREVAY.RU проходит акция «Игра сезонов». Мы дарим Вам скидку -30% на все жакеты, кардиганы и вязаные пальто, включая новинки! В наших переменчивых погодных условиях качественный и уютный трикотаж никогда не утрачивает своей актуальности. Порадуйте себя интересными и комфортными вещами, выразите себя посредством одежды, будьте прекрасны!</span>
			</td>
		</tr>
		<tr>
			<td width="100%" height="20">
			</td>
		</tr>
		</tbody>
		</table>
		<table width="600" cellpadding="0" cellspacing="0" align="center" class="devicewidth">
		<tbody>
		<tr>
			<td width="100%">
 <a target="_blank" href="http://www.sogrevay.ru/catalog/zhenskiy-trikotazh/na-zastezhke/"> <img width="600" alt="Игра сезонов" src="http://www.sogrevay.ru/upload/Game_of_seasons_low.jpg" height="219" border="0" style="display:block; border:none; outline:none; text-decoration:none;" class="bannerbig"> </a>
			</td>
		</tr>
		</tbody>
		</table>
		 <!-- Spacing --><!-- Spacing --><!-- Spacing --><!-- Spacing -->
		<table width="600" cellpadding="0" cellspacing="0" align="center" class="devicewidth">
		<tbody>
		<tr>
			<td width="100%" height="20">
			</td>
		</tr>
		<tr>
			<td width="100%" style="text-align:justify;">
 <span style="line-height: 150%;font-size: 15px; color:#000000;">
				В нашем интернет-магазине Вы также можете приобрести швейный трикотаж. Обратите внимание, что практически каждая модель платья, блузы и топа представлена в нескольких прекрасных расцветках. Чудесные блузы с вырезом-«кармен», элегантные жаккардовые платья, графические узоры, флористические принты и всегда актуальная полоска, - все это и многое другое Вы сможете найти на страницах нашего каталога.</span>
			</td>
		</tr>
		<tr>
			<td width="100%" height="20">
			</td>
		</tr>
		</tbody>
		</table>
		<table width="600" cellpadding="0" cellspacing="0" align="center" class="devicewidth">
		<tbody>
		<tr>
			<td width="100%">
 <a target="_blank" href="http://www.sogrevay.ru/catalog/zhenskiy-trikotazh/shveynye-izdeliya/"> <img width="600" alt="Швейные новинки" src="http://www.sogrevay.ru/upload/New_arrival_sew.jpg" height="219" border="0" style="display:block; border:none; outline:none; text-decoration:none;" class="bannerbig"> </a>
			</td>
		</tr>
		</tbody>
		</table>
		 <!-- Spacing --><!-- Spacing --><!-- Spacing --><!-- Spacing -->
		<table width="600" cellpadding="0" cellspacing="0" align="center" class="devicewidth">
		<tbody>
		<tr>
			<td width="100%" height="20">
			</td>
		</tr>
		<tr>
			<td width="100%" style="text-align:justify;">
 <span style="line-height: 150%;font-size: 15px; color:#000000;">
				<p>
				</p>
 </span>
			</td>
		</tr>
		<tr>
			<td width="100%" height="10">
			</td>
		</tr>
		</tbody>
		</table>
	</td>
</tr>
</tbody>
</table>
 <!-- End of banner --> <!-- text -->
<table width="100%" bgcolor="#f7f7f7" cellpadding="0" cellspacing="0" id="backgroundTable" st-sortable="full-text">
<tbody>
<tr>
	<td>
		<table width="600" cellpadding="0" cellspacing="0" align="center" class="devicewidth">
		<tbody>
		<tr>
			<td width="100%">
				 <!-- Spacing --><!-- Spacing --><!-- Spacing --><!-- Spacing -->
				<table width="600" cellpadding="0" cellspacing="0" align="center" class="devicewidth">
				<tbody>
				<tr>
					<td height="20" style="font-size:1px; line-height:1px; mso-line-height-rule: exactly;">
						 &nbsp;
					</td>
				</tr>
				<tr>
					<td>
						 <!-- Spacing --><!-- Spacing --><!-- spacing --><!-- End of spacing --><!-- Title --><!-- End of Title --><!-- spacing --><!-- End of spacing --><!-- content --><!-- End of content --><!-- spacing --><!-- End of spacing --><!-- Spacing --><!-- Spacing -->
						<table width="560" align="center" cellpadding="0" cellspacing="0" class="devicewidthinner">
						<tbody>
						<tr>
							<td width="100%" height="15" style="font-size:1px; line-height:1px; mso-line-height-rule: exactly;">
								<hr style="border-top:3px solid #D12A2D; border-bottom:none; width:600px;">
							</td>
						</tr>
						<tr>
							<td width="100%" height="10" style="font-size:1px; line-height:1px; mso-line-height-rule: exactly;">
								 &nbsp;
							</td>
						</tr>
						<tr>
							<td style="font-family: Helvetica, arial, sans-serif; font-size: 20px;font-weight:bold; color: #000000; text-align:center; line-height: 20px;">
								 Удачных Вам покупок!
							</td>
						</tr>
						<tr>
							<td width="100%" height="15" style="font-size:1px; line-height:1px; mso-line-height-rule: exactly;">
								 &nbsp;
							</td>
						</tr>
						<tr>
							<td style="margin:0; font-family: Helvetica, arial, sans-serif; font-size: 18px; color: #696969; text-align:center; line-height: 20px;">
 <span style="padding:0 10px;">8-495-502-90-99</span> <span style="padding:0 10px;">8-905-544-24-14</span> <span style="padding:0 10px;">8-800-770-05-33</span>
							</td>
						</tr>
						<tr>
							<td width="100%" height="10" style="font-size:1px; line-height:1px; mso-line-height-rule: exactly;">
								 &nbsp;
							</td>
						</tr>
						<tr>
							<td width="100%" height="15" style="font-size:1px; line-height:1px; mso-line-height-rule: exactly;">
								<hr style="border-top:3px solid #D12A2D; border-bottom:none; width:600px;">
							</td>
						</tr>
						</tbody>
						</table>
					</td>
				</tr>
				<tr>
					<td height="20" style="font-size:1px; line-height:1px; mso-line-height-rule: exactly;">
						 &nbsp;
					</td>
				</tr>
				</tbody>
				</table>
			</td>
		</tr>
		</tbody>
		</table>
	</td>
</tr>
</tbody>
</table>
 <!-- end of text --> <!-- 3 columns -->
<table width="100%" bgcolor="#f7f7f7" cellpadding="0" cellspacing="0" id="backgroundTable">
<tbody>
<tr>
	<td>
		<table width="600" cellpadding="0" cellspacing="0" align="center" class="devicewidth">
		<tbody>
		<tr>
			<td width="100%">
				 <!-- spacing --><!-- end of spacing -->
				<table width="600" cellpadding="0" cellspacing="0" align="center" class="devicewidth">
				<tbody>
				<tr>
					<td>
						 <!-- col 1 --> <!-- image 2 --><!-- end of image2 --><!-- end of text content table -->
						<table bgcolor="#ffffff" width="186" align="left" cellpadding="0" cellspacing="0" class="devicewidth">
						<tbody>
						<tr>
							<td width="186" height="231" align="center" class="devicewidth">
 <a href="http://www.sogrevay.ru/catalog/zhenskiy-trikotazh/"> <img width="186" alt="Женский каталог" src="http://www.sogrevay.ru/upload/zhen1.jpg" height="231" border="0" style="display:block; border:none; outline:none; text-decoration:none;"> </a>
							</td>
						</tr>
						<tr>
							<td>
								 <!-- start of text content table --> <!-- Spacing --><!-- Spacing --><!-- title2 --><!-- end of title2 --><!-- read more --><!-- end of read more -->
								<table width="186" align="center" cellpadding="0" cellspacing="0" class="devicewidthinner">
								<tbody>
								<tr>
									<td width="100%" height="5" style="font-size:1px; line-height:1px; mso-line-height-rule: exactly;">
										 &nbsp;
									</td>
								</tr>
								<tr>
									<td style="font-family: Helvetica, arial, sans-serif; font-size: 14px; color: #222222; text-align:center; line-height: 24px;" st-title="3col-title1">
 <a style="color:#000000;" href="http://www.sogrevay.ru/catalog/zhenskiy-trikotazh/">Женский каталог</a>
									</td>
								</tr>
								<tr>
									<td style="font-family: Helvetica, arial, sans-serif; font-size: 14px; color: #903537; text-align:center; line-height: 20px;" st-title="3col-readmore3">
										 &nbsp;
									</td>
								</tr>
								</tbody>
								</table>
							</td>
						</tr>
						</tbody>
						</table>
						 <!-- spacing -->
						<table width="20" align="left" cellpadding="0" cellspacing="0" class="removeMobile">
						<tbody>
						<tr>
							<td width="100%" height="15" style="font-size:1px; line-height:1px; mso-line-height-rule: exactly;">
								 &nbsp;
							</td>
						</tr>
						</tbody>
						</table>
						 <!-- end of spacing --> <!-- col 2 --> <!-- image 2 --><!-- end of image2 --><!-- end of text content table -->
						<table bgcolor="#ffffff" width="186" align="left" cellpadding="0" cellspacing="0" class="devicewidth">
						<tbody>
						<tr>
							<td width="186" height="231" align="center" class="devicewidth">
 <a href="http://www.sogrevay.ru/catalog/muzhskoy-trikotazh/"> <img width="186" alt="Мужской каталог" src="http://www.sogrevay.ru/upload/muzh1.jpg" height="231" border="0" style="display:block; border:none; outline:none; text-decoration:none;"> </a>
							</td>
						</tr>
						<tr>
							<td>
								 <!-- start of text content table --> <!-- Spacing --><!-- Spacing --><!-- title2 --><!-- end of title2 --><!-- read more --><!-- end of read more -->
								<table width="186" align="center" cellpadding="0" cellspacing="0" class="devicewidthinner">
								<tbody>
								<tr>
									<td width="100%" height="5" style="font-size:1px; line-height:1px; mso-line-height-rule: exactly;">
										 &nbsp;
									</td>
								</tr>
								<tr>
									<td style="font-family: Helvetica, arial, sans-serif; font-size: 14px; color: #222222; text-align:center; line-height: 24px;" st-title="3col-title2">
 <a style="color:#000000;" href="http://www.sogrevay.ru/catalog/muzhskoy-trikotazh/">Мужской каталог</a>
									</td>
								</tr>
								<tr>
									<td style="font-family: Helvetica, arial, sans-serif; font-size: 14px; color: #903537; text-align:center; line-height: 20px;" st-title="3col-readmore3">
										 &nbsp;
									</td>
								</tr>
								</tbody>
								</table>
							</td>
						</tr>
						</tbody>
						</table>
						 <!-- end of col 2 --> <!-- spacing -->
						<table width="1" align="left" cellpadding="0" cellspacing="0" class="removeMobile">
						<tbody>
						<tr>
							<td width="100%" height="15" style="font-size:1px; line-height:1px; mso-line-height-rule: exactly;">
								 &nbsp;
							</td>
						</tr>
						</tbody>
						</table>
						 <!-- end of spacing --> <!-- col 3 --> <!-- image3 --><!-- end of image3 --><!-- end of text content table -->
						<table bgcolor="#ffffff" width="186" align="right" cellpadding="0" cellspacing="0" class="devicewidth">
						<tbody>
						<tr>
							<td width="186" height="231" align="center" class="devicewidth">
 <a href="http://www.sogrevay.ru/catalog/detskiy-trikotazh/"> <img width="186" alt="Детский каталог" src="http://www.sogrevay.ru/upload/det1.jpg" height="231" border="0" style="display:block; border:none; outline:none; text-decoration:none;"> </a>
							</td>
						</tr>
						<tr>
							<td>
								 <!-- start of text content table --> <!-- Spacing --><!-- Spacing --><!-- title --><!-- end of title --><!-- read more --><!-- end of read more -->
								<table width="186" align="center" cellpadding="0" cellspacing="0" class="devicewidthinner">
								<tbody>
								<tr>
									<td width="100%" height="5" style="font-size:1px; line-height:1px; mso-line-height-rule: exactly;">
										 &nbsp;
									</td>
								</tr>
								<tr>
									<td style="font-family: Helvetica, arial, sans-serif; font-size: 14px; color: #222222; text-align:center; line-height: 24px;" st-title="3col-title3">
 <a style="color:#000000;" href="http://www.sogrevay.ru/catalog/detskiy-trikotazh/">Детский каталог</a>
									</td>
								</tr>
								<tr>
									<td style="font-family: Helvetica, arial, sans-serif; font-size: 14px; color: #903537; text-align:center; line-height: 20px;" st-title="3col-readmore3">
										 &nbsp;
									</td>
								</tr>
								</tbody>
								</table>
							</td>
						</tr>
						</tbody>
						</table>
					</td>
				</tr>
				</tbody>
				</table>
			</td>
		</tr>
		</tbody>
		</table>
	</td>
</tr>
</tbody>
</table>
 <!-- end of 3 columns --> <!-- start of call to action -->
<table width="100%" bgcolor="#f7f7f7" cellpadding="0" cellspacing="0" id="backgroundTable">
<tbody>
<tr>
	<td>
		<table width="600" cellpadding="0" cellspacing="0" align="center" class="devicewidth">
		<tbody>
		<tr>
			<td width="100%">
				 <!-- Spacing --><!-- Spacing --><!-- Spacing --><!-- Spacing -->
				<table bgcolor="#333333" width="600" cellpadding="0" cellspacing="0" align="center" class="devicewidth">
				<tbody>
				<tr>
					<td height="20">
					</td>
				</tr>
				<tr>
					<td>
						<table width="560" align="center" cellpadding="0" cellspacing="0" class="devicewidthinner">
						<tbody>
						<tr>
							<td>
								 <!-- start left column--> <!-- title --><!-- end of title -->
								<table width="280" align="left" cellpadding="0" cellspacing="0" class="devicewidthinner">
								<tbody>
								<tr>
								</tr>
								<tr>
									<td style="padding-left:5px; font-family: Helvetica, arial, sans-serif; font-size: 24px; font-weight:400; color: #ffffff; text-align:left; line-height: 30px;">
 <span style="line-height: 130%; font-size: 18px; color: #FFFFFF; display:inline-block; margin:0;">8 (495) 502-90-99<br>
										 8 (905) 544-24-14<br>
										 8 (800) 770-05-33</span>
									</td>
								</tr>
								</tbody>
								</table>
								 <!-- end of left column --> <!-- spacing for mobile -->
								<table width="1" height="10" align="left" cellpadding="0" cellspacing="0" class="devicewidthinner">
								<tbody>
								<tr>
									<td width="1" height="10" align="center" style="font-size:1px; line-height:1px;">
										 &nbsp;
									</td>
								</tr>
								</tbody>
								</table>
								 <!-- end spacing for mobile --> <!-- start of right column --> <!-- button --><!-- end of button -->
								<table width="270" align="right" cellpadding="0" cellspacing="0" class="devicewidthinner">
								<tbody>
								<tr>
									<td>
										<table width="270" height="60" bgcolor="#D12A2D" align="center" valign="middle" cellpadding="0" cellspacing="0" style="border-radius:3px;" class="tablet-button">
										<tbody>
										<tr>
											<td height="20" align="center" style="font-size:1px; line-height:1px;">
												 &nbsp;
											</td>
										</tr>
										<tr>
											<td height="30" align="center" valign="middle" style="font-family: Helvetica, arial, sans-serif; font-size: 24px;color: #ffffff; text-align:center;line-height: 30px;" class="tablet-button">
 <a style="color: #ffffff; text-align:center;text-decoration: none;" href="http://www.sogrevay.ru">SOGREVAY</a>
											</td>
										</tr>
										<tr>
											<td height="20" align="center" style="font-size:1px; line-height:1px;">
												 &nbsp;
											</td>
										</tr>
										</tbody>
										</table>
									</td>
								</tr>
								</tbody>
								</table>
								 <!-- end of right column -->
							</td>
						</tr>
						</tbody>
						</table>
					</td>
				</tr>
				<tr>
					<td height="20">
					</td>
				</tr>
				</tbody>
				</table>
			</td>
		</tr>
		</tbody>
		</table>
	</td>
</tr>
</tbody>
</table>
 <!-- end of call to action --> <!-- Start of preheader -->
<table width="100%" bgcolor="#f7f7f7" cellpadding="0" cellspacing="0" id="backgroundTable" st-sortable="preheader">
<tbody>
<tr>
	<td>
		<table width="600" cellpadding="0" cellspacing="0" align="center" class="devicewidth">
		<tbody>
		<tr>
			<td width="100%">
				 <!-- Spacing --><!-- Spacing --><!-- Spacing --><!-- Spacing -->
				<table width="600" cellpadding="0" cellspacing="0" align="center" class="devicewidth">
				<tbody>
				<tr>
					<td width="100%" height="20">
					</td>
				</tr>
				<tr>
					<td>
						<table width="600" align="left" cellpadding="0" cellspacing="0" class="devicewidth">
						<tbody>
						<tr>
							<td align="left" valign="middle" style="font-family: Helvetica, arial, sans-serif; font-size: 12px;color: #666666" st-content="viewonline">
								 Если не хотите получать от нас сообщения Вы можете <a href="http://www.sogrevay.ru/subscribes/" style="text-decoration:none;color:#903537">отписаться</a>
							</td>
						</tr>
						</tbody>
						</table>
					</td>
				</tr>
				<tr>
					<td width="100%" height="20">
					</td>
				</tr>
				</tbody>
				</table>
			</td>
		</tr>
		</tbody>
		</table>
	</td>
</tr>
</tbody>
</table>
 <!-- End of preheader --><br>