.bx-black.bx-top-nav .bx-top-nav-container {
	background: #000;
}
.bx-black.bx-top-nav .bx-top-nav-container .bx-nav-1-lvl.bx-hover>a,
.bx-black.bx-top-nav .bx-top-nav-container .bx-nav-1-lvl.bx-active>a,
.bx-black.bx-top-nav .bx-top-nav-container .bx-nav-1-lvl:hover>a {
	background: #F0F0F0;
	color: #b42e31;
	border-bottom: none;
}
.bx-black.bx-top-nav .bx-top-nav-container .bx-nav-1-lvl.bx-nav-parent.bx-hover>a,
.bx-black.bx-top-nav .bx-top-nav-container .bx-nav-1-lvl.bx-nav-parent:hover>a {
	color: #b42e31;
	background-color: transparent;
}
/*2 lvl*/

.bx-black.bx-top-nav .bx-top-nav-container .bx-nav-2-lvl>a:hover {
	color: #333;
	background: #F0F0F0;
}
/*3 lvl*/
.bx-black.bx-top-nav .bx-top-nav-container .bx-nav-3-lvl a:hover {
	color: #333;
	background: #F0F0F0;
}