div.prop_20, div.prop_4 {opacity:0.1 !important; display:none;}

.bx-sls .dropdown-block {
	border: 1px solid #000000;
    border-radius: 0px;
    padding: 0px 22px 10px 30px;

}

.bx-ui-combobox-container .bx-combobox-fake-as-input {
	height: 36px !important;
	}

.bx_ordercart h4 {
	display: block;
    margin-top: 25px;
    padding-bottom: 5px;
    text-transform: uppercase;
    color: #D12A2D;
    font-weight: bold;
    margin-bottom: 20px;
}

.bx_ordercart_order_table_container thead td {
	padding: 5px 10px 5px 0;
    min-height: 36px;
    color: #000;
    font-size: 16px;
    line-height: 36px;
    border-bottom: 1px solid black;
    border-top: 1px solid black;
    text-transform: uppercase;
}
	
#order_form_div .sale_data-table.summary td {
	background: #fff !important;
}
#order_form_div {
	font-size: 12px;
	color: #000;
}
#order_form_div .sof-req {
	color: red;
	font-size: 10px;
}
#order_form_div .clear {
	content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
	font-size: 0px;
	line-height: 0px;
}
#order_form_div input[type="text"],
#order_form_div input[type="password"],
#order_form_div textarea,
#order_form_div select{
	background: #fff;
	border: 1px solid black;
	color: black;
	display: inline-block;
	vertical-align: middle;
	font-size: 14px;
	padding: 6px 8px;
	margin-bottom: 3px;
	font-weight: normal;
}
#order_form_div .section {
	margin-bottom: 20px;
}
#order_form_div .title {
	font-weight: bold;
	font-size: 15px;
	border-bottom: 1px solid #dcdfe2;
	width: 100%;
	padding-bottom: 5px;
	margin-bottom: 5px;
}
#order_form_div .title a {
	color: #2d739d;
	font-size: 12px;
	text-decoration: underline;
	margin-left: 10px;
	outline: none;
}
#order_form_div .title a:hover {
	text-decoration: none;
}
#order_form_div .label.left {
	float: left;
	margin: 0 10px 10px 0;
}

#order_form_div label {
	color: #000;
	font-size: 13px;
}
#order_form_div .sale_order_table {
	font-size: 12px;
	border-collapse: collapse;
	border-spacing: 0;
	width: 100%;
}
#order_form_div .sale_order_table td {
	padding: 15px 0;
	background: none !important;
}
#order_form_div .sale_order_table .name {
	width: 190px;
	text-align: left;
	vertical-align: top;
}
#order_form_div .sale_order_table.props td {
	border-bottom: 1px solid #dcdfe2;
}
#order_form_div .sale_order_table input[type="text"],
#order_form_div .sale_order_table textarea,
#order_form_div .sale_order_table select{
	width: 365px;
}
#order_form_div .sale_order_table textarea {
	height: 70px;
	overflow: hidden;
	resize: none;
}
#order_form_div .sale_order_table select {
	padding: 6px 3px 6px 8px;
	width: 383px;
	margin-bottom: 5px;
}
#order_form_div .sale_order_table .desc {
	color: #a3a3a3;
	font-size: 11px;
	margin: 3px 0;
}

/*paysystem*/
#order_form_div .sale_order_table.paysystem td {
	border-bottom: none;
}
#order_form_div .sale_order_table .ps_logo {
	float: left;
	text-align: center;
	margin: 0 15px 10px 0;
	height: 85px;
}

#order_form_div .sale_order_table .with_description {
	margin-right: 0 !important;
	height: 30px;
}

#order_form_div .sale_order_table .ps_logo img,
#order_form_div  .sale_order_confirm img,
#order_form_div .account img {
	border-radius: 2px;
	border: 1px solid #d1d1d1;
	box-shadow: 2px 2px 2px rgba(180,188,191,0.5);
	padding:1px;
	float: left;
}



div.bx_section div.bx_block div.bx_element input[type=radio],
div.bx_section div.bx_block div.bx_element input[type=checkbox],
#order_form_div .sale_order_table .ps_logo input[type=radio],
#order_form_div .account input[type=checkbox] {
	display: none;
}

.bx_element input[type=radio]:checked + label .bx_logotype,
.bx_element label.selected .bx_logotype
{
	/border: 2px solid #2d739d !important;
	padding: 1px;
}

#order_form_div .sale_order_table .paysystem_name,
#order_form_div .sale_order_confirm .paysystem_name {
	font-size: 11px;
	color: #a3a3a3;
	width: 95px;
	line-height: 11px;
	margin-top: 65px;
}
.ps_logo .paysystem_name {
	margin-top:10px;
	display: inline-block;
    padding-left: 30px;
}
#order_form_div .account img,
#order_form_div .account .desc {
	float: left;
}
#order_form_div .account img {
	margin-right: 10px;
}
#order_form_div .account .name {
	font-weight: bold;
	margin-bottom: 3px;
	color: #000;
}
#order_form_div .account .desc {
	font-size: 11px;
	color: #a3a3a3;
	line-height: 11px;
	text-align: left;
	width: 80%;
}
#order_form_div .account .desc.width_limited {width:100%;}
#order_form_div .account .ps_logo.with_description {width:100%;}

.bx_section.pay_system label {border:1px solid #E0E0E0; width:100%;padding:15px; cursor:pointer; min-width: 170px; text-align:center;}
.bx_section.pay_system label:hover {background-color:#EAEAEA;} 
.bx_section.pay_system label.active {background-color:#EAEAEA; outline:#D12A2D 3px solid;}
.bx_section.pay_system .bx_logotype, 
.bx_section.pay_system .bx_logotype:hover {border:none !important; float:none !important; box-shadow:none;}
.bx_section.pay_system .bx_logotype span {display:inline-block;}
.bx_section.pay_system .bx_description {text-align: center;}
.bx_section.pay_system .bx_description strong { font-size:14px;}


/*delivery*/
#order_form_div .sale_order_table.delivery td {
	padding: 7px 0;
}
#order_form_div .sale_order_table.delivery .name {
	font-weight: bold;
	width: auto;
	color: #000;
}
#order_form_div .sale_order_table.delivery .desc {
	color: #a3a3a3;
	width: 400px;
}
#order_form_div .sale_order_table.delivery td table {
	width: auto;
}
#order_form_div .sale_order_table.delivery td table td {
	padding: 0;
	text-align: left;
}
#order_form_div .sale_order_table.delivery .prop img {
	border-radius: 2px;
	border: 1px solid #d1d1d1;
	box-shadow: 2px 2px 2px rgba(180,188,191,0.5);
	padding:1px;
	margin: 0 10px 0 0;
}
#order_form_div .sale_order_table.delivery .prop input,
#order_form_div .sale_order_table.delivery .prop img,
#order_form_div .sale_order_table.delivery .prop .desc {
	float: left;
	margin-right: 10px;
}
#order_form_div .sale_order_table.delivery .prop input[type=radio] {
	display: none;
}

div.bx_block.w100.vertical.b_delivery {width:100%;}
div.b_delivery label {border:1px solid #E0E0E0; width:100%;padding:15px; cursor:pointer;}
div.b_delivery label:hover {background-color:#EAEAEA;} 
div.b_delivery label.active {background-color:#EAEAEA;outline: #D12A2D 3px solid;}
div.b_delivery .e-postamat-select {margin-top:5px; width:100%;}
div.b_delivery .e-postamat-select option {
    white-space: normal;
    border-bottom: 1px solid #EEE;
}
div.b_delivery .e-postamat-select option:hover {
	background-color:#EAEAEA;
}
@media (max-width:640px){
	div.bx_block.w100.vertical.b_delivery {width:100%;}
}

.progress-div {
	width:100%; 
	height:100%; 
	position:absolute; 
	left:0; 
	top:0; 
	background: rgba(255, 255, 255, 0.7) url(images/loader.gif) no-repeat 50% 50%;
}




/*summary*/
#order_form_div .sale_data-table {
	border-collapse: collapse;
	border-spacing: 0;
	width: 100%;
	margin-top: 10px;
}
#order_form_div .sale_data-table th {
	background-color: #f5f5f5;
	padding: 7px 13px;
	text-align: left;
	font-weight: normal;
}
#order_form_div .sale_data-table td {
	border-bottom: 1px solid #f5f5f5;
	padding: 7px 13px;
	text-align: left;
	background: none !important;
}
#order_form_div .sale_data-table td.price {
	white-space: nowrap;
	text-align: right;
}
#order_form_div .sale_data-table td.itog {
	text-align: right;
}
#order_form_div .sale_data-table tfoot td {
	border-bottom: none;
}
#order_form_div .sale_data-table tfoot tr.last td {
	border-top: 1px solid #f5f5f5;
	font-weight: bold;
	white-space: nowrap;
}
#order_form_div .order_comment {
	width: 100%;
}
#order_form_div .order_comment div {
	color: #a3a3a3;
	font-size: 12px;
	margin-bottom: 5px;
}
#order_form_div .order_comment textarea {
	width: 97%;
	height: 70px;
}

/* auth */
#order_form_div .order-auth {
	border-collapse: collapse;
	border-spacing: 0;
	width: 100%;
}
#order_form_div .order-auth td {
	text-align: left;
	vertical-align: top;
}
#order_form_div .sale_order_table.delivery .errortext {
	margin: 0;
	font-size: 11px;
	padding: 5px;
	width: 230px;
}
#order_form_div .sale_order_full_table td.ps_logo {
	text-align: left;
	vertical-align: top;
}
#order_form_div .sale_order_full_table .ps_logo .pay_name {
	font-weight: bold;
}
#order_form_div .desc .ora-store {
	font-size: 12px;
}
.store_location {
	display:none;
}
.store_location .ora-store {
	width: 40%;
	float: left;
}
.store_location .ora-store table td {
	padding: 10px;
	text-align: left;
	vertical-align: top;
}
.store_location .name {
	font-weight: bold;
}
.store_location .location {
	width: 60%;
	float: left;
}
#order_form_div .select_store {
	font-size:12px;
}

.image {
	padding: 5px 0 5px 0;
}

/* new */

.bx_order_make{
	font-size: 14px;
}
.bx_order_make hr{
	border: none;
	border-bottom: 1px solid #dcdfe2;
}
.bx_order_make .bx_section{
	margin-bottom: 20px;
}
.bx_order_make .bx_section h4, .bx_order_make h4 {
    display: block;
    margin-top: 30px;
    padding-bottom: 5px;
    text-transform: uppercase;
    color: #D12A2D;
    font-weight: bold;
    margin-bottom: 20px;
}
.bx_order_make .bx_block{
	float: left;
	-webkit-box-sizing:border-box;
	   -moz-box-sizing:border-box;
			box-sizing:border-box;
	margin-right: 15px;
	margin-bottom: 10px;
	padding:0 10px;
	vertical-align: middle;
}
.bx_order_make .bx_block.r1x3.pt8{padding-top:8px}
.bx_order_make .bx_block.r1x3{
	margin:0;
	width:20%;
    text-transform: uppercase;
    font-weight: normal;
    font-size: 14px;
    padding-left: 0;
	}
.bx_order_make .bx_block.r3x1{margin:0; 		  width:80% }
.bx_order_make .bx_block.w100{margin:5px 0 10px 0;width:100%}
.bx_order_make .bx_block.horizontal {margin:5px 0 10px 0}
@media (max-width:640px){
	.bx_order_make .bx_block.r1x3{width:35%}
	.bx_order_make .bx_block.r3x1{width:65%}
}
@media (max-width:480px){
	.bx-touch .bx_order_make .bx_block.r1x3,
	.bx-touch .bx_order_make .bx_block.r3x1{float:none;margin-right:0;width:100%;}
}
.bx_order_make .bx_block input[type="text"],
.bx_order_make .bx_block textarea,
.bx_order_make .bx_block select{width:100%}
.bx_order_make .bx_block input[type="text"],
.bx_order_make .bx_block textarea,
.bx_order_make .bx_block select{
	display: block;
	padding: 6px;
	border: 1px solid black;
	background: #fff;
	color: black;
	vertical-align: middle;
	font-size: 14px;
	max-width:400px
}
.bx_order_make .bx_sof_req{color:rgba(199,31,31,1);font-weight:bold}

.bx_order_make .bx_logotype{
	box-shadow: 0 0 3px 0 rgba(123,152,165,.9);
	cursor: pointer;
	padding: 2px;
	float: left;
	border: 1px solid rgba(123,152,165,.7);
	margin-right: 20px;
}
.bx_order_make .bx_block.horizontal .bx_logotype{margin-right: 0}
.bx_order_make .bx_logotype span{
	display: block;
	width: 100px;
	height: 60px;
	background-repeat: no-repeat;
	background-position: center;
}
.bx_order_make .bx_logotype.active,
.bx_order_make .bx_logotype:hover{
	box-shadow: 0 0 3px 0 rgba(0,93,153,1);
	border: 1px solid rgba(0,93,153,.8);
	padding: 2px;
}
.bx_order_make .bx_description{
	font-size: 14px;
	/*color: #a3a3a3;
	float: left;*/
}
.bx_order_make .bx_description p{
	display: block;
	font-weight: normal;
	/*clear: both*/
}
.bx_order_make .bx_result_price{
	color: #000 !important;
	float: right;
	text-align: right;
	font-size:20px;
	padding-left: 30px;
}
.bx_order_make .bx_result_price .errortext {
	width:100%;
	max-width:100% !important;
}
.bx_order_make .bx_result_price a{font-weight: normal;}
@media (max-width:640px){
	.bx_order_make .bx_result_price{
		float: none;
		display: block;
		width: 100%;
	}
}

.bx_order_make .bx_description .name {
	display: inline-block;
}

.bx_order_make .bx_result_price a{color: #12a9e1}
.bx_order_make .bx_result_price a:hover{text-decoration:none}
.bx_order_make .bx_description strong,
.bx_order_make .bx_description .name strong {
	display: inline-block;
	color: #000;
	font-size: 18px;
	font-weight: normal;
	/*float: left;*/
}
 

.bx_ordercart .bx_ordercart_order_table_container tbody .right {
    text-align: right !important;
}

div#order_form_content div.bx_section div#sale_order_props div div.bx_block textarea {
 	margin-bottom: 10px;
}

div#order_form_content .errortext {
	display: block;
    margin: 0px;
    margin-bottom: -10px;
    padding: 8px 15px !important;
    max-width: 70%;
    background: #D12A2D;
    color: #FFFFFF !important;
    font-size: 14px;
}

div#order_form_content textarea {
	min-width:0;
	min-height:0;
}

/* new locations */
#order_form_div .bx-sls input[type="text"]{
	margin-bottom: 0;
}
#order_form_div .location-block-wrapper{
	max-width: 400px;
	width: 100%;
}
#order_form_div .dropdown-block{
	width: auto;
}
#order_form_div .bx-ui-sls-container{
	display: block !important;
}
#order_form_div .bx-ui-sls-route{
	padding-top: 0 !important;
}

.-bx-order-property-city{
	display: none;
}
.-bx-popup-special-prompt{
	padding: 5px 10px;
}




.bx-slst .dropdown-block {
	border: 1px solid black !important;
	border-radius: 0 !important;
}

.no-canpay {
	display: inline-block;
    background: #D12A2D;
    color: white;
    padding: 5px 100px 5px 10px;
    margin: 0px 0px 15px 0;
    text-transform: uppercase;
}
.zakaz-ready {
	font-weight: bold;
    font-size: 16px;
    text-shadow: none;
    text-transform: uppercase;
}



.bx_section.pay_system .bx_element label {
	width:175px;
	height: 125px;
	overflow: hidden;
}

label[for=ID_PAY_SYSTEM_ID_10] .bx_description strong {font-size:12px !important;}

label[for=ID_DELIVERY_grastin_post] .bx_logotype span {
	background: white url(/upload/deliveries/logo_pochta.png) no-repeat !important;
}
label[for=ID_DELIVERY_grastin_boxberrySelfpickup] .bx_logotype span {
	background: white url(/upload/deliveries/logo_boxberry_pvz.jpg) no-repeat !important;
}
label[for=ID_DELIVERY_grastin_boxberry] .bx_logotype span {
	background: white url(/upload/deliveries/logo_boxberry_courier.jpg) no-repeat !important;
}

label[for=ID_DELIVERY_grastin_grastin] .bx_logotype span
{
	background: white url(/upload/deliveries/logo_grastin_courier.jpg) no-repeat !important;
}
label[for=ID_DELIVERY_grastin_grastinSelfpickup] .bx_logotype span {
	background: white url(/upload/deliveries/logo_grastin_pvz.jpg) no-repeat !important;
}



.manager-call {
    font-size: 16px;
    line-height: 20px;
    display: block;
	}
