/*
* Project:----------Store-2013
* Component---------CART_PAGE
* Last Refactoring:-31.10.2013
*
* @version:---------13.10.31[r1704]
*/
.bx_ordercart .bx_sort_container a:hover{
	background:#f9f9f9;
}
.bx_ordercart .bx_sort_container a:active{
	background:#707070;
	color:#fff;
	text-shadow:0 1px 0 #505050;
}
.bx_ordercart .bx_ordercart_order_table_container{
	margin:0;
	padding:0;
	width:100%;
	font-size:14px;
	border-bottom: 1px solid black;
}
.bx_ordercart .bx_ordercart_order_table_container table{
	margin:0;
	padding:0;
	min-width:100%;
	border-collapse:collapse;
}
.bx_ordercart .bx_ordercart_order_table_container table td{
	-webkit-box-sizing:border-box;
	   -moz-box-sizing:border-box;
			box-sizing:border-box;
	white-space:nowrap;
	}
.bx_ordercart .bx_ordercart_order_table_container table td.margin{
	padding:0;
}
.bx_ordercart .bx_ordercart_order_table_container table thead td{
	padding: 5px 10px 5px 0;
    min-height: 36px;
    color: #000;
    font-size: 16px;
    line-height: 36px;
    border-bottom: 1px solid black;
    border-top: 1px solid black;
    text-transform: uppercase;
	text-align: center;
}
.bx_ordercart .bx_ordercart_order_table_container table thead td:nth-child(2) {
	text-align: left;
}
.bx_ordercart .bx_ordercart_order_table_container table tbody td{
	padding:2% 1%;
	border-bottom:1px solid #e5e5e5;
	vertical-align:top;
}
.bx_ordercart .bx_ordercart_order_table_container table tbody tr:last-child td{border-bottom:none;}
.bx_ordercart .bx_ordercart_order_table_container tbody td.itemphoto{width: 20%; padding-left: 0;}
.bx_ordercart .bx_ordercart_order_table_container tbody td.item,
.bx_ordercart .bx_ordercart_order_table_container tbody td.custom,
/*.bx_ordercart .bx_ordercart_order_table_container tbody td.control,*/
.bx_ordercart .bx_ordercart_order_table_container tbody td.price{
	text-align:left;
	font-size:16px;
	line-height:22px;
}
.bx_ordercart .bx_ordercart_order_table_container tbody td.custom span{display:none;}
.bx_ordercart .bx_ordercart_order_table_container tbody td.item{width:70%;}
.bx_ordercart .bx_ordercart_order_table_container tbody td.price .current_price{
	color:#000;
	font-weight:bold;
	font-size:17px;
}
.bx_ordercart .bx_ordercart_order_table_container tbody td.price     .old_price{
	color:#b8b8b8;
	text-decoration:line-through;
	font-size:13px;
}
.bx_ordercart .bx_ordercart_order_table_container tbody td.price    .type_price{
	color:#7f7f7f;
	font-size:11px;
	line-height:13px;
}
.bx_ordercart .bx_ordercart_order_table_container tbody td.price .type_price_value{
	font-size:11px;
	line-height:13px;
}
/*.bx_ordercart .bx_ordercart_order_table_container tbody td.control a{
	color:#327ab7;
	font-size:11px;
}
.bx_ordercart .bx_ordercart_order_table_container tbody td.control a:hover{text-decoration:none;}*/
.bx_ordercart .bx_ordercart_photo_container{
	position: relative;
    padding-top: 100%;
    min-width: 150px;
    max-width: 100%;
    height: 0;
}
.bx_ordercart .bx_ordercart_order_table_container .bx_ordercart_photo{
	    position: absolute;
    top: 4%;
    right: 4%;
    bottom: 4%;
    left: 4%;
    background-position: left;
    -webkit-background-size: auto 100%;
    background-size: auto 100%;
    background-repeat: no-repeat;
}
.bx_ordercart .bx_ordercart_order_table_container .bx_ordercart_brand{
	position:relative;
	margin-top:3%;
	min-width:50px;
	max-width:100%;
	border:1px solid #c0cfda;
	border-radius:2px;
	line-height:0;
}
.bx_ordercart .bx_ordercart_order_table_container .bx_ordercart_brand img{
	margin:0;
	padding:0;
	width:100%;
	height:auto;
}
.bx_ordercart .bx_ordercart_order_table_container .bx_ordercart_itemtitle{
	margin: 0;
    padding: 10px 0 5px 0;
    white-space: normal;
    line-height: 28px;
    font-family: 'Circe-Light', Arial, sans-serif;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: normal;
}
.bx_ordercart .bx_ordercart_order_table_container .bx_ordercart_itemtitle a{
	color:#000;
	text-decoration:none;
	font-weight:bold;
	font-size:16px;
	line-height:16px;
}
.bx_ordercart .bx_ordercart_order_table_container .bx_ordercart_itemart{
	margin-bottom: 10px;
    color: black;
    font-size: 14px;
}
.bx-touch    .bx_ordercart td.custom .centered,
.bx-no-touch .bx_ordercart td.custom .some-class{display: none}

.bx_ordercart .bx_ordercart_order_pay{
	-webkit-box-sizing:border-box;
	   -moz-box-sizing:border-box;
			box-sizing:border-box;
	margin:20px auto 0;
	padding:0px 0px;
}
/*.bx_ordercart .bx_ordercart_order_pay_left{
	float:left;
	width:50%;
}*/
/*.bx_ordercart .bx_ordercart_order_pay_right{
	float:left;
	width:50%;
	text-align:right;
}*/
/*.bx_ordercart .bx_ordercart_coupon{ }*/
/*.bx_ordercart .bx_ordercart_coupon span{
	display:block;
	margin-bottom:13px;
	color:#7f7f7f;
	font-size:13px;
}*/
/*.bx_ordercart .bx_ordercart_coupon input{
	height:34px;
	border:1px solid #bababa;
	border-radius:3px;
	box-shadow:inset 0 1px 2px 0 rgba(0,0,0,.21);
	color:#000;
	text-align:center;
	font-weight:bold;
	font-size:16px;
	line-height:34px;
}*/
/*.bx_ordercart .bx_ordercart_coupon input.good{
	border:1px solid #59a62a;
	background:rgba(89,166,42,.16);
	box-shadow:0 0 2px 0 rgba(89,166,42,.8);
}*/
/*.bx_ordercart .bx_ordercart_coupon input.bad{
	border:1px solid #e16565;
	background:rgba(225,101,101,.16);
	box-shadow:0 0 2px 0 rgba(225,101,101,.8);
}*/
.bx_ordercart .bx_ordercart_order_sum{float:right;}
.bx_ordercart .bx_ordercart_order_sum tr{ }
.bx_ordercart .bx_ordercart_order_sum tr td{
	padding:1px;
	text-align:right;
	font-size:16px;
}
.bx_ordercart .bx_ordercart_order_sum tr td.custom_t1{width:100%; padding-right: 20px;}
.bx_ordercart .bx_ordercart_order_sum tr td.custom_t2{white-space:nowrap;}
.bx_ordercart .bx_ordercart_order_sum tr td.fwb{font-weight:bold;}
.bx_ordercart_order_pay_center{
	margin-top:20px;
	padding-top:20px;
	border-top:1px solid #e4e6e8;
	text-align:right;
}
.bx_ordercart_order_pay_center span,
.bx_ordercart_order_pay_center a{
	vertical-align:top;
	line-height:53px;
}
.bx_ordercart_order_pay_center span{
	margin:0 30px;
	font-weight:bold;
	font-size:17px;
}
.bx_ordercart_order_pay_center .checkout{
	position: relative;
    top: 0;
    display: inline-block;
    padding: 0 18px;
    color: black;
    vertical-align: bottom;
    font-family: 'Circe-Light', Arial, sans-serif;
    text-decoration: none;
    font-size: 16px;
    text-transform: uppercase;
    line-height: 36px;
    background: #D12A2D;
    color: white;
    border: 1px solid #D12A2D;
    margin-bottom: 20px;
}
.bx_ordercart_order_pay_center .checkout:hover{
	background:white;
	border: 1px solid black;
	color: black;
}
.bx_ordercart_order_pay_center .checkout:active{
	background:white;
	border: 1px solid black;
	color: black;
}

		@media (max-width:980px){
			.bx-touch .bx_ordercart .bx_sort_container span{display:block;}
			.bx-touch .bx_ordercart .bx_sort_container a{margin:0 20px 10px 0;}
			.bx_ordercart .bx_ordercart_order_table_container table thead td{font-size:13px;}
			.bx_ordercart .bx_ordercart_order_table_container tbody td.custom,
			.bx_ordercart .bx_ordercart_order_table_container .bx_ordercart_itemtitle a,
			.bx_ordercart .bx_ordercart_order_table_container tbody td.price .current_price{font-size:14px;}
		}
		@media (max-width:680px){
			.bx_ordercart .bx_ordercart_order_table_container table thead td{font-size:12px;}
			.bx_ordercart .bx_ordercart_order_table_container .bx_ordercart_itemtitle a,
			.bx_ordercart .bx_ordercart_order_table_container tbody td.price .current_price{font-size:12px;}
		}
		@media (max-width:600px){

			.bx-touch .bx_ordercart .bx_ordercart_order_pay{width:100%;}
			/*.bx-touch .bx_ordercart .bx_ordercart_order_pay_left,*/
			.bx-touch .bx_ordercart .bx_ordercart_order_pay_right{
				float:none;
				width:100%;
				text-align:center;
			}

			.bx-touch .bx_ordercart .bx_ordercart_order_sum{
				float:none;
				margin-top:20px;
				width:100%;
			}
		}
		@media (max-width:530px){
			.bx-touch .bx_ordercart .bx_sort_container{
				margin:10px 0;
				text-align:left;
				line-height:13px;
			}
			.bx-touch .bx_ordercart .bx_sort_container a{
				display:inline;
				margin:0 10px 0 0;
				padding:0;
				border:none;
				background:none;
				color:#327ab7;
				text-decoration:underline;
				font-size:13px;
			}
			.bx-touch .bx_ordercart .bx_sort_container a:hover{text-decoration:none;}
			.bx-touch .bx_ordercart .bx_ordercart_order_table_container table,
			.bx-touch .bx_ordercart .bx_ordercart_order_table_container table tbody,
			.bx-touch .bx_ordercart .bx_ordercart_order_table_container table tbody tr,
			.bx-touch .bx_ordercart .bx_ordercart_order_table_container table tbody tr td{display:block}
			.bx-touch .bx_ordercart .bx_ordercart_order_table_container table tbody tr td{padding:2% 6%}
			.bx-touch .bx_ordercart .bx_ordercart_order_table_container table tbody tr{
				margin-bottom:20px;
				border-bottom:3px double #c9c9c9;
			}
			.bx-touch .bx_ordercart .bx_ordercart_order_table_container table tbody tr:last-child{
				margin-bottom:0;
				border-bottom:none;
			}
			.bx-touch .bx_ordercart .bx_ordercart_order_table_container table thead{display:none;}
			.bx-touch .bx_ordercart .bx_ordercart_order_table_container table tbody tr td.item,
			.bx-touch .bx_ordercart .bx_ordercart_order_table_container table tbody tr td.itemphoto{width:100%;}
			.bx-touch .bx_ordercart .bx_ordercart_order_table_container table tbody tr td.item{padding-bottom:20px;}
			.bx-touch .bx_ordercart .bx_ordercart_order_table_container tbody td.item .bx_item_detail_size_small_noadaptive,
			.bx-touch .bx_ordercart .bx_ordercart_order_table_container tbody td.item .bx_item_detail_scu_small_noadaptive{margin:5px auto !important;}
			.bx-touch .bx_ordercart .bx_ordercart_photo_container{
				margin:0 auto;
				padding-top:50%;
				max-width:250px;
			}
			.bx-touch .bx_ordercart .bx_ordercart_order_table_container .bx_ordercart_brand {
				border:none;
				text-align:center;
			}
			.bx-touch .bx_ordercart .bx_ordercart_order_table_container .bx_ordercart_brand img {
				max-width:100%;
				width:auto;
				border-radius:2px;
			}
			.bx-touch .bx_ordercart .bx_ordercart_order_table_container table tbody td{border:none}
			.bx-touch .bx_ordercart .bx_ordercart_order_table_container tbody td.custom span{
				display:inline-block;
				margin-right:10px;
				font-weight:bold;
			}
			/*.bx-touch .bx_ordercart .bx_ordercart_order_table_container tbody td.control{text-align:center;word-spacing:15px;}*/
			/*.bx-touch .bx_ordercart .bx_ordercart_order_table_container tbody td.control br{display:none}*/
			.bx-touch .bx_ordercart .bx_ordercart_order_table_container tbody td.price{
				padding-top:20px;
				text-align:center;
			}
			.bx-touch .bx_ordercart .bx_ordercart_order_table_container tbody td.price .current_price{
				margin-top:10px;
				margin-bottom:10px;
				font-size:28px;
			}
			.bx-touch .bx_ordercart .bx_ordercart_order_table_container tbody td.price .old_price{
				margin-left:10px;
				font-size:19px;
			}
			.bx-touch .bx_ordercart .bx_ordercart_order_table_container tbody td.price .type_price,
			.bx-touch .bx_ordercart .bx_ordercart_order_table_container tbody td.price .type_price_value{display:inline-block;}
		}
		@media (max-width:490px){
			.bx-touch .bx_ordercart_order_pay_center{
				margin-bottom:40px;
				text-align:center;
			}
			.bx-touch .bx_ordercart_order_pay_center span{display:block;}
			.bx-touch .bx_ordercart_order_pay_center .checkout{top:0;}
		}



.bx_ordercart .bx_ordercart_order_pay,
.bx_ordercart .bx_ordercart_order_sum,
/*.bx_ordercart .bx_ordercart_order_pay_left,*/
.bx_ordercart .bx_ordercart_order_pay_right,
.bx_ordercart_order_pay_center,
.bx_ordercart_order_pay_center span,
.bx_ordercart_order_pay_center .checkout,
.bx_ordercart .bx_ordercart_order_table_container table,
.bx_ordercart .bx_ordercart_order_table_container table tbody,
.bx_ordercart .bx_ordercart_order_table_container table tbody tr,
.bx_ordercart .bx_ordercart_order_table_container table tbody tr td,
.bx_ordercart .bx_ordercart_order_table_container .bx_ordercart_itemtitle a,
.bx_ordercart .bx_ordercart_order_table_container tbody td.price .current_price
{
-webkit-transition:all 0.3s ease;
-moz-transition:all 0.3s ease;
-ms-transition:all 0.3s ease;
-o-transition:all 0.3s ease;
transition:all 0.3s ease;
}