.bx-sitemap-list {
	margin: 0px;
	padding: 0px;
	list-style-type: none;
	padding-left:30px;
}
.bx-sitemap-list li {
	margin:5px 0px;
}
.bx-sitemap-list li a {
	font-family: 'Circe-Light', Arial, sans;
	font-size:16px;
}
.sitemap-section-list .bx_sitemap_title {
    text-transform: uppercase;
    font-weight: bold;
    text-decoration: underline;
	font-family: 'Circe-Light', Arial, sans;
	font-size:16px;
}