.search-form {
	
}
form#bottom-search input[name=q] {
	display:inline-block; 
	width: 70%;
	height:44px;
	color:#b42e31;
	margin:0;
	padding:0 10px;
	border:none;
	font-size: 18px;
    line-height: 46px;
}

form#bottom-search .btnSubmit {
	display:inline-block;
	font-size: 24px;
	text-align: center;
    color: black;
	width: 40px;
	height: 44px;
	border: none;
	background: white;
	margin:0;
	padding:5px;
	background: white;
	line-height: 31px;
}
form#bottom-search .btnSubmit:hover {
	background: gray;
}

@media (max-width: 768px) {
	form#bottom-search input[name=q] {width:60%; font-size: 14px; line-height: 51px;}
	.bx-firefox form#bottom-search a.btnSubmit {line-height: 30px;}
	}