.bx_sitemap p.bx_sitemap_li_title a {
	font-family: 'Circe-Light', Arial, sans;
	font-size:16px;
}

.bx_sitemap ul {
	margin:0;
	padding:0;
	list-style-type: none;
	/*line-height:14px;*/
}

.bx_sitemap ul li ul li {
	padding-left:30px;
}

.bx_sitemap ul li p.bx_sitemap_li_title a {
	text-transform: uppercase;
	font-weight: bold;
	text-decoration: underline;
}

.bx_sitemap ul li ul li p.bx_sitemap_li_title a {
	text-transform: none;
	font-weight: normal;
	text-decoration: none;
}
.bx_sitemap ul li ul li p.bx_sitemap_li_title a:hover {
	text-decoration: underline;
}

.bx_sitemap_ul li {
	width:45%;
	display: block;
	float: left;
	/*border: 1px solid gray;*/
	padding-bottom:30px; 
}

.bx_sitemap_ul li ul li {
	display: list-item;
	float: none;
	border: none;
	width:300px;
	padding-bottom:0px; 
}


@media (max-width: 768px) {
	.bx_sitemap_ul li {width:90%; float:none;}
}