
.catalog-slider {
	//width: 400px;
	//height: 800px;
	//background-color: purple;
}

.catalog-slider .slick-slide {
	//background-size:cover; 
	//background-repeat:no-repeat;
	//background-position: 50% 50%;
	//height: 600px;
	margin:10px;
	position: relative;
	}
.catalog-slider .slick-slide .img{
	background-size:cover; 
	background-repeat:no-repeat;
	background-position: 50% 50%;
	width:100%; 
	height:100%;
	}

	
.catalog-slider .slick-slide .logo-block{
	width:230px;
	height:100px;
	position: absolute;
	bottom:0;
	right:0;
	}
.catalog-slider .slick-slide .logo-block.female { background: url(/upload/collections/bgFEMALE.png);}
.catalog-slider .slick-slide .logo-block.male { background: url(/upload/collections/bgMALE.png);}
.catalog-slider .slick-slide .logo-block.kids { background: url(/upload/collections/bgKIDS.png);}


.catalog-slider .slick-slide .logo-block .logo {
	width: 40%;
    height: 100px;
    background-position: 50% 50%;
    float: right;
	background-repeat: no-repeat;
}
.catalog-slider .slick-slide .logo-block .name {
	width: 60%;
    float: left;
	color: white;
	padding: 20px 10px 10px 15px;
	font-family: 'Circe-Light', Arial, sans;
	text-transform: uppercase;
	text-align: left;
}
.catalog-slider .slick-slide .logo-block.female .logo { background-image: url(/upload/collections/logFEMALE.png);background-size: 95%;}
.catalog-slider .slick-slide .logo-block.male .logo { background-image: url(/upload/collections/logMALE.png);background-size: 95%;}
.catalog-slider .slick-slide .logo-block.kids .logo { background-image: url(/upload/collections/logKIDS.png);background-size: 65%;}
	
.catalog-slider.slick-slider .slick-prev, 
.catalog-slider.slick-slider .slick-next {
	display: none !important;
}

@media (max-width: 768px) {
	.catalog-slider .slick-slide .logo-block{ height: 70px;}
	.catalog-slider .slick-slide .logo-block .logo {display:none;}
	.catalog-slider .slick-slide .logo-block .name {width:100%; padding-top:20px;}
	
	}

/*
@media (min-width: 1200px) {.catalog-slider .slick-slide {height:600px;}}
@media (max-width: 1200px) {.catalog-slider .slick-slide {height:500px;}}
@media (max-width: 992px) {.catalog-slider .slick-slide {height:300px;}}
@media (max-width: 768px) {.catalog-slider .slick-slide {height:200px;}}
*/
	
.grayscale {
    -moz-filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
    -o-filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
    -webkit-filter: grayscale(100%);
    filter: gray;
    filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
}

.grayscale1 {
    -moz-filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'saturate\' values=\'0\'/></filter></svg>#grayscale");
    -o-filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'saturate\' values=\'0\'/></filter></svg>#grayscale");
    -webkit-filter: grayscale(100%);
    filter: gray;
    filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'saturate\' values=\'0\'/></filter></svg>#grayscale");
}


/* Dots */
.catalog-slider.slick-slider
{
    margin-bottom: 50px;
}
.catalog-slider .slick-dots
{
    position: absolute;
    display: block;
    width: 100%;
    padding: 0;
    list-style: none;
    text-align: center;
}
.catalog-slider .slick-dots li
{
    position: relative;
    display: inline-block;
    width: 20px;
    height: 20px;
    margin: 0 5px;
    padding: 0;
    cursor: pointer;
}
.catalog-slider .slick-dots li button
{
    font-size: 0;
    line-height: 0;
    display: block;
    width: 20px;
    height: 20px;
    padding: 5px;
    cursor: pointer;
    color: white;
    border: 2px solid white;
	border-radius: 10px;
    outline: none;
    background: transparent;
}
.catalog-slider .slick-dots li button:hover,
.catalog-slider .slick-dots li button:focus
{
    outline: none;
}
.catalog-slider .slick-dots li button:hover:before,
.catalog-slider .slick-dots li button:focus:before
{
    opacity: .25;
}
.catalog-slider .slick-dots li button:before
{
    font-family: 'slick';
    font-size: 10px;
    line-height: 20px;
    position: absolute;
    top: 1px;
    left: 0;
    width: 20px;
    height: 20px;
    content: '•';
    text-align: center;
    opacity: 0;
    color: white;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.catalog-slider .slick-dots li.slick-active button:before
{
    opacity: 1;
    color: white;
}


