#horizontal-bottom-menu {
	}
	
#horizontal-bottom-menu li {
	float: left;
	border: 1px solid red;
	list-style: none;
}

#horizontal-bottom-menu,
#horizontal-bottom-menu li,
#horizontal-bottom-menu li ul,
#horizontal-bottom-menu li ul li,
#horizontal-bottom-menu li ul li ul,
#horizontal-bottom-menu li ul li ul li 
{
	margin-left: 0;
	padding-left: 0;
}

#horizontal-bottom-menu li ul li {
	float: none;
}

#horizontal-bottom-menu li:nth-child(2) ul li {
	border: 1px solid yellow;
	float: left;
}

#horizontal-bottom-menu li:nth-child(2) ul li ul li {
	border: 1px solid yellow;
	float: none;
}