

.slick-slide img {
	margin: 0 auto;
	pointer-events: none;
}


.VAYslogan1 {
	/*
	left: 50%;
    margin-left: -40%;
    top: 0.3%;
    color: #333;
    position: absolute;
    width: 55%;
    max-width: 800px;
    height: 33px;
    background-image: url(/upload/sogrevayslogan1.png);
    background-position: 50% 50%;
    background-size: 100%;
    background-repeat: no-repeat;
	*/
    top: 1%;
    color: #333;
    position: absolute;
    width: 96%;
    height: 33px;
    /*background-image: url(/upload/sogrevayslogan1.png);*/
    background-position: 50% 50%;
    background-size: contain;
    background-repeat: no-repeat;
	margin: 0 2%;
	text-align: center;
}
.VAYslogan1 img {
	box-shadow: 2px 2px 5px #333;
	}

.btn-slide {
    position: absolute;
    display: block;
    width: 250px;
    height: 34px;
    background: #db0304;
	border: 1px solid white;
    border-radius: 15px;
	text-align: center;
    color: white;
    font-size: 20px;
    line-height: 38px;
	box-shadow:3px 3px 5px black;
	opacity: .9;
}
.btn-slide:hover {
	background: white;
	color: #db0304;
	opacity: 1;
}



//.btn-slide.btn-1 {top:70%; right:21%; width:300px;}  /* если одна кнопка */

@media (min-width: 1200px) {

}
@media (max-width: 1200px) {
	
}
@media (max-width: 992px) {
		
}
@media (max-width: 768px) {
		
}





/* Dots */

.welcome-slider .slick-dots
{
    position: absolute;
    bottom: 2%;
    display: block;
    width: 100%;
    padding: 0;
    list-style: none;
    text-align: center;
}
.welcome-slider .slick-dots li
{
    position: relative;
    display: inline-block;
    width: 20px;
    height: 20px;
    margin: 0 5px;
    padding: 0;
    cursor: pointer;
}
.welcome-slider .slick-dots li button
{
    font-size: 0;
    line-height: 0;
    display: block;
    width: 20px;
    height: 20px;
    padding: 5px;
    cursor: pointer;
    color: white;
    border: 2px solid white;
	border-radius: 10px;
    outline: none;
    background: black;
}
.welcome-slider .slick-dots li button:hover,
.welcome-slider .slick-dots li button:focus
{
    outline: none;
}
.welcome-slider .slick-dots li button:hover:before,
.welcome-slider .slick-dots li button:focus:before
{
    opacity: .25;
}
.welcome-slider .slick-dots li button:before
{
    font-family: 'slick';
    font-size: 10px;
    line-height: 20px;
    position: absolute;
    top: 1px;
    left: 0;
    width: 20px;
    height: 20px;
    content: '•';
    text-align: center;
    opacity: 0;
    color: white;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.welcome-slider .slick-dots li.slick-active button:before
{
    opacity: 1;
    color: white;
}
