.podelitsa {margin:20px 0;}
.podelitsa span {display: inline-block;}
.podelitsa div{display: inline-block; margin-right:3px;}

.ya-share2__badge {background: #D12A2D !important;}
.ya-share2__container_size_m .ya-share2__icon {
    height: 32px !important;
    width: 32px !important;
    background-size: 32px 32px !important;
	}
.ya-share2__container_size_m .ya-share2__counter {
    font-size: 14px !important;
    padding: 8px 8px 0 8px !important;
	}
