@media (max-width:767px){#bx-panel{display:none !important}}


@font-face {
	font-family: 'Circe-Regular';
	src: url('/webfont/Circe-Regular.eot?#iefix') format('embedded-opentype'),  url('/webfont/Circe-Regular.otf')  format('opentype'),
	     url('/webfont/Circe-Regular.woff') format('woff'), url('/webfont/Circe-Regular.ttf')  format('truetype'), url('/webfont/Circe-Regular.svg#Circe-Regular') format('svg');
	font-weight: normal;
	font-style: normal;
	}
	
@font-face {
	font-family: 'Circe-Light';
	src: url('/webfont/Circe-Light.eot?#iefix') format('embedded-opentype'),  url('/webfont/Circe-Light.otf')  format('opentype'),
	     url('/webfont/Circe-Light.woff') format('woff'), url('/webfont/Circe-Light.ttf')  format('truetype'), url('/webfont/Circe-Light.svg#Circe-Light') format('svg');
	font-weight: normal; 
	font-style: normal;
	}

body {
	background: #000;
	font-family: 'Circe-Regular', Arial, sans-serif;
	overflow-x: hidden;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	outline: none;
}

body.bx-opened {
	overflow: hidden;
}

.bx-wrapper {
	position: relative;
}

.icon-empty {
	opacity: 0;
}

a {
	text-decoration: none;
	outline: none !important;
}

a:active,
a:hover {
	border-color: transparent;
	text-decoration: underline;
}
a:focus {
	outline: none;
	border: none;
}

a,
.container {
	-webkit-transition: color .3s ease, background-color .3s ease, border-color .3s ease;
	-moz-transition: color .3s ease, background-color .3s ease, border-color .3s ease;
	-ms-transition: color .3s ease, background-color .3s ease, border-color .3s ease;
	-o-transition: color .3s ease, background-color .3s ease, border-color .3s ease;
	transition: color .3s ease, background-color .3s ease, border-color .3s ease;
}

img {
	width: auto;
	max-width: 100%;
	height: auto;
	max-height: 100%
}


/* Header */

.bx-header {margin-bottom: -30px;}

.welcome-slider-block {
	width:100%; 
	position:relative;
	}

.bx-header .info {
	position:absolute; 
	left:50%; 
	top:0; 
	}
.bx-header .info .info-block {
	width:300px; 
	height:440px; 
	background: url(images/bgred.png); 
	position:absolute; 
	z-index:100; 
	top:0; 
	right:15px;
	text-align: center;
	}

.info-block {
	
}

.bx-top-nav-container {
	background-color: black !important;
}

.optButton {
	width: 70px;
    height: 35px;
    margin-top: 8px;
    padding: 5px 0 6px 0px;
    /*background: black url(/upload/ico_opt.png) no-repeat 0 50%;*/
    background-size: 40%;
    color: white !important;
    font-family: 'Circe-Light', Arial, sans;
    font-size: 14px;
    text-decoration: none;
    text-transform: uppercase;
    display: block;
    text-align: left;
    /*margin-right: 20px;*/
    /*float: right;*/
    line-height: 24px;
	margin-left:-30px;
}


@media (max-width: 992px) {
	.bx-header .info {/*display: none;*/}
	.optButton {margin-left:-40px;}
}
@media (max-width: 768px) {
	.bx-header .info {display: none;}
}



.links-3 {
	background: black; 
	padding:10px;
	}

.cat-slider-block {
	width: 100%;
    position: relative;
    background: url(images/bgred.png);
    text-align: center;
    /background-size: 35%;
    /background-position: 0px 8px;
	}
.cat-slider-block p.cattitle {
	font-family: 'Circe-Regular', Arial, sans;
	font-size: 50px;
	color: white;
	text-transform: uppercase;
	margin: 5px 0;
    padding: 0;
	/background: url(images/bgred.png);
	}
.cat-slider-block p.cattitle a {
	color: white;
	text-decoration: none;
}
.cat-slider-block p.cattitle a:hover {
	color: white;
	text-decoration: none;
}
.cat-slider-block .cat-list {
	background: black;
}
.cat-slider-block .cat-list div {
	border-right:1px solid white;
}
.cat-slider-block .cat-list div:last-child {
	border-right: none;
}
.cat-slider-block .cat-list h2 {
	margin:0;
	padding:0;
	font-size:18px;
	line-height: 24px;
	}
.cat-slider-block .cat-list h2 a {
	color:white;
	font-family: 'Circe-Light', Arial, sans;
	text-transform: uppercase;
	white-space: nowrap;
}


.catalog-slider-block {
	margin:0 auto; 
	margin-left: -25px;
	margin-right: -25px; 
	background: url(images/bgred.png);
}

.phone { 
	margin-top:10px;
	margin-top:0px;
	margin-bottom:0px;
	font-family: 'Circe-Light', Arial, sans;
	font-size: 22px;
	color: white;
	display: inline-block;
}
.phone2 { 
	margin-top:0px;
	margin-bottom:10px;
	margin-left:12px;
	font-family: 'Circe-Light', Arial, sans;
	font-size: 22px;
	color: white;
	display: inline-block;
}

.phones-block {
	/height: 100px;
    color: white;
    font-family: 'Circe-Light', Arial, sans;
    font-size: 24px;
    padding-top: 10px;
}

.phone a, .phone2 a {color:white; text-decoration: none;}
.phone a:hover,
.phone a:active, 
.phone2 a:hover,
.phone2 a:active {color:white; text-decoration: none;}
.call {
	width:80%;
	margin: 0 auto;
	display: block;
	border:1px solid white; 
	padding:3px;
	color:white;
	font-family: 'Circe-Light', Arial, sans;
	font-size: 26px;
}
.call:hover {
	border:1px solid white; 
	text-decoration: none;
	color: white;
	cursor: pointer;
	background: white;
	color: #b42e31;
}

.cabinet-block {
	/width:80%;
	height:45px;
	/margin: 15px auto 0 auto;
	display: block; 
	/background-color:white;
	padding:5px 0;
	color:#FFF;
	font-family: 'Circe-Light', Arial, sans;
	font-size: 14px;
	text-transform: uppercase;
	margin-left:10px;
}
.cabinet-block .login, .cabinet-block .regin {
	display: inline-block;
	color: #FFF;
	margin:0;
	padding: 0 5px;
}
.cabinet-block .lk {
	display:block;
	color:#FFF;
	font-weight: bold;
    text-decoration: underline;
	white-space: nowrap !important;
}
.cabinet-block .logout, .cabinet-block .myorders {
	display:inline-block;
	color:#FFF;
	font-size:14px;
}


.info-block .bx-authform {
	margin-bottom:0;
}

.info-block-row {
	border-bottom: 1px solid white; 
	background-color:#D12A2D;
}
@media (max-width: 992px) {
	/*.info-block-row { margin-top:60px;}*/

}


/*
.social {
	display: block;
	margin:0;
	padding:0;
	list-style: none;
}
.social li {
	display: inline-block;
}
.social a {
	display:inline-block;
	width:50px;
	height:50px;
	margin:0 5px;
}
.f-ok {background: url(images/fa-ok.png) no-repeat;}
.f-facebook {background: url(images/fa-facebook.png) no-repeat;}
.f-twitter {background: url(images/fa-twitter.png) no-repeat;}
.f-vk {background: url(images/fa-vk.png) no-repeat;}
*/

.social {
	margin-top:8px;
}

.social a {
	display: inline-block;
	font-size: 20px;
	line-height: 24px;
	margin: 7px 1px 0 1px;
	min-width: 24px;
	text-align: center;
	padding: 2px 3px 0px 3px;
	background: white;
	color: #D12A2D;
}
.social a:hover {
	color: black;
}
@media (max-width: 1200px) {
	.social a {font-size: 16px; line-height: 20px; min-width: 20px;}
}
@media (max-width: 992px) {
	.social a {font-size: 11px; line-height: 20px; min-width: 10px;margin: 7px 0px 0 0px;}
}


.mlogo {
	position:fixed; 
	top:0; 
	width:100%; 
	height:70px; 
	z-index:100; 
	background:url(images/bgred.png); 
	text-align: center;
	box-shadow: 0px 4px 15px #5D0406;
}
.mlogo .logo {
	width:100%;
	height:70px;
	//margin:0 auto;
	background: url(images/wlogo.png) no-repeat; 
	background-position: 50% 50%;
	background-size: contain;
}

.msearch {
	width:100%; 
	height:55px; 
	z-index:90; 
	background-color:black; 
	text-align: center;

}
.msearch .search {
	width:500px;
	height:40px;
	margin:0 auto;
	background: url(images/search.png) no-repeat; 
	background-position: 50% 3px;
	background-size: contain;
}

@media (min-width: 1200px) {}
@media (max-width: 1200px) {
	.phone, .phone2 {font-size:18px;}
	.phone2 {margin-left:6px;}
	.cabinet-block .logout, .cabinet-block .myorders {font-size:13px;}
	}
@media (max-width: 992px) {...}
@media (max-width: 768px) {...}


@media (max-width: 992px) {
	.cat-slider-block p.cattitle {font-size: 42px;}
}
@media (max-width: 785px) {
	.catalog-slider-block {margin-left: -10px; margin-right: -10px;}
}
@media (max-width: 768px) {
	.msearch {margin-top:85px;}
	.mlogo .logo {background-position:65% 50%;}
	.catalog-slider-block {margin-left: -10px; margin-right: -10px;}
	.cat-slider-block p.cattitle {font-size: 36px;}
	.cat-slider-block .cat-list div {	border-right:none;}
}
/*Logo*/

/*
.bx-logo {
	padding-left: 20px;
	padding-bottom: 10px;
}

.bx-logo .bx-logo-block {
	display: block;
	height: 60px;
	border-bottom: none;
}

.bx-logo-text,
.bx-logo-text:hover,
.bx-logo-text:active {
	font-size: 32px;
	font-weight: 700;
	font-family: "Open Sans", "Helvetica Neue", Arial, Helvetica, sans-serif;
	color: #000;
	line-height: 37px;
	text-decoration: none;
	border: none;
	vertical-align: bottom;
}

.bx-logo-text small {
	font-size: 37px;
}

.bx-logo-desc {
	text-transform: uppercase;
	display: block;
	font-weight: 700;
	font-size: 13px;
	line-height: 10px;
	color: #b8b8b8;
}

@media (max-width: 767px) {
	.bx-logo {
		background: #686dcf;
		position: fixed;
		left: 0;
		right: 0;
		top: 0;
		z-index: 1400;
		padding: 10px 60px;
	}
	.bx-logo .bx-logo-block {
		text-align: center;
		height: 30px;
	}
	.bx-logo-text {
		font-size: 24px;
		color: #fff;
		line-height: 30px;
		vertical-align: middle;
	}
	.bx-logo-text:hover,
	.bx-logo-text:active {
		color: #fff;
	}
	.bx-logo-text small {
		font-size: 24px;
		color: #fff;
	}
	.bx-logo-desc {
		display: none;
	}
}
*/

/* Sections */

.bx-header-section {
	border-left: 1px solid #eaebec;
	border-right: 1px solid #eaebec;
	padding: 28px 45px 10px;
	background: #fff;
}

.bx-content-seection {
	padding: 0 45px 25px;
	background: #fff;
	border-left: 1px solid #eaebec;
	border-right: 1px solid #eaebec;
}

@media (min-width: 1200px) {...}
@media (max-width: 1200px) {...}
@media (max-width: 992px) {...}
@media (max-width: 768px) {...}

@media (min-width: 1200px) {
	.bx-header-section {
		padding: 21px 45px 10px;
	}
	.bx-content-seection {
		padding: 0 45px 25px;
	}
}

@media (min-width: 992px) and (max-width: 1199px) {
	.bx-header-section {
		padding: 21px 30px 10px;
	}
	.bx-content-seection {
		padding: 0 30px 25px;
	}
}

@media (min-width: 768px) and (max-width: 991px) {
	.bx-header-section {
		padding: 21px 15px 10px;
	}
	.bx-content-seection {
		padding: 0 15px 25px;
	}
}

@media (max-width: 767px) {
	.bx-header-section {
		padding: 60px 15px 10px
	}
	.bx-content-seection {
		padding: 0 15px 25px
	}
}


/* Breadcrumb Custom*/
/*
.bx-breadcrumb-item a {
	color: #757575;
}

.bx-breadcrumb-item a:hover {
	color: #2d2d2d;
}
*/




/* workarea */
/*TITLE*/

h1.bx-title,
h2.bx-title,
h3.bx-title,
h4.bx-title,
h5.bx-title,
h6.bx-title {
	font-family: 'Circe-Light', Arial, sans;
	font-weight: 500;
}

h1.bx-title,
h2.bx-title,
h3.bx-title {
	padding-bottom: 15px;
}

h4.bx-title,
h5.bx-title,
h6.bx-title {}

h1.bx-title {
	margin-top: 0;
	padding-bottom: 10px;
}

h2.bx-title {
	font-size: 25px;
}

h3.bx-title {}

h4.bx-title {}

h5.bx-title {}

h6.bx-title {}



/* FORMS */

.bx-wrap input[type=text],
.bx-wrap  input[type=password] {
	/*display: block;*/
	/*width: 100%;*/
	/*height: 38px;*/
	/*font-size: 18px;*/
	margin: inherit 4px;
	padding: 0 4px;
	border: 1px solid #CCD5DB;
	border-radius: 2px;
	background: #f8fafc;
	outline: none;
}

textarea {
	display: block;
	width: 100%;
	max-width: 100%;
	min-width: 100%;
	font-size: 18px;
	min-height: 150px;
	max-height: 450px;
	margin: 0;
	padding: 0 4px;
	border: 1px solid #CCD5DB;
	border-radius: 2px;
	background: #f8fafc;
	outline: none;
}
/* INC.banners */
/*
.bx-incbanners {
	margin: 10px 0 25px;
	text-align: center;
}
*/
/* INC.links.footer */
/*
.bx-inclinksfooter a {
	border-bottom: none;
}

.bx-inclinksfooter .bx-block-title {
	margin: 0;
	padding: 0;
	font-size: 17px;
	font-family: "Open Sans", "Helvetica Neue", Arial, Helvetica, sans-serif;
	color: #fff;
	font-weight: 600;
}

.bx-inclinksfooter-container {
	margin-top: 15px;
	padding: 0;
	color: #fff;
	border-radius: 2px;
	font-family: "Open Sans", "Helvetica Neue", Arial, Helvetica, sans-serif;
}

.bx-inclinksfooter-list {
	list-style: none;
	margin: 0;
	padding: 0;
}

.bx-inclinksfooter-item {
	padding: 0 0 5px 0;
}
*/
/* INC.logo.footer */
/*
.bx-inclogofooter {
	color: #fff;
}

.bx-inclogofooter a.bx-inclogofooter-logo {
	border-bottom: none;
}

.bx-inclogofooter-logo img {
	max-width: 180px;
	height: auto;
}

.bx-inclogofooter-block {
	padding-bottom: 20px;
}

.bx-inclogofooter-tel {
	color: #cfd0d0;
	font-family: "Open Sans", "Helvetica Neue", Arial, Helvetica, sans-serif;
	font-size: 18px;
	font-weight: bold;
	padding-bottom: 5px;
}

.bx-inclogofooter-worktime {
	color: #cfd0d0;
	font-family: "Open Sans", "Helvetica Neue", Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	text-transform: uppercase;
}
*/
/* INC.social.widget */
/*
.bx-banners {
	margin: 10px 0;
}

.bx-banners .bx-block-title {
	font-family: "Open Sans", Arial, "Helvetica Neue", Helvetica, sans-serif;
	color: #343434;
	text-transform: uppercase;
	font-size: 12px;
	margin-bottom: 9px;
	font-weight: 600;
}
*/
/* INC.wt */
/*
.bx-wt-block {
	color: #fff;
	padding: 5px 15px;
	background: url(images/wt.png) no-repeat center top;
	-webkit-background-size: cover;
	background-size: cover;
	border-radius: 3px;
}

.bx-wt .bx-block-title {
	font-family: "Open Sans", "Helvetica Neue", Arial, Helvetica, sans-serif;
	font-size: 25px;
	font-weight: 600;
	text-transform: uppercase;
	margin-bottom: 14px;
}

.bx-wt-block ul {
	margin: 0;
	padding: 0;
	list-style: none;
	font-size: 12px;
}

.bx-wt-block ul li {
	padding-bottom: 7px;
}

.bx-wt-others-block {
	text-transform: uppercase;
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 7px;
	margin-top: 4px;
}
*/



/* FOOTER */
div.prefooter {
	margin:20px 0 30px 0;
	}
div.prefooter p, div.prefooter ul li {
	text-align:left; 
	color:white !important; 
	font-weight:normal; 
	font-size:16px;
	}
.bx-footer {
	background: black;
	font-family: 'Circe-Light', Arial, sans-serif;
	font-size:14px;
	color: white;
}

@media (max-width: 991px){
	.callback1 {display: none;}
}
@media (min-width: 992px) {
	.callback1 {
		display: block;
		position: fixed;
		right:0;
		top:50%;
		margin-top:-100px;
		padding: 10px 0 5px 0;
		width:40px;
		height:200px;
		background: green url(images/callme1.png) no-repeat;
		z-index:1000;
		color: white;
		font-family: 'Circe-Light', Arial, sans;
		font-size: 16px;
		text-align: center;
		text-transform: uppercase;
		cursor: pointer;
		box-shadow: -3px 0px 2px #596d59;
	}
	.callback1:hover {
		background: #2a962a url(images/callme1.png) no-repeat; 
	}
}


.footer-menu-block {
	/height:400px; 
	border-bottom: 1px solid white;
	padding-bottom:20px;
}
.footer-menu-block .h3 {
	font-size: 18px;
	line-height: 20px;
	margin-bottom: 25px;
    margin-top: 35px;
	padding-bottom:0;
	text-transform: uppercase;
	display: block;
}
.footer-menu-block .h3 i {
	padding-left:10px;
}
.footer-menu-block a {
	font-family: 'Circe-Light', Arial, sans-serif;
	font-size:16px;
	line-height:24px;
	color: white;
}
.footer-menu-block .row div {
	/border:1px solid white;
	/min-height:100px;
}



.bx-footer .footer-vay-block {
	background-image: url(images/bgvay.gif);
	background-position: 50% top;
	background-repeat: no-repeat;
	background-size: 100%;
	height:385px;
	margin-top:30px;
}

.footer-info-block {
	background:black;
	margin-top:20px;
	}

.footer-social-block,
.footer-pay-block,
.footer-search-block,
.footer-logo-block,
.footer-copyright-block,
.footer-addr-block,
.footer-phones-block,
.footer-block1
 {
	margin: 10px 0;
	height:85px;
}

.footer-copyright-block,
.footer-addr-block,
.footer-logo-block {
	height:60px;
}

.footer-search-block {
	padding-top:30px;
	padding-left:35px;
}

.footer-pay-block span {
	display:block;
	margin-bottom:10px;
}
.footer-pay-block div {
	width: 100%;
    max-width: 230px;
    height: 46px;
    background: white url(images/pay.png) no-repeat 50% 50%;
    background-size: contain;
    border-radius: 5px;
}

.footer-social-block {
	position: relative;
}
.footer-social-block span {
	display:block;
	margin-bottom:10px;
}
.footer-social-block a {
	display: inline-block;
	font-size: 30px;
	line-height: 30px;
	margin: 7px 1px 0 1px;
	min-width: 38px;
	text-align: center;
	padding: 2px 3px 0px 3px;
	background: #D12A2D;
	color: black;
}
.footer-social-block a:hover {
	color: white;
}

.footer-copyright-block span {
}

.footer-addr-block {
}


.footer-phones-block {
	text-align:right;
	padding-top:25px;
}
.footer-phones-block span {
	font-family: 'Circe-Regular', Arial, sans-serif;
	font-size:22px;
	line-height:24px;
}

.footer-logo-block {
	
}

.btnUp {
	color:white;
	font-family: 'Circe-Light', Arial, sans-serif;
	font-size:14px;
	text-transform: uppercase;
}
.btnUp i {
	padding-right:5px;
}
.btnUp:hover {color:white !important;}
.btnUp:active {color:white !important;}

@media (min-width: 1200px) {...}
@media (max-width: 1200px) {
	.bx-footer .footer-vay-block {background-size: 125%;}
	}
@media (max-width: 992px) {
	.phones-block {text-align: left; padding-top:2px;}
	.phones-block .phone {display:block;}
	.phones-block .phone2 {display:block;margin-top:-5px;margin-left:0px;}
	.footer-phones-block {text-align: left; padding-top:10px;}
	.footer-logo-block {height:20px;}
	.footer-search-block {padding-top:12px; 	padding-left:0;}
	.bx-footer .footer-vay-block {background-size: 165%;}
}
@media (max-width: 768px) {
	.footer-phones-block span {font-size:22px; line-height:24px;}
	.footer-phones-block {text-align: left;}
	.footer-logo-block {height:20px;}
	.footer-search-block {padding-top:12px; 	padding-left:0;}
	.footer-menu-block h3 {margin-bottom: 0; margin-top: 20px; text-align:center;}
	.footer-menu-block .bottom-section-list {text-align:center;}
	.footer-menu-block .bottom-section-list ul li {float: none;}
	.bottom-section-list ul li ul li {margin-right:0;}
	.bx-footer .footer-vay-block {
		background-position: 50% top;
		background-repeat: no-repeat;
		background-size: auto;
		}
	
@media (max-width: 430px) {
	.footer-phones-block span {font-size:16px; line-height:20px;}
	.footer-phones-block {text-align: left;}
}








/*
.bx-footer-section.bx-center-section {
	padding-top: 40px;
	padding-bottom: 40px;
}

.bx-footer-section.bx-center-section>div {
	margin-bottom: 20px;
}

.bx-footer a {
	color: #c8cece;
}

.bx-footer a:hover {
	color: #fff;
	border-bottom: 1px solid;
	text-decoration: none;
}

.bx-footer-line {
	background: #1f496a;
}

.bx-footer-bottomline {
	background: #212121;
	font-size: 14px;
	padding: 22px 0;
}

.bx-up {
	text-align: right;
}

.bx-up a,
.bx-up a:hover {
	border-bottom: none;
}

@media (min-width: 1200px) {}

@media (min-width: 992px) and (max-width: 1199px) {}

@media (min-width: 768px) and (max-width: 991px) {}

@media (max-width: 767px) {
	.bx-footer {
		text-align: center;
	}
	.bx-up {
		text-align: center;
	}
}
*/


/**/

.btn-primary {
	background-color: #1485ce;
	border-color: #1485ce;
}

.btn-primary.active,
.btn-primary.focus,
.btn-primary:active,
.btn-primary:focus,
.btn-primary:hover,
.open>.dropdown-toggle.btn-primary {
	background-color: #53a4d8;
	border-color: #53a4d8;
}

.btn-link {
	color: #1485ce;
}

.btn-link:focus,
.btn-link:hover {
	color: #53a4d8;
	text-decoration: none;
}
/*404*/

.bx-404-container {
	width: 100%;
	margin: 0 auto;
	text-align: center;
}

.bx-404-block {
	margin-top: 100px;
	margin-bottom: 66px;
}

@media (max-width: 768px) {
	.bx-404-block {
		margin-top: 50px;
		margin-bottom: 33px;
	}
}

.bx-404-text-block {
	font-size: 20px;
	font-family: "Open Sans", "Helvetica Neue", Arial, Helvetica, sans-serif;
	padding-bottom: 20px;
}

.bx-maps-title {
	color: #8f8f8f;
	font-size: 16px;
	font-family: "Open Sans", "Helvetica Neue", Arial, Helvetica, sans-serif;
	padding-bottom: 20px;
	padding-top: 10px;
	border-bottom: 1px solid #e9eaea;
}

.map-columns {
	padding-top: 20px;
}

.bx-map-title {
	font-weight: bold;
	font-size: 14px;
	font-family: "Open Sans", "Helvetica Neue", Arial, Helvetica, sans-serif;
	position: relative;
	min-height: 20px;
	padding-left: 25px;
	margin-bottom: 20px;
}

.bx-map-title .fa {
	color: #0083d1;
	position: absolute;
	left: 0;
	top: 2px;
	font-size: 15px;
}

.map-columns ul {
	list-style: none;
	margin-bottom: 5px;
}

.map-level-0 {
	margin-left: 0;
	padding-left: 25px;
	margin-bottom: 20px;
}

.map-level-0 li {
	margin-left: 0;
	padding-left: 0;
}

.map-level-0 ul {
	padding-left: 15px;
}

ul.map-level-1 {
	margin-bottom: 30px;
}
/*ABOUT*/

.bxd-block {
	width: 100%;
	border: 1px solid #e3e6e7;
	display: block;
	background: #fff;
	padding: 15px;
	min-height: 210px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

a.bxd-block:hover {}

.bxd-icon {
	display: block;
	border-radius: 50%;
	height: 68px;
	width: 68px;
	margin: 0 auto;
	-webkit-transition: color .3s ease, background-color .3s ease, border-color .3s ease;
	-moz-transition: color .3s ease, background-color .3s ease, border-color .3s ease;
	-ms-transition: color .3s ease, background-color .3s ease, border-color .3s ease;
	-o-transition: color .3s ease, background-color .3s ease, border-color .3s ease;
	transition: color .3s ease, background-color .3s ease, border-color .3s ease;
}

.bxd-block:hover .bxd-icon {}

.bxd-icon .fa {
	margin-left: -1px;
	position: relative;
	font-size: 35px;
	height: 68px;
	width: 68px;
	text-align: center;
	line-height: 68px;
	vertical-align: middle;
	-webkit-transition: color .3s ease, background-color .3s ease, border-color .3s ease;
	-moz-transition: color .3s ease, background-color .3s ease, border-color .3s ease;
	-ms-transition: color .3s ease, background-color .3s ease, border-color .3s ease;
	-o-transition: color .3s ease, background-color .3s ease, border-color .3s ease;
	transition: color .3s ease, background-color .3s ease, border-color .3s ease;
}

.bxd-link:hover .bxd-icon .fa {}

.bxd-title {
	display: block;
	padding-top: 10px;
	padding-bottom: 10px;
	font-weight: bold;
	text-align: center;
	color: #000;
	font-size: 15px;
	font-family: "Open Sans", "Helvetica Neue", Arial, Helvetica, sans-serif;
	white-space: nowrap;
	-ms-text-overflow: ellipsis;
	text-overflow: ellipsis;
	overflow: hidden;
	text-transform: uppercase;
}

.bxd-desc {
	display: block;
	text-align: center;
	color: #737373;
	font-size: 12px;
}

.bx-wrapper{
	background-repeat: no-repeat;
	background-position: top center;
	background-color: #000;
	/background-image: url("images/bg.jpg");
}
@media (min-width: 992px) and (max-width:1199px){
	.bx-wrapper{
		-webkit-background-size:1600px auto;
		background-size:1600px auto;
	}
}
@media (min-width: 768px) and (max-width: 991px){
	.bx-wrapper{
		-webkit-background-size:1280px auto;
		background-size:1280px auto;
	}
}
@media (max-width: 767px){
	.bx-wrapper{
		background: none ;
	}
}
 




ul.tabs {margin:0 0 20px 0; padding:0}
ul.tabs li {margin:5px; padding:5px 20px; display:inline-block; color:white; background:#999999;}
ul.tabs li:hover {opacity:.8} 
ul.tabs li a {color:white}
ul.tabs li.active {background:#686dcf;}



.callback {
	border: 1px solid white;
    background: green;
    width: 40px;
    height: 200px;
    display: block;
    position: absolute;
    right: 0;
    top: 50%;
	}
	

