ul.news {
    list-style: none;
    display: flex;
    line-height: 18px;
    color: #515151;
    font-size: 16px;
    flex-wrap: wrap;
    font-family: 'Circe-Regular'
}
ul.news li {
    margin: 20px 15px;
    list-style: none;
    width: 45%;
    box-sizing: border-box;
    padding-right: 10px;
}
ul.news li a {
	font-size: 16px;
    font-family: 'Circe-Bold';
	font-weight: 700;
	color: #097fc8;
}

ul.news li table {
	margin-top: 10px;
}
ul.news li a img {
	float: left;
    margin: 0 20px 20px 0;
    width: inherit;
    max-height: 225px;
    width: 150px;
}
ul.news .text {
	line-height: 22px;
    font-size: 15px;
    color: #25404f;
    overflow: hidden;
}

ul.news .text p{
	margin:0px;
}

ul.news .date{
	color: #828282;
    font-size: 11px;
    line-height: normal;
    margin: 0 0 1px;
}

ul.news .more{
    vertical-align: bottom;
    color: #0596c5;
    font-size: 14px;
    text-decoration: underline;
    line-height: 16px;
}

