.comment-list {
	max-width: 750px;
	margin: 40px auto 40px auto;
	text-align: left;
	color: white;
	}
.comment-list h2 {
	margin:0 0 20px 0;
	color: white;
}
.comment-item {
	display: block;
	position: relative;
	width:100%;
	min-height:150px;
	margin:10px 0 20px 0;
	padding-left:120px;
}
.comment-item a, .comment-item a:hover {
	color: white;
}
.comment-prod {
	position: absolute;
    left: 0;
    top: 0;
}
.comment-authorname {
	
}
.comment-date {
	color:#CCC;
}
.comment-text {
	display: block;
	margin: 10px 0;
}
.comment-productname {
	display:block;
	font-weight: bold;
	text-transform: uppercase;
}