@media (max-width:767px){#bx-panel{display:none !important}}



.progress-div {
	width:100%; 
	height:100%; 
	position:absolute; 
	left:0; 
	top:0; 
	background: rgba(255, 255, 255, 0.7) url(images/loader.gif) no-repeat 50% 50%;
}


@font-face {
	font-family: 'Circe-Regular';
	src: url('/webfont/Circe-Regular.eot?#iefix') format('embedded-opentype'),  url('/webfont/Circe-Regular.otf')  format('opentype'),
	     url('/webfont/Circe-Regular.woff') format('woff'), url('/webfont/Circe-Regular.ttf')  format('truetype'), url('/webfont/Circe-Regular.svg#Circe-Regular') format('svg');
	font-weight: normal;
	font-style: normal;
	}
	
@font-face { 
	font-family: 'Circe-Light';
	src: url('/webfont/Circe-Light.eot?#iefix') format('embedded-opentype'),  url('/webfont/Circe-Light.otf')  format('opentype'),
	     url('/webfont/Circe-Light.woff') format('woff'), url('/webfont/Circe-Light.ttf')  format('truetype'), url('/webfont/Circe-Light.svg#Circe-Light') format('svg');
	font-weight: normal; 
	font-style: normal;
	}

body {
	background: white;
	font-family: Arial, sans-serif;
	overflow-x: hidden;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale
}

body.bx-opened {
	overflow: hidden;
}

.bx-wrapper {
	position: relative;
}

.icon-empty {
	opacity: 0;
}

a {
	text-decoration: none;
	color:#D12A2D;
}

a:active,
a:hover {
	border-color: transparent;
	text-decoration: underline;
	color:#D12A2D;
}
a:focus {
	outline: none;
	border: none;
}

a,
.container {
	-webkit-transition: color .1s ease, background-color .1s ease, border-color .1s ease;
	-moz-transition: color .1s ease, background-color .1s ease, border-color .1s ease;
	-ms-transition: color .1s ease, background-color .1s ease, border-color .1s ease;
	-o-transition: color .1s ease, background-color .1s ease, border-color .1s ease;
	transition: color .1s ease, background-color .1s ease, border-color .1s ease;
}

img {
	width: auto;
	max-width: 100%;
	height: auto;
	max-height: 100%
}

input {outline: none;}


/* Header */

.bx-header {
	background: url(images/bgred.png);
	//min-height:200px;
	}

.bx-header .logo {
	position: relative;
    width: 424px;
    height: 90px;
    margin-top: 10px;
    background: url(images/head/logo.png) no-repeat;
}
.bx-header .logo a {
	display:block;
	width:100%;
	height:100%;
}

.bx-header .samovyvoz {
	display: block;
    float: left;
    /*border: 1px solid white;*/
    height: 55px;
    width: 200px;
    background: url(images/head/ico_samovyvoz.png) no-repeat;
    padding: 15px 0 0 55px;
    font-family: 'Circe-Light', Arial, sans;
    font-size: 18px;
	line-height: 20px;
    font-weight: normal;
	}
.bx-header .russia {
    display: block;
    float: left;
    /*border: 1px solid white;*/
    height: 55px;
    width: 200px;
    background: url(images/head/ico_dostavka.png) no-repeat;
    padding: 7px 0 0 80px;
    font-family: 'Circe-Light', Arial, sans;
    font-size: 18px;
    line-height: 20px;
    font-weight: normal;
}
.bx-header .samovyvoz a, .bx-header .russia a, .bx-header .samovyvoz a:hover, .bx-header .russia a:hover  { color:white;}















	
.phones-block {
    height: 80px;
    font-family: 'Circe-Light', Arial, sans;
    color: white;
	margin-top:10px;
	margin-bottom: 5px;
}
	
.phone { 
	margin-top:5px;
	font-family: 'Circe-Light', Arial, sans;
	font-size: 26px;
	line-height: 28px;
	letter-spacing: 1px;
	color: white;
	text-align: center;
	margin-bottom:0;
	display: block;
}
.phone:hover, .phone2:hover {
	color: white;
	text-decoration: none;
}
.callme {
    display: block;
    color: white;
    height: 45px;
    width: 200px;
    margin: 0 auto;
    background: url(images/head/ico_call.png) no-repeat;
    padding: 10px 0 0 50px;
    font-size: 20px;
	color: white;
}
.callme:hover {
	color: white;
}
.call {
	width: 80%;
    margin: 2px auto 0 auto;
    display: block;
    border: 1px solid white;
    padding: 5px 0 2px 0;
    color: white;
    font-family: 'Circe-Light', Arial, sans;
    font-size: 16px;
    text-align: center;
	text-transform: uppercase;
}
.call:hover {
	border:1px solid white; 
	text-decoration: none;
	color: white;
	cursor: pointer;
	background: white;
	color: #b42e31;
}

.zima-sel a {display:inline-block; padding:5px 10px; background: #eeeeee; margin: 0 5px;}
.zima-sel a.active {background:#D12A2D; color:white;}




.top-block-1 {
    max-width: 340px;
    margin: 0 0 0 auto;
	/*background: #cc282b;*/
}
.top-block-2 {
    max-width: 280px;
    margin: 0 auto 0 auto;
}


.cabinet-block {
	width:100%;
	margin: 5px auto 0 auto;
	display: block; 
	padding:8px;
	color:white;
	font-family: 'Circe-Light', Arial, sans;
	font-size: 20px;
	text-transform: uppercase;
	/*background: url(images/ico_user.png) no-repeat 0 0;*/
	background-size: 16%;
	text-align: right;
	height:80px;
}
.cabinet-block .login, .cabinet-block .regin {
	display: inline-block;
	color: white;
	margin:0;
	padding: 0;
}
.cabinet-block .login {
	margin-left:40px;
}

.cabinet-block .lk {
	display:block;
	color:white;
	font-weight: bold;
    text-decoration: underline;
	padding-left: 45px;
}
.cabinet-block .logout {
	display:inline-block;
	color:white;
	font-size:14px;
	margin-top: 15px;
	padding-left:5px;
}
.cabinet-block .zakazy {
	display:inline-block;
	color:white;
	font-size:14px;
	margin-top: 15px;
	padding-right:5px;
}



.top-block-pay{
	display: block;
    float: left;
    width: 120px;
    height: 50px;
    /border: 1px solid white;
    color: white;
    background: url(images/ico_cards.png) no-repeat -15px 50%;
    padding-left: 15px;
    padding-top: 10px;
    text-align: center;
	font-family: 'Circe-Light', Arial, sans;
    font-size: 14px;
    line-height: 15px;
	margin-left: 8px;
}
.top-block-delivery {
	display: block;
    float: right;
    width: 140px;
    height: 50px;
    color: white;
    background: url(images/ico_car.png) no-repeat -15px 50%;
    padding-left: 45px;
    padding-top: 10px;
    text-align: center;
	font-family: 'Circe-Light', Arial, sans;
    font-size: 14px;
    line-height: 15px;
}
.top-block-delivery:hover, .top-block-pay:hover {
	color: white;
}


.cabinet-block .bx-authform {
	margin: 0 !important;
	padding: 0 !important;
	margin-top:8px !important;
	font-size:20px !important;
	text-align: right;
	height: 30px;
	/padding-right: 7px !important;
}



.cabinet-block .social {
	display: block;
	margin:0;
	padding:0;
	list-style: none;
}
.cabinet-block .social li {
	display: inline-block;
}
.cabinet-block .social a {
	display:inline-block;
	width:50px;
	height:50px;
	margin:0 5px;
}
.cabinet-block .f-ok {background: url(images/fa-ok.png) no-repeat;}
.cabinet-block .f-facebook {background: url(images/fa-facebook.png) no-repeat;}
.cabinet-block .f-twitter {background: url(images/fa-twitter.png) no-repeat;}
.cabinet-block .f-vk {background: url(images/fa-vk.png) no-repeat;}




.mlogo {
	position:fixed; 
	top:0; 
	width:100%; 
	height:70px; 
	z-index:150; 
	background:url(images/bgred.png); 
	text-align: center;
	box-shadow: 0px 4px 15px #5D0406;
}
.mlogo .logo {
	width:100%;
	height:70px;
	//margin:0 auto;
	background: url(images/wlogo.png) no-repeat; 
	background-position: 50% 50%;
	background-size: contain;
}

.msearch {
	width:100%; 
	height:60px; 
	z-index:90; 
	background-color:black; 
	text-align: center;
	padding-top:12px;
}
.msearch .search {
	width:500px;
	height:40px;
	margin:0 auto;
	background: url(images/search.png) no-repeat; 
	background-position: 50% 3px;
	background-size: contain;
}


.top-menu-block {
	width:100%; 
	background-color:black; 
	height:50px;
}
.top-menu-block .bx-top-nav {
	margin-right:-30px;
	}


@media (min-width: 1200px) {...}
@media (max-width: 1200px) {
	.bx-header .logo {/*height:140px;*/}
	.cabinet-block{font-size:18px; margin: 5px auto 0 auto; background-size: 16%; height:72px;}
	.bx-authform {margin-top: 7px; /*height:25px;*/ padding-right:0 !important;}
	.cabinet-block .login {margin-left:32px;}
	.top-block-pay {width:100px;}
	.top-block-delivery {width:128px;}
	.bx-basket-block {margin: 10px auto 0 auto;}
	.bx-basket-block .basket-icon {width:30px; background-size: 100%;}
	.bx-basket-block .basket-goods {font-size:14px; line-height: 18px; margin-left: 10px;}
	.bx-basket-block .basket-goods .title{font-size:14px !important;}
	.bx-basket-block .basket-summ {white-space: nowrap; width: 68px;}
	.phones-block {font-size:25px !important;}
	.phone {font-size: 26px;}
	.phone2 {font-size: 26px;}
	.call {padding: 5px 0 3px 0; margin: 3px auto 0 auto;}
	.optButton {width: 65px !important; font-size: 13px !important; margin-right: 7px !important; line-height: 28px !important; padding-left: 24px !important;}
	.callButton {width: 160px !important; font-size: 13px !important; margin-right: -25px !important; padding-left: 22px !important; background-size: 15% !important; line-height: 28px !important;}
	.top-menu-block .bx-top-nav {margin-right:-40px;}
	.intro-by {font-size:14px !important;}
	.callback {display:none !important;}

}
@media (max-width: 992px) {
	/*
	.bx-header .logo {height:115px;}
	.cabinet-block{font-size:18px; margin: 0 auto 0 auto; background-size: 15%;}
	.bx-authform {margin-top: 5px !important; height:20px;}
	.top-block-pay {width:100px;}
	.top-block-delivery {width:128px;}
	.bx-basket-block {margin:10px auto 0 auto; height:40px;}
	.bx-basket-block .basket-icon {width:30px; background-size: 100%; height:35px;}
	.bx-basket-block .basket-goods {font-size:14px; line-height: 18px; margin-left: 10px; height:35px;}
	.bx-basket-block .basket-goods .title{font-size:14px !important;}
	.bx-basket-block .basket-summ {white-space: nowrap; width: 68px; height:35px;}
	.bx-hdr-profile {height:45px;}
	.phone {font-size: 22px; letter-spacing: 2px;}
	.call {padding:4px 0 0 0; margin: 0 auto 0 auto;}
	*/
	.bx-header .logo {height:100%;}
	.msearch {margin-top:20px;}
	.mlogo .logo {background-position:55% 50%;}
}
@media (max-width: 768px) {
	
	.bx-header .logo {height:100%;}
	.msearch {margin-top:20px;}
	.mlogo .logo {background-position:65% 50%;}
}



.optButton {
width: 70px;
    height: 35px;
    margin-top: 8px;
    padding: 5px 0 6px 30px;
    background: black url(/upload/ico_opt.png) no-repeat 0 50%;
    background-size: 40%;
    color: white !important;
    font-family: 'Circe-Light', Arial, sans;
    font-size: 14px;
    text-decoration: none;
    text-transform: uppercase;
    display: block;
    text-align: center;
    margin-right: 20px;
    float: right;
    line-height: 24px;
}
.callButton {
	width: 174px;
    height: 35px;
    margin-top: 8px;
    padding: 5px 5px 6px 30px;
    background: black url(/upload/ico_phone.png) no-repeat 0 50%;
    background-size: 15%;
    color: white !important;
    font-family: 'Circe-Light', Arial, sans;
    font-size: 14px;
    text-decoration: none;
    text-transform: uppercase;
    display: block;
    text-align: center;
    margin-right: -6px;
    float: right;
    line-height: 24px;
}
.optButton:hover, .callButton:hover,
.optButton:active, .callButton:active,
.optButton:visited, .callButton:visited  {
	/*background-color: white;*/
	color: white !important;
	text-decoration:underline;
}

/*Logo*/

/*
.bx-logo {
	padding-left: 20px;
	padding-bottom: 10px;
}

.bx-logo .bx-logo-block {
	display: block;
	height: 60px;
	border-bottom: none;
}

.bx-logo-text,
.bx-logo-text:hover,
.bx-logo-text:active {
	font-size: 32px;
	font-weight: 700;
	font-family: "Open Sans", "Helvetica Neue", Arial, Helvetica, sans-serif;
	color: #000;
	line-height: 37px;
	text-decoration: none;
	border: none;
	vertical-align: bottom;
}

.bx-logo-text small {
	font-size: 37px;
}

.bx-logo-desc {
	text-transform: uppercase;
	display: block;
	font-weight: 700;
	font-size: 13px;
	line-height: 10px;
	color: #b8b8b8;
}

@media (max-width: 767px) {
	.bx-logo {
		background: #686dcf;
		position: fixed;
		left: 0;
		right: 0;
		top: 0;
		z-index: 1400;
		padding: 10px 60px;
	}
	.bx-logo .bx-logo-block {
		text-align: center;
		height: 30px;
	}
	.bx-logo-text {
		font-size: 24px;
		color: #fff;
		line-height: 30px;
		vertical-align: middle;
	}
	.bx-logo-text:hover,
	.bx-logo-text:active {
		color: #fff;
	}
	.bx-logo-text small {
		font-size: 24px;
		color: #fff;
	}
	.bx-logo-desc {
		display: none;
	}
}
*/

/* Sections */

.bx-header-section {
	border-left: 1px solid #eaebec;
	border-right: 1px solid #eaebec;
	padding: 28px 45px 10px;
	background: #fff;
}

.bx-content-seection {
	padding: 0 45px 25px;
	background: #fff;
	border-left: 1px solid #eaebec;
	border-right: 1px solid #eaebec;
}

@media (min-width: 1200px) {...}
@media (max-width: 1200px) {...}
@media (max-width: 992px) {...}
@media (max-width: 768px) {...}

@media (min-width: 1200px) {
	.bx-header-section {
		padding: 21px 45px 10px;
	}
	.bx-content-seection {
		padding: 0 45px 25px;
	}
}

@media (min-width: 992px) and (max-width: 1199px) {
	.bx-header-section {
		padding: 21px 30px 10px;
	}
	.bx-content-seection {
		padding: 0 30px 25px;
	}
}

@media (min-width: 768px) and (max-width: 991px) {
	.bx-header-section {
		padding: 21px 15px 10px;
	}
	.bx-content-seection {
		padding: 0 15px 25px;
	}
}

@media (max-width: 767px) {
	.bx-header-section {
		padding: 60px 15px 10px
	}
	.bx-content-seection {
		padding: 0 15px 25px
	}
}


/* Breadcrumb Custom*/
/*
.bx-breadcrumb-item a {
	color: #757575;
}

.bx-breadcrumb-item a:hover {
	color: #2d2d2d;
}
*/




/* workarea */
/*TITLE*/

h1.bx-title,
h2.bx-title,
h3.bx-title,
h4.bx-title,
h5.bx-title,
h6.bx-title {
	font-family: 'Circe-Light', Arial, sans;
	font-weight: normal;
}

h1.bx-title,
h2.bx-title,
h3.bx-title {
	padding-bottom: 15px;
}

h4.bx-title,
h5.bx-title,
h6.bx-title {}

h1.bx-title {
    font-size: 36px;
	margin: 10px 0 10px 0;
    padding: 10px 0 0 0;
    text-transform: uppercase;
}

h2.bx-title {
	font-size: 25px;
}

h3.bx-title {}

h4.bx-title {}

h5.bx-title {}

h6.bx-title {}
/* FORMS */

.bx-wrap input[type=text],
.bx-wrap  input[type=password] {
	margin: inherit 4px;
	padding: 0 4px;
	border: 1px solid #CCD5DB;
	border-radius: 2px;
	background: #f8fafc;
	outline: none;
}

textarea {
	display: block;
	width: 100%;
	max-width: 100%;
	min-width: 100%;
	font-size: 18px;
	min-height: 150px;
	max-height: 450px;
	margin: 0;
	padding: 0 4px;
	border: 1px solid #CCD5DB;
	border-radius: 2px;
	background: #f8fafc;
	outline: none;
}
.rt-selector {
	border: none;
    border-bottom: 1px solid #000 !important;
    height: 1px;
    display: block;
    margin: 0;
	margin-bottom: 15px;
}




/* BANNERS AT PAGE "/catalog/" */
.rozn-shop {
	background: url(images/bgred.png); 
	width:100%; 
	min-height:400px;
	color: white;
}
.rozn-shop h2 a {
	color: white;
	text-transform: uppercase;
	text-decoration: none;
}
.rozn-shop h2 a:hover {
	text-decoration: none;
}
.rozn-shop p {
	font-family: 'Circe-Light', Arial, sans;
	font-size:18px;
}
.col-rozn-text {
	padding-left:50px;
	}
.col-rozn-img {
	text-align: right;
}
	
@media (max-width: 767px) {
	.col-rozn-img {text-align: center;}
}


/* SORT & COUNT SELECTORS */
.div-sort, .div-count {
	/*
	border-top: 1px solid black;
    border-bottom: 1px solid black;
	*/
    padding: 12px 0;
	}
.div-sort {/*margin-right:-15px;*/}
.div-count {margin-left:-15px; text-align:right;}
.sort-title, .count-title {
	font-family: 'Circe-Regular', Arial, sans;
	font-size: 16px;
	text-transform: uppercase;
}
.sort-var {
	margin-right:5px;
	font-size:14px;
}
.div-sort a {
	padding: 4px 8px;
    border: 1px solid black;
	margin-right: 5px;
	color: black;
}
.div-count a {
	padding: 4px 8px;
	margin-right: 0;
	color: black;
}
.div-sort a:hover {
	background: #F3E1E1;
	color: black;
}
.div-sort a.active, .div-count a.active {
	border: 1px solid #D12A2D;
	background-color:#D12A2D;
	color: white;
}
@media (max-width: 767px) {
	.sort-title, .count-title {display:block; padding-bottom:10px;}
	.div-sort, .div-count {text-align:center; padding-bottom: 20px;}
	.div-sort {margin-right:0; border-bottom: none;}
	.div-count {margin-left:0;}
}




/* INC.banners */
/*
.bx-incbanners {
	margin: 10px 0 25px;
	text-align: center;
}
*/
/* INC.links.footer */
/*
.bx-inclinksfooter a {
	border-bottom: none;
}

.bx-inclinksfooter .bx-block-title {
	margin: 0;
	padding: 0;
	font-size: 17px;
	font-family: "Open Sans", "Helvetica Neue", Arial, Helvetica, sans-serif;
	color: #fff;
	font-weight: 600;
}

.bx-inclinksfooter-container {
	margin-top: 15px;
	padding: 0;
	color: #fff;
	border-radius: 2px;
	font-family: "Open Sans", "Helvetica Neue", Arial, Helvetica, sans-serif;
}

.bx-inclinksfooter-list {
	list-style: none;
	margin: 0;
	padding: 0;
}

.bx-inclinksfooter-item {
	padding: 0 0 5px 0;
}
*/
/* INC.logo.footer */
/*
.bx-inclogofooter {
	color: #fff;
}

.bx-inclogofooter a.bx-inclogofooter-logo {
	border-bottom: none;
}

.bx-inclogofooter-logo img {
	max-width: 180px;
	height: auto;
}

.bx-inclogofooter-block {
	padding-bottom: 20px;
}

.bx-inclogofooter-tel {
	color: #cfd0d0;
	font-family: "Open Sans", "Helvetica Neue", Arial, Helvetica, sans-serif;
	font-size: 18px;
	font-weight: bold;
	padding-bottom: 5px;
}

.bx-inclogofooter-worktime {
	color: #cfd0d0;
	font-family: "Open Sans", "Helvetica Neue", Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	text-transform: uppercase;
}
*/
/* INC.social.widget */
/*
.bx-banners {
	margin: 10px 0;
}

.bx-banners .bx-block-title {
	font-family: "Open Sans", Arial, "Helvetica Neue", Helvetica, sans-serif;
	color: #343434;
	text-transform: uppercase;
	font-size: 12px;
	margin-bottom: 9px;
	font-weight: 600;
}
*/
/* INC.wt */
/*
.bx-wt-block {
	color: #fff;
	padding: 5px 15px;
	background: url(images/wt.png) no-repeat center top;
	-webkit-background-size: cover;
	background-size: cover;
	border-radius: 3px;
}

.bx-wt .bx-block-title {
	font-family: "Open Sans", "Helvetica Neue", Arial, Helvetica, sans-serif;
	font-size: 25px;
	font-weight: 600;
	text-transform: uppercase;
	margin-bottom: 14px;
}

.bx-wt-block ul {
	margin: 0;
	padding: 0;
	list-style: none;
	font-size: 12px;
}

.bx-wt-block ul li {
	padding-bottom: 7px;
}

.bx-wt-others-block {
	text-transform: uppercase;
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 7px;
	margin-top: 4px;
}
*/



/* FOOTER */

.bx-footer {
	background: black;
	font-family: 'Circe-Light', Arial, sans-serif;
	font-size:14px;
	color: white;
}



.footer-menu-block {
	/height:400px; 
	border-bottom: 1px solid white;
	padding-bottom:20px;
}
.footer-menu-block .h3 {
	font-size: 18px;
	line-height: 20px;
	margin-bottom: 25px;
    margin-top: 35px;
	padding-bottom:0;
	text-transform: uppercase;
	display: block;
}
.footer-menu-block .h3 i {
	padding-left:10px;
}
.footer-menu-block a {
	font-family: 'Circe-Light', Arial, sans-serif;
	font-size:16px;
	line-height:24px;
	color: white;
}
.footer-menu-block .row div {
	/border:1px solid white;
	/min-height:100px;
}



.bx-footer .footer-vay-block {
	background-image: url(images/bgvay.gif);
	background-position: 50% top;
	background-repeat: no-repeat;
	background-size: 100%;
	height:385px;
	margin-top:30px;
}

.footer-info-block {
	background:black;
	margin-top:20px;
	}

.footer-social-block,
.footer-pay-block,
.footer-search-block,
.footer-logo-block,
.footer-copyright-block,
.footer-addr-block,
.footer-phones-block,
.footer-block1
 {
	margin: 10px 0;
	height:85px;
}

.footer-copyright-block,
.footer-addr-block,
.footer-logo-block {
	height:60px;
}

.footer-search-block {
	padding-top:30px;
	padding-left:35px;
}

.footer-pay-block span {
	display:block;
	margin-bottom:10px;
}
.footer-pay-block div {
	width: 100%;
    max-width: 230px;
    height: 46px;
    background: white url(images/pay.png) no-repeat 50% 50%;
    background-size: contain;
    border-radius: 5px;
}

.footer-social-block {
	position: relative;
}
.footer-social-block span {
	display:block;
	margin-bottom:10px;
}
.footer-social-block a {
	display: inline-block;
	font-size: 30px;
	line-height: 30px;
	margin: 7px 1px 0 1px;
	min-width: 38px;
	text-align: center;
	padding: 2px 3px 0px 3px;
	background: #D12A2D;
	color: black;
}
.footer-social-block a:hover {
	color: white;
}


.footer-copyright-block span {
}

.footer-addr-block {
}


.footer-phones-block {
	text-align:right;
	padding-top:25px;
}
.footer-phones-block span {
	font-family: 'Circe-Regular', Arial, sans-serif;
	font-size:22px;
	line-height:24px;
}

.footer-logo-block {
	
}

.btnUp {
	color:white;
	font-family: 'Circe-Light', Arial, sans-serif;
	font-size:14px;
	text-transform: uppercase;
}
.btnUp i {
	padding-right:5px;
}
.btnUp:hover {color:white !important;}
.btnUp:active {color:white !important;}

@media (min-width: 1200px) {...}
@media (max-width: 1200px) {
	.bx-footer .footer-vay-block {background-size: 125%;}
	
	}
@media (max-width: 992px) {
	.footer-phones-block {text-align: left; padding-top:10px;}
	.footer-logo-block {height:20px;}
	.footer-search-block {padding-top:12px; 	padding-left:0;}
	.bx-footer .footer-vay-block {background-size: 165%;}
}
@media (max-width: 768px) {
	.footer-phones-block span {font-size:22px; line-height:24px;}
	.footer-phones-block {text-align: left;}
	.footer-logo-block {height:20px;}
	.footer-search-block {padding-top:12px; 	padding-left:0;}
	.footer-menu-block h3 {margin-bottom: 0; margin-top: 20px; text-align:center;}
	.footer-menu-block .bottom-section-list {text-align:center;}
	.footer-menu-block .bottom-section-list ul li {float: none;}
	.bottom-section-list ul li ul li {margin-right:0;}
	.bx-footer .footer-vay-block {
		background-position: 50% top;
		background-repeat: no-repeat;
		background-size: auto;
		}
	}
	
@media (max-width: 430px) {
	.footer-phones-block span {font-size:16px; line-height:20px;}
	.footer-phones-block {text-align: left;}
}








/*
.bx-footer-section.bx-center-section {
	padding-top: 40px;
	padding-bottom: 40px;
}

.bx-footer-section.bx-center-section>div {
	margin-bottom: 20px;
}

.bx-footer a {
	color: #c8cece;
}

.bx-footer a:hover {
	color: #fff;
	border-bottom: 1px solid;
	text-decoration: none;
}

.bx-footer-line {
	background: #1f496a;
}

.bx-footer-bottomline {
	background: #212121;
	font-size: 14px;
	padding: 22px 0;
}

.bx-up {
	text-align: right;
}

.bx-up a,
.bx-up a:hover {
	border-bottom: none;
}

@media (min-width: 1200px) {}

@media (min-width: 992px) and (max-width: 1199px) {}

@media (min-width: 768px) and (max-width: 991px) {}

@media (max-width: 767px) {
	.bx-footer {
		text-align: center;
	}
	.bx-up {
		text-align: center;
	}
}
*/


/**/

.btn-primary {
	background-color: #1485ce;
	border-color: #1485ce;
}

.btn-primary.active,
.btn-primary.focus,
.btn-primary:active,
.btn-primary:focus,
.btn-primary:hover,
.open>.dropdown-toggle.btn-primary {
	background-color: #53a4d8;
	border-color: #53a4d8;
}

.btn-link {
	color: #1485ce;
}

.btn-link:focus,
.btn-link:hover {
	color: #53a4d8;
	text-decoration: none;
}
/*404*/

.bx-404-container {
	width: 100%;
	margin: 0 auto;
	text-align: center;
}

.bx-404-block {
	margin-top: 100px;
	margin-bottom: 66px;
}

@media (max-width: 768px) {
	.bx-404-block {
		margin-top: 50px;
		margin-bottom: 33px;
	}
}

.bx-404-text-block {
	font-size: 20px;
	font-family: "Open Sans", "Helvetica Neue", Arial, Helvetica, sans-serif;
	padding-bottom: 20px;
}

.bx-maps-title {
	color: #8f8f8f;
	font-size: 16px;
	font-family: "Open Sans", "Helvetica Neue", Arial, Helvetica, sans-serif;
	padding-bottom: 20px;
	padding-top: 10px;
	border-bottom: 1px solid #e9eaea;
}

.map-columns {
	padding-top: 20px;
}

.bx-map-title {
	font-weight: bold;
	font-size: 14px;
	font-family: "Open Sans", "Helvetica Neue", Arial, Helvetica, sans-serif;
	position: relative;
	min-height: 20px;
	padding-left: 25px;
	margin-bottom: 20px;
}

.bx-map-title .fa {
	color: #0083d1;
	position: absolute;
	left: 0;
	top: 2px;
	font-size: 15px;
}

.map-columns ul {
	list-style: none;
	margin-bottom: 5px;
}

.map-level-0 {
	margin-left: 0;
	padding-left: 25px;
	margin-bottom: 20px;
}

.map-level-0 li {
	margin-left: 0;
	padding-left: 0;
}

.map-level-0 ul {
	padding-left: 15px;
}

ul.map-level-1 {
	margin-bottom: 30px;
}
/*ABOUT*/

.bxd-block {
	width: 100%;
	border: 1px solid #e3e6e7;
	display: block;
	background: #fff;
	padding: 15px;
	min-height: 210px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

a.bxd-block:hover {}

.bxd-icon {
	display: block;
	border-radius: 50%;
	height: 68px;
	width: 68px;
	margin: 0 auto;
	-webkit-transition: color .3s ease, background-color .3s ease, border-color .3s ease;
	-moz-transition: color .3s ease, background-color .3s ease, border-color .3s ease;
	-ms-transition: color .3s ease, background-color .3s ease, border-color .3s ease;
	-o-transition: color .3s ease, background-color .3s ease, border-color .3s ease;
	transition: color .3s ease, background-color .3s ease, border-color .3s ease;
}

.bxd-block:hover .bxd-icon {}

.bxd-icon .fa {
	margin-left: -1px;
	position: relative;
	font-size: 35px;
	height: 68px;
	width: 68px;
	text-align: center;
	line-height: 68px;
	vertical-align: middle;
	-webkit-transition: color .3s ease, background-color .3s ease, border-color .3s ease;
	-moz-transition: color .3s ease, background-color .3s ease, border-color .3s ease;
	-ms-transition: color .3s ease, background-color .3s ease, border-color .3s ease;
	-o-transition: color .3s ease, background-color .3s ease, border-color .3s ease;
	transition: color .3s ease, background-color .3s ease, border-color .3s ease;
}

.bxd-link:hover .bxd-icon .fa {}

.bxd-title {
	display: block;
	padding-top: 10px;
	padding-bottom: 10px;
	font-weight: bold;
	text-align: center;
	color: #000;
	font-size: 15px;
	font-family: "Open Sans", "Helvetica Neue", Arial, Helvetica, sans-serif;
	white-space: nowrap;
	-ms-text-overflow: ellipsis;
	text-overflow: ellipsis;
	overflow: hidden;
	text-transform: uppercase;
}

.bxd-desc {
	display: block;
	text-align: center;
	color: #737373;
	font-size: 12px;
}

.bx-wrapper{
	background-repeat: no-repeat;
	background-position: top center;
}
@media (min-width: 992px) and (max-width:1199px){
	.bx-wrapper{
		-webkit-background-size:1600px auto;
		background-size:1600px auto;
	}
}
@media (min-width: 768px) and (max-width: 991px){
	.bx-wrapper{ 
		-webkit-background-size:1280px auto;
		background-size:1280px auto;
	}
}
@media (max-width: 767px){
	.bx-wrapper{
		background: none ;
	}
}

@media (max-width: 991px){
	.callback {display: none;}
}
@media (min-width: 992px) {
	.callback {
		display: block;
		position: fixed;
		right:0;
		top:50%;
		margin-top:-100px;
		padding: 10px 0 5px 0;
		width:40px;
		height:200px;
		background: green url(images/callme1.png) no-repeat;
		z-index:1000;
		color: white;
		font-family: 'Circe-Light', Arial, sans;
		font-size: 16px;
		text-align: center;
		text-transform: uppercase;
		cursor: pointer;
		box-shadow: -3px 0px 2px #596d59;
	}
	.callback:hover {
		background: #2a962a url(images/callme1.png) no-repeat; 
	}
}

ul.tabs {margin:0 0 20px 0; padding:0}
ul.tabs li {margin:5px; padding:5px 20px; display:inline-block; color:white; background:black;}
ul.tabs li:hover {opacity:.8} 
ul.tabs li a {color:white}
ul.tabs li.active {background:#D12A2D;}


.ak-listopad {
	display:block; 
	width: 100%; 
	height: 80px; 
	background: url(/upload/iblock/f81/f8169951996d9632f805be81da7e8265.jpg) 50% -41%; 
	text-align: center; 
	font-size: 24px; 
	line-height: 28px;
	color: white; 
	text-transform: uppercase;
	text-shadow: 6px 6px 7px #803400;
	padding-top: 22px;
	}
.ak-listopad:hover, .ak-listopad:visited {color:white;}
@media (max-width: 992px) {.ak-listopad {font-size:20px; line-height:22px; padding-top:38px;}}
@media (max-width: 768px) {.ak-listopad {font-size:20px; line-height:22px; padding-top:30px;}}


.transparant {
	display: block;
    width: 100%;
    /*
	height: 93px;
    background: #515463 url(/upload/transpng.png) 50% 0;
	*/
	background: #bc161a;
	 text-align: center;
    /*background-repeat: no-repeat;
    background-size: contain;
   
	font-size: 24px;
    line-height: 28px;
	*/
    color: white;
    text-transform: uppercase;
    text-shadow: 6px 6px 7px #803400;
    /*padding-top: 22px;*/
	margin-top:0px;
	}
.transparant :hover, .transparant :visited {color:white;}
@media (max-width: 992px) {.transparant  {font-size:20px; line-height:22px; padding-top:30px;}}
@media (max-width: 768px) {.transparant  {font-size:20px; line-height:22px; padding-top:30px;}}


.other-links {
	font-size: 20px;
    line-height: 20px;
    margin-bottom: 25px;
    margin-top: 35px;
    padding-bottom: 0;
    text-transform: uppercase;
    font-family: 'Circe-Light', Arial, sans;
	color: black;
	}
	
	
	
.filter-points {
	margin:0px 0px 5px 0px;
	font-size:20px;
	font-family: 'Circe-Light', Arial, sans;
	text-transform: uppercase;
}
.filter-points div:first-child {
	margin-left: -15px !important;
}
.filter-points a {
	color: black;
	margin-right:50px;
	white-space: nowrap;
	margin-top: 10px;
    display: inline-block;
}
.filter-points a img {
	width:40px;
	margin-right:10px;
	margin-top: -2px; 
}
@media (max-width: 768px) {
	.filter-points a {margin-right:10px;}
}

.note {
    display: block;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    padding: 15px 20px;
    margin: 10px 0;
}
