/* layout styles */

/* color styles */
.bx-wrapper.vay-male .bx-header {background: #DADADA;} 
.bx-wrapper.vay-male .bx-header .logo {background: url(images/wlogobig.png) no-repeat; background-size: contain; background-position: 20% 50%;}
.bx-wrapper.vay-male .cabinet-block {color: black; background: url(images/ico_user_black.png) no-repeat 0 0;}
.bx-wrapper.vay-male .cabinet-block a {color:black !important;}
.bx-wrapper.vay-male .cabinet-block .login, .bx-wrapper.vay-male .cabinet-block .regin {color:black;}
.bx-wrapper.vay-male .top-block-pay {background: url(images/ico_cards_black.png) no-repeat -15px 50%; color: black;}
.bx-wrapper.vay-male .top-block-delivery {background: url(images/ico_car_black.png) no-repeat -15px 50%; color: black;}

.bx-wrapper.vay-male .bx-authform-social.top ul li .bx-authform-social-icon.odnoklassniki {background: black url(images/fa-ok-black.png);background-size: 100%;}
.bx-wrapper.vay-male .bx-authform-social.top ul li .bx-authform-social-icon.vkontakte {background: black url(images/fa-vk-black.png);background-size: 100%;}
.bx-wrapper.vay-male .bx-authform-social.top ul li .bx-authform-social-icon.facebook {background: black url(images/fa-facebook-black.png);background-size: 100%;}
.bx-wrapper.vay-male .bx-authform-social.top ul li .bx-authform-social-icon.openid-mail-ru {background: black url(images/fa-mailru-black.png);background-size: 100%;}

.bx-wrapper.vay-male .bx-basket-block .basket-icon {background: url(images/cart-black.png) no-repeat;background-size: 65%;}
.bx-wrapper.vay-male .bx-basket-block {color:black;}

.bx-wrapper.vay-male .bx-black.bx-top-nav .bx-top-nav-container .bx-nav-1-lvl.bx-hover>a, 
.bx-wrapper.vay-male .bx-black.bx-top-nav .bx-top-nav-container .bx-nav-1-lvl.bx-active>a, 
.bx-wrapper.vay-male .bx-black.bx-top-nav .bx-top-nav-container .bx-nav-1-lvl:hover>a {background-color:white;}
.bx-wrapper.vay-male .bx-top-nav-container .bx-nav-1-lvl.bx-nav-parent.bx-hover>a span, 
.bx-wrapper.vay-male .bx-top-nav-container .bx-nav-1-lvl.bx-nav-parent.bx-hover>a span {background: #DEDEDE;}

.bx-wrapper.vay-male .phone {color: black;}
.bx-wrapper.vay-male .intro-by {color:black;}
.bx-wrapper.vay-male .call {color:black; border-color:black; background:none;}
.bx-wrapper.vay-male .call:hover {color:white; border-color:black; background:black;}

.bx-wrapper.vay-male .viewed-list .viewed-item .name-block {background-color: black;}

.bx-wrapper.vay-male .bx-footer .footer-vay-block {background-image: url(images/bgvaymale.png);}

.bx-wrapper.vay-male .f-facebook-red {background: url(images/fa-facebook.png) no-repeat;background-size: contain;}
.bx-wrapper.vay-male .f-vk-red {background: url(images/fa-vk.png) no-repeat;background-size: contain;}
.bx-wrapper.vay-male .f-twitter-red {background: url(images/fa-twitter.png) no-repeat;background-size: contain;}
.bx-wrapper.vay-male .f-ok-red {background: url(images/fa-ok.png) no-repeat;background-size: contain;}