/* layout styles */
.bx-wrapper.vay-kids .cabinet-block {height: 92px;}
.bx-wrapper.vay-kids .cabinet-block .bx-authform  {margin-top: 14px !important;}
.bx-wrapper.vay-kids .call {margin: 8px auto 0 auto;}
.bx-wrapper.vay-kids .bx-basket-block {height: 44px; margin: 19px auto 0 auto;}
.bx-wrapper.vay-kids .bx-basket-block .basket-icon, 
.bx-wrapper.vay-kids .bx-basket-block .basket-goods,
.bx-wrapper.vay-kids .bx-basket-block .basket-summ {height:45px;}

/* 
color styles
#9aa28c - green
#ebc484 - yellow
#F39381 - orange 
*/
.bx-wrapper.vay-kids .bx-header {background: url(images/bgKIDS.png) repeat-x;}
.bx-wrapper.vay-kids .bx-header .logo {background: url(images/klogobig4.png) no-repeat; background-size: contain; background-position: 0 50%;}
.bx-wrapper.vay-kids .intro-by {color:#934f66;}
.bx-wrapper.vay-kids .call {color:#934f66; border-color:#934f66;background:none;}
.bx-wrapper.vay-kids .call:hover {color:#934f66; border-color:white; background:white;}
.bx-wrapper.vay-kids .div-sort a.active, .bx-wrapper.vay-kids .div-count a.active {
	border: 1px solid #9aa28c !important; 
	background-color:#9aa28c !important; 
	color: white !important;
	}
.bx-wrapper.vay-kids .div-sort a:hover {background: #C0C5B7 !important;}
.bx-wrapper.vay-kids .bx-filter .bx-filter-parameters-box-title span {color:#F39381;}
.bx-wrapper.vay-kids div.cb.checked {background: url(images/green-dot.gif) no-repeat 50% 50%;}
.bx-wrapper.vay-kids .bx-filter .bx-ui-slider-handle.left span, .bx-wrapper.vay-kids .bx-filter .bx-ui-slider-handle.right span {background: #9aa28c;}
.bx-wrapper.vay-kids .bx-filter.bx-black .bx-ui-slider-pricebar-v {background: #9aa28c;}


.bx-wrapper.vay-kids div[id*="prop_75_cont"] .bx_size_scroller_container .bx_size ul li.bx_active {background: #F39381 !important;}
.bx-wrapper.vay-kids div[id*="prop_76_cont"] .bx_size_scroller_container .bx_size ul li.bx_active .cnt {border: 1px solid #F39381 !important; background: #F39381 !important;}
.bx-wrapper.vay-kids .bx_catalog_list_home.bx_black .bx_bt_button {background: #9aa28c; border: 1px solid #9aa28c;}
.bx-wrapper.vay-kids .bx_catalog_list_home.bx_black .bx_bt_button:hover {background: white; border: 1px solid #9aa28c; color: black}

.bx-wrapper.vay-kids .bx_catalog_list_home .bx_small.bx_bt_button_type_2:hover {background: #9aa28c; color:white; border:1px solid #9aa28c;}
.bx-wrapper.vay-kids .btn.btn-themes:hover, .bx-wrapper.vay-kids .btn.btn-link:hover {background:#9aa28c !important; border-color:#9aa28c !important;}

.bx-wrapper.vay-kids .bx-filter .bx-filter-popup-result {color:#F39381 !important;}

.bx-wrapper.vay-kids .bx-pagination .bx-pagination-container ul li.bx-active span {background: #9aa28c; border: 1px solid #9aa28c;}
.bx-wrapper.vay-kids .div-count-bottom a.active {border: 1px solid #9aa28c; background-color: #9aa28c;}

.bx-wrapper.vay-kids .bx-footer .footer-vay-block {background-image: url(images/bgvaykids.png);}

.bx-wrapper.vay-kids .bx_item_detail .bx_big.bx_bt_button, .bx_item_detail .bx_big.bx_bt_button_type_2 {background:#9aa28c; border:1px solid #9aa28c;}
.bx-wrapper.vay-kids .bx_item_detail .bx_big.bx_bt_button:hover, .bx-wrapper.vay-kids .bx_item_detail .bx_big.bx_bt_button_type_2:hover {background:white; border:1px solid #9aa28c; color:black;}
.bx-wrapper.vay-kids .bx_item_detail .bx_small.bx_bt_button:hover, .bx-wrapper.vay-kids .bx_item_detail .bx_small.bx_bt_button_type_2:hover{background:#9aa28c; border:1px solid #9aa28c;}

.bx-wrapper.vay-kids .get_size:hover, .bx-wrapper.vay-kids .get_size_min:hover {background:#9aa28c; border:1px solid #9aa28c;}

.bx-wrapper.vay-kids .bx_soc_comments_div.bx_important .bx_medium.bx_bt_button:hover, 
.bx-wrapper.vay-kids .bx_soc_comments_div.bx_important .bx_medium.bx_bt_button_type_2:hover {background:#9aa28c; border:1px solid #9aa28c;}

.bx-wrapper.vay-kids .viewed-list .viewed-item .name-block {background-color:#F39381;}

.bx-wrapper.vay-kids .ya-share2__item_service_facebook .ya-share2__badge {background:#a0556e !important;}
.bx-wrapper.vay-kids .ya-share2__item_service_vkontakte .ya-share2__badge {background:#F39381 !important;}
.bx-wrapper.vay-kids .ya-share2__item_service_twitter .ya-share2__badge {background:#9aa28c !important;}
.bx-wrapper.vay-kids .ya-share2__item_service_odnoklassniki .ya-share2__badge {background:#F9C581 !important;}

.bx-wrapper.vay-kids .f-facebook-red {background: url(images/fa-facebook-kids.png) no-repeat;}
.bx-wrapper.vay-kids .f-vk-red {background: url(images/fa-vk-kids.png) no-repeat;}
.bx-wrapper.vay-kids .f-twitter-red {background: url(images/fa-twitter-kids.png) no-repeat;}
.bx-wrapper.vay-kids .f-ok-red {background: url(images/fa-ok-kids.png) no-repeat;}