div.subscribe-edit .red {
	color:red;
}
div.subscribe-edit .green {
	color:green;
}
div.subscribe-edit .errorcolor {
	color:red;
}
div.subscribe-edit .successcolor {
	color:green;
}
	
	
.subscribe-edit .data-table thead tr td {
	background: #EEE;
}
.subscribe-edit .data-table td { 
	padding: 5px 10px;
	}
.subscribe-edit label input {margin: 5px 10px;}