.bx-breadcrumb {
	margin: 5px 0 8px 0;
}
.bx-breadcrumb i {
	color: #b5bdc2;
	line-height: 13px;
	font-size: 12px;
	vertical-align: middle;
	margin-right: 5px;
}
.bx-breadcrumb .bx-breadcrumb-item {
	float: left;
    margin: 0;
    white-space: nowrap;
    line-height: 14px;
    vertical-align: middle;
    margin-right: 0px;
    padding: 5px;
}
.bx-breadcrumb .bx-breadcrumb-item span {
	font-family: 'Circe-Light', Arial, sans;
	font-size: 16px;
}
.bx-breadcrumb .bx-breadcrumb-item a {border-bottom: none; color:black;}
.bx-breadcrumb .bx-breadcrumb-item a:hover {color: black;}

@media (max-width:992px) {
	.bx-breadcrumb {	margin: 8px 0 8px 0;}
}