.search-form {
	
}
form#top-mobile input[name=q] {
	display:inline-block; 
	width: 80%;
	height:36px;
	color:#b42e31;
	margin:0;
	padding:0 10px;
	border:none;
	font-size: 18px;
    line-height: 36px;
	font-family: 'Circe-Light', Arial, sans;
}

form#top-mobile .btnSubmit {
	display: inline-block;
    font-size: 14px;
    line-height: 36px;
    text-align: center;
    color: black;
    width: 40px;
    height: 36px;
    border: none;
    background: white;
    margin: 0;
    padding:0 10px;
    background: white;
}
form#top-mobile .btnSubmit:hover {
	background: gray;
}

@media (max-width: 768px) {
	
	}
	
.bx-firefox form#top-mobile .btnSubmit {	
	font-size: 15px;
}