.top-row {
	width:100%;
	height:40px;
	background-color: #7780ee;
	cursor: pointer;
	color: white;
	border-bottom: 2px solid white;
	z-index: 1500;
}
.top-row h2 {
	display: block;
	max-width:1000px;
	margin:0 auto;
	color: white;
	font-size: 18px;
	font-weight: normal;
	text-align: center;
    padding: 13px 0;
}
.top-row h2:hover {
	text-decoration: underline;
}
.top-row-2 {
	width:100%;
	display: none;
	margin:0;
	padding:10px 0;
	background-color: #7780ee;
	color: white;
	z-index: 1500;
}
.top-row-2-inner {
	display: block;
	max-width:1000px;
	margin: 0 auto;
	font-size: 14px;
	text-align: center;
	color: white;
}
.top-row-2-inner p {
	padding: 0 0 10px 0;
	margin:0;
}



@media (max-width: 992px) {
	.bx-aside-nav-control {top: 60px !important;}
	.top-row {position: fixed !important; height: 60px !important; top:0px !important;}
	.top-row-2 {position: fixed !important; top: 60px !important;}
	.mlogo {top: 60px !important;}
}

@media (max-width: 520px) {
	.bx-aside-nav-control {top: 80px !important;}
	.top-row {position: fixed !important; height: 80px !important;}
	.top-row-2 {position: fixed !important; top: 80px !important;}
	.mlogo {top: 80px !important;}
}