.bottom-section-list {
	
	}
	
.bottom-section-list ul,
.bottom-section-list ul li,
.bottom-section-list ul li ul,
.bottom-section-list ul li ul li {
	margin-left:0;
	padding-left:0;
	list-style:none;
	text-transform: uppercase;
	line-height: 26px;
}

.bottom-section-list ul li a {
}
	
.bottom-section-list ul li {
	float: left;
}

.bottom-section-list ul li ul li {
	margin-right:60px;
	float: none;
}