.bx-blue.bx-top-nav .bx-top-nav-container {
	/*background: #0083d1;
	background: #686dcf;*/
}
.bx-blue.bx-top-nav .bx-top-nav-container .bx-nav-1-lvl.bx-hover>a,
.bx-blue.bx-top-nav .bx-top-nav-container .bx-nav-1-lvl.bx-active>a,
.bx-blue.bx-top-nav .bx-top-nav-container .bx-nav-1-lvl:hover>a {
	background: #4931bc;
	border-bottom: none;
}
.bx-blue.bx-top-nav .bx-top-nav-container .bx-nav-1-lvl.bx-nav-parent.bx-hover>a,
.bx-blue.bx-top-nav .bx-top-nav-container .bx-nav-1-lvl.bx-nav-parent:hover>a {
	color: #FFF;
	background-color: #4931bc;
}
/*2 lvl*/

.bx-blue.bx-top-nav .bx-top-nav-container .bx-nav-2-lvl>a:hover {
	color: #0083D1;
	background: #f0f6f8;
}
/*3 lvl*/
.bx-blue.bx-top-nav .bx-top-nav-container .bx-nav-3-lvl a:hover {
	color: #0083D1;
	background: #f0f6f8;
}
