.good-item {
	/*border:1px solid #EEE; */
	text-align:center; 
	width:250px;
	height:440px; 
	overflow: hidden;
	margin: 5px auto;
	}

.good-item .good-title {
	height: 25px;
    /*background: yellow;*/
    white-space: nowrap;
    padding: 3px 5px;
	overflow: hidden;
	}
	
.good-item .good-offers	{
	/*background:gray;*/
}

.good-item .good-offers	.img-block {
	/*background:#EEE;*/
	height: 310px;
}

.offer-price {
	height: 25px;
    /*background: yellow;*/
    white-space: nowrap;
    padding: 3px 5px;
	overflow: hidden;
}

.good-item .good-offers .color-name {
	height: 25px;
    /*background: orange;*/
    white-space: nowrap;
    padding: 3px 5px;
	overflow: hidden;
	}


.good-offer-item.slick-slide {
	display: none;
	}
.good-offer-item.slick-slide.active {display:block;}

.good-offer-item img {margin:0 auto;}

.color-count {
    padding: 0px 5px;
    background: white;
    color: black;
    position: relative;
    display: block;
    position: absolute;
    left: 12%;
    top: 5px;
}

.slick-slide {outline:none;}
.slick-prev:before, .slick-next:before {color:black !important;}
.slick-prev, .slick-next {z-index:100 !important;}
.slick-prev {left:25px !important;}
.slick-next {right:25px !important;}
.slick-slider {margin-bottom: 0px !important;}


ul.size-list {
	margin:5px 0 !important; 
	height: 45px;
	padding:0 !important;
	}
ul.size-list li {    display: inline-block;
    margin: 0;
    padding: 2px 4px;
    border: 1px solid #e4e4e4;
    font-size: 11px;}
