.intro-by {
	display:table-cell; 
	vertical-align:middle; 
	height:30px; 
	padding-right:10px; 
	font-size:18px;
	text-transform: none;
}

.bx-authform-social-popup{
	display: none;
	background: #fff;
	width: auto;
	padding: 15px;
	font-size: 14px;
	white-space: nowrap;
}

.bx-authform-social-popup form{margin-bottom: 0;}

.bx-authform-social-popup input[type="text"] {
	display: inline-block;
	max-width: 150px;
	font-size: 18px;
	height: 30px;
	margin: 0;
	padding: 0 4px;
	border: 1px solid #CCD5DB;
	border-radius: 2px;
	background: #f8fafc;
	outline: none;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.bx-authform-social.top {
	display: inline-block;
	}

.bx-authform-social.top ul {
  	padding: 0;
  	margin: 0;
  	display: table-cell;
	vertical-align: middle;
	height: 30px;
	/padding-top:5px;
}

.bx-authform-social.top ul li {
	position: relative;
	display: inline-block;
	width: 30px;
	height: 30px;
	font-size: 13px;
	margin-right: 0px;
}
.bx-authform-social.top ul li .bx-authform-social-icon {
	display: block;
	width: 30px;
	height: 30px;
	/*background-image: url(images/sprite.png);*/
	/*background-image: url(images/icons_v4.png);*/
	background-repeat: no-repeat;
	/outline: 1px solid white;
	background-size:100%;
}

.bx-authform-social.top ul li .bx-authform-social-icon:hover{opacity: .9;}
.bx-authform-social.top ul li .bx-authform-social-icon.openid {background-position:0px -192px;}
.bx-authform-social.top ul li .bx-authform-social-icon.yandex {background-position:0px 0px;}
.bx-authform-social.top ul li .bx-authform-social-icon.openid-mail-ru {background-position:0px -48px;}
.bx-authform-social.top ul li .bx-authform-social-icon.livejournal {background-position:0px -16px;}
.bx-authform-social.top ul li .bx-authform-social-icon.liveinternet {background-position:0px -128px;}
.bx-authform-social.top ul li .bx-authform-social-icon.blogger {background-position:0px -144px;}
.bx-authform-social.top ul li .bx-authform-social-icon.liveid {background-position:0px -176px;}
.bx-authform-social.top ul li .bx-authform-social-icon.facebook {background-position:0px -32px;}v
.bx-authform-social.top ul li .bx-authform-social-icon.twitter {background-position:0px -96px;}
.bx-authform-social.top ul li .bx-authform-social-icon.vkontakte {background-position:0px -80px;}
.bx-authform-social.top ul li .bx-authform-social-icon.mymailru {background-position:0px -64px;}
.bx-authform-social.top ul li .bx-authform-social-icon.google {background-position:0px -112px;}
.bx-authform-social.top ul li .bx-authform-social-icon.google-plus {background-position:0px -112px;}
.bx-authform-social.top ul li .bx-authform-social-icon.odnoklassniki {background-position:0px -208px;}
.bx-authform-social.top ul li .bx-authform-social-icon.bitrix24 {background-position:0px -378px}
.bx-authform-social.top ul li .bx-authform-social-icon.dropbox {background-position:0px -504px}
.bx-authform-social.top ul li .bx-authform-social-icon.box {background-position:0px -520px}

.bx-authform-social.top ul li .bx-authform-social-icon.odnoklassniki {background: white url(images/fa-ok.png); background-size:100%;}
.bx-authform-social.top ul li .bx-authform-social-icon.vkontakte {background: white url(images/fa-vk.png); background-size:100%;}
.bx-authform-social.top ul li .bx-authform-social-icon.facebook {background: white url(images/fa-facebook.png); background-size:100%;}
.bx-authform-social.top ul li .bx-authform-social-icon.openid-mail-ru {background: white url(images/fa-mailru.png); background-size:100%;}

@media (min-width: 1200px) {}
@media (max-width: 1200px) {
	form#top-search input[name=q] {
		width: 76% !important; 
		font-size:14px !important; 
		padding: 0 0 0 10px !important;
		line-height: 35px;
		}
	}
@media (max-width: 992px) {}
@media (max-width: 768px) {}
