.bx-authform {
	max-width: none !important;
}

.bx-authform a {color:#D12A2D; font-size:14px;}
.bx-authform a:hover {color:#D12A2D;}

.bx-filter-param-label {
	padding-left:0 !important;
}
.bx-authform-label-container {
	text-transform: uppercase;
	color: black !important;
	padding-bottom: 10px !important;
}
.bx-authform-label-container input {
	border: 1px solid black !important;
	background: none !important;
}
.bx-authform-input-container input[type="text"], 
.bx-authform-input-container input[type="password"]
{
	border: 1px solid black !important;
	background: none !important;
	border-radius: 0 !important;
}

.bx-authform-formgroup-container .btn.btn-primary {
    position: relative;
    top: 0;
    display: inline-block;
    padding: 0 18px;
    color: black;
    vertical-align: bottom;
    font-family: 'Circe-Light', Arial, sans-serif;
    text-decoration: none;
    font-size: 16px;
    text-transform: uppercase;
    line-height: 36px;
    background: #D12A2D;
    color: white;
    border: 1px solid #D12A2D;
    margin-bottom: 20px;
	border-radius: 0;
}
.bx-authform-formgroup-container .btn.btn-primary:hover {
	background: none;
	border: 1px solid black;
	color: black;
}

div.cb {
	width: 20px;
    height: 20px;
    border: 1px solid black;
    display: inline-block;
	vertical-align: text-bottom;
}
div.cb.checked
{
	background: url(images/red-dot.gif) no-repeat 50% 50%;
}