
.rec-count {
	font-family: 'Circe-Regular', Arial, sans-serif;
	font-size:16px;
	text-transform: uppercase;
}



.div-count-bottom {
    padding: 0;
	}
.div-count-bottom {margin-left:-15px; text-align:right;}
.div-count-bottom .count-title {
	font-family: 'Circe-Regular', Arial, sans;
	font-size: 16px;
	text-transform: uppercase;
}
.div-count-bottom a {
	padding: 4px 8px;
	margin-right: 0;
	color: black;
}
.div-count-bottom a.active {
	border: 1px solid #D12A2D;
	background-color:#D12A2D;
	color: white;
}



.bx-pagination {
	margin: 10px 0;
}
.bx-pagination .bx-pagination-container {
	text-align: center;
	position: relative;
}
.bx-pagination .bx-pagination-container ul {
	padding: 0;
	margin: 0;
	list-style: none;
	display: inline-block;
}
.bx-pagination .bx-pagination-container ul li {
	display: inline-block;
	margin: 0 2px 0px 2px;
}
.bx-pagination .bx-pagination-container ul li span{
    -webkit-transition: color .3s ease, background-color .3s ease, border-color .3s ease;
       -moz-transition: color .3s ease, background-color .3s ease, border-color .3s ease;
    	-ms-transition: color .3s ease, background-color .3s ease, border-color .3s ease;
    	 -o-transition: color .3s ease, background-color .3s ease, border-color .3s ease;
    		transition: color .3s ease, background-color .3s ease, border-color .3s ease;
	background: none;
	padding: 4px 8px;
    margin-right: 0;
	display: block;
	height: 28px;
	line-height: 22px;
	color: black;
	font-size:16px;
	border-radius: 0px;
	vertical-align: middle;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.bx-pagination .bx-pagination-container ul li a {
	text-decoration: none;
	display: block;
	border-radius: 10px;
	height: 30px;
	min-width: 26px;
	line-height: 30px;
	color: #444;
	vertical-align: middle;
}
.bx-pagination .bx-pagination-container ul li a:hover span{
	background: #DADADA;
}
.bx-pagination .bx-pagination-container ul li.bx-active span{
	background: #D12A2D;
	border: 1px solid #D12A2D;
    color: white;
}
.bx-pagination .bx-pagination-container ul li.bx-pag-all a span,
.bx-pagination .bx-pagination-container ul li.bx-pag-prev a span,
.bx-pagination .bx-pagination-container ul li.bx-pag-next a span {
	background: #fff;
	line-height: 28px;
	padding: 0 18px;
	color: #444;
}
.bx-pagination .bx-pagination-container ul li.bx-pag-all span,
.bx-pagination .bx-pagination-container ul li.bx-pag-prev span,
.bx-pagination .bx-pagination-container ul li.bx-pag-next span{
	color: black;
	background: #fff;
	/*border: 2px solid #eff0f1;*/
	line-height: 28px;
	padding: 0 18px;

}
.bx-pagination .bx-pagination-container ul li.bx-pag-all a:hover span,
.bx-pagination .bx-pagination-container ul li.bx-pag-prev a:hover span,
.bx-pagination .bx-pagination-container ul li.bx-pag-next a:hover span {
	background: #fff;
	/*border-color: #DADADA;*/
	color: #000;
}

.bx-pagination .bx-pagination-container ul li.bx-pag-prev a:hover,
.bx-pagination .bx-pagination-container ul li.bx-pag-next a:hover {
	text-decoration: underline;
	}

/*color schemes*/
.bx-pagination.bx-green  .bx-pagination-container ul li.bx-active span{
	background: #3bc915;
	color: #fff;
}
.bx-pagination.bx-yellow  .bx-pagination-container ul li.bx-active span{
	background: #F9A91D;
	color: #fff;
}
.bx-pagination.bx-red  .bx-pagination-container ul li.bx-active span{
	background: #E22B2B;
	color: #fff;
}
.bx-pagination.bx-blue .bx-pagination-container ul li.bx-active span{
	background: #0083d1;
	color: #fff;
}
