/* ----------------- comments */
.bx_soc_comments_div .bx-catalog-tab-list li {
	width: auto !important;
}
.bx_soc_comments_div .bx-catalog-tab-list li span {
	padding: 0 30px !important;
}
.bx_soc_comments_div .bx-catalog-tab-body-container {
	border: 1px solid #d9e1e3 !important;
}



.item_aktsiya {
	position: absolute;
	margin-top: 0px;
	width: 100px;
	height: 90px;
	right: -17px;
	background: url(/upload/listopad_akc_big.png) no-repeat;
	padding-top: 4px;
	z-index: 100;
	}
.item_akciya_on_site {
	position: absolute;
    margin-top: -8px;
    width: 120px;
    height: 120px;
    right: -10px;
    background: url(/upload/akcii/school2017.png) no-repeat;
    padding-top: 4px;
    z-index: 100;
    background-size: contain;
	}

	
.black-friday {
	display: block;
    position: absolute;
    top: 2%;
    right: 2%;
    width: 20%;
    height: 20%;
    padding: 5px 5px 5px 5px;
    text-align: center;
    background: url(/upload/bf100.png) no-repeat;
    background-size: contain;
    border-radius: 30px;
    color: white;
    font-size: 16px;
    text-transform: uppercase;
    z-index: 95 !important;
    opacity: 1 !important;
    cursor: pointer;
}

.stick_akciya {
	position: absolute;
    margin-top: -8px;
    width: 110px;
    height: 110px;
    right: -20px;
    padding-top: 4px;
    z-index: 100;
	background-repeat: no-repeat;
    background-size: contain;
	z-index: 144;
	}
	

/* ----------------- property colors */
div[id*="prop_75_cont"] .bx_size_scroller_container {
	max-height: 220px;
	/*max-height: 47px;*/
	min-height: 20px;
	width:100%;
	}

div[id*="prop_75_cont"] .bx_size_scroller_container .bx_size ul {
	border:1px solid #EEEEEE;
	background: #F7F7F7;
}
div[id*="prop_75_cont"] .bx_size_scroller_container .bx_size ul li {
	width:100% !important;
	height: 22px;
	float:none !important;
}
div[id*="prop_75_cont"] .bx_size_scroller_container .bx_size ul li:hover {
	background: #ffc8e2 !important;
	background: #EAEAEA !important;
}
div[id*="prop_75_cont"] .bx_size_scroller_container .bx_size ul li.bx_active  {
	background: #D12A2D !important;
}
div[id*="prop_75_cont"] .bx_size_scroller_container .bx_size ul li.bx_active .cnt {
	color: white !important;
}
div[id*="prop_75_cont"] .bx_size_scroller_container .bx_size ul li .cnt{
	text-align: left !important;
    border: none !important;
    font-size: 14px !important;
    line-height: 14px !important;
    background: none !important;
    padding: 5px 0 0 5px;
	}
div[id*="prop_75_cont"] .bx_item_section_name_gray {
	color: #000 !important;
	text-transform: uppercase;
    font-size: 16px !important; 
    line-height: 28px !important;
    font-weight: bold !important;
}
	
	
/* --------------------- property sizes */
div[id*="prop_76_cont"] {
	padding-right:180px !important;
}
div[id*="prop_76_cont"] .bx_size_scroller_container .bx_size ul li {
	width:auto !important;
	/*height: 25px;*/
}
div[id*="prop_76_cont"] .bx_size_scroller_container .bx_size ul li .cnt:hover {
	/border: 1px solid gray;
	background: #EAEAEA !important;
}
div[id*="prop_76_cont"] .bx_size_scroller_container .bx_size ul li .cnt{
	text-align: left !important;
	position: static !important;
	font-size: 12px !important;
	line-height: 18px !important;
	background: white !important;
	margin:4px !important;
	padding:3px 6px !important;
	border: 1px solid #EEEEEE !important;
	}
div[id*="prop_76_cont"] .bx_size_scroller_container .bx_size ul li.bx_active .cnt {
	border:1px solid #D12A2D !important;
	background: #D12A2D !important;
	color: white;
	margin:3px !important;
}

div[id*="prop_76_cont"] .bx_item_section_name_gray {
	color: #000 !important;
	text-transform: uppercase;
    font-size: 16px !important;
    line-height: 28px !important;
    font-weight: bold !important;
}



	
/* --------------------- good display properties */
dl.good_props {
	position: relative;
	margin-bottom:0;
}
dl.good_props dt {
	display: inline-block;
	float: left;
	width: 50%;
	font-weight: normal !important;
	font-size: 14px;
    line-height: 22px;
    padding: 3px 0;
}
dl.good_props dd {
	font-size: 14px;
	line-height: 22px;
	border-top: 1px solid #EEE;
	padding: 3px 0;
}
dl.good_props dd:last-child {
	border-bottom: 1px solid #EEE;
}

table.good_props {
	width: 100%;
}
table.good_props th {
	padding:3px 10px;
	border: 1px solid #DDD;
	background: #D12A2D;
	text-align: center;
	color: white;
	font-weight: normal;
}
table.good_props td {
	padding:3px 10px;
	border: 1px solid #EEE;
	text-align: center;
}
table.good_props.col0 td {
	text-align:left;
	border-left: none;
	border-right: none;
}
table.good_props tr td:first-child {
	text-align:left;
	border-left: none;
}
table.good_props tr th:first-child {
	border-left:none;
}
table.good_props tr td:last-child, table.good_props tr th:last-child {
	border-right: none;
}





.bx_optionblock {
	position: absolute;
	top: -30px;
	right:0;
	}
	
.get_size, .get_size_min {
	display: block;
	position: absolute;
	right:0;
	top:30px;
    font-size: 12px;
    line-height: 16px;
    text-transform: uppercase;
	float: right;
	border: 1px solid gray;
    padding: 5px 15px;
	color: black;
	z-index:100;
	width: auto !important;
    height: auto !important;
}
.get_size:hover, .get_size_min:hover {
	background: #D12A2D;
	color: white;
	border: 1px solid #D12A2D;
	text-decoration: none;
}

.get_size_min {display: none;}

@media (max-width:530px) {
	.get_size {display: none;}
	.get_size_min {display: block;}
}


.offers {
	display: block;
	float: right;
	min-width: 200px;
	height: 100px;
}
.offers .vam {
	margin: 5px 0;
}


.item_price{ 
	display: block;
	float: left;
	min-width: 180px;
	height: 100px;
    margin:0 25px 0 0;
	}

.artikul-block {
	float:left; 
	width:100%;
}
.artikul-name {
	display:inline-block; 
	color: black;
    font-size: 16px;
    text-transform: uppercase;
}
.artikul-value {
	display:inline-block; 
	color: black;
    font-size: 14px;
    text-transform: uppercase;
	margin: 5px 0 10px 0;
}



.scu {
	display: inline-block;
	width: 100%;
	padding-left:0 !important;
}


/*
div.bx_item_detail_size:first-child div.bx_size_scroller_container div.bx_size ul li {
	float:none;
	width: 100% !important;
}
div.bx_item_detail_size:first-child div.bx_size_scroller_container div.bx_size ul li span {
	cursor: pointer;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: block;
    overflow: hidden;
    border: 1px solid #c0cfda;
    background: #fff;
    color: #3f3f3f;
    text-align: left;
    text-decoration: none;
    font-weight: normal;
    font-size: 10px;
    line-height: 22px;
	padding: 2px 5px;
	}
	
li.bx_active span.cnt {background-color:#DADAF9 !important;}
*/







/* item_detail_v2 */
.bx_item_detail .bx_item_title{
	padding-bottom:14px;
	border-bottom:1px solid #e5e5e5;
	margin-bottom: 16px;
	min-height: 24px
}

.bx_item_detail .bx_item_title h1{
	font-size:24px;
	border-bottom:0 none transparent;
	margin-bottom: 0;
	padding-bottom: 0;
}
.bx_item_detail h1 span{color:#000}
.bx_item_detail .bx_item_container{}
.bx_item_detail .bx_item_container .bx_lt{
	float:left;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
	margin-right:2%;
	width:38%;
	margin-bottom:15px;
}
.bx_item_detail .bx_item_container .bx_rt{
	float:left;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
	margin-left:2%;
	width:58%;
}
.bx_item_detail .bx_item_container .bx_md{clear:both}
.bx_item_detail .bx_item_container .bx_lb{
	float:left;
	margin-right:2%;
	width:48%;
}
.bx_item_detail .bx_item_container .bx_rb{
	float:right;
	margin-left:2%;
	width:48%;
}
.bx_item_detail .bx_optionblock{
	float:right;
	margin-left:10px;
	width:120px;
}

/* Item info */
.bx_item_detail .item_price{
	/border: 1px solid red;
	/width: 270px;
	/float: left;
	
}
.bx_item_detail .item_name{
	margin:0;
	padding:0;
}
.bx_item_detail .item_name a{
	color:#000;
	text-decoration:none;
	font-size:23px;
}
.bx_item_detail .item_old_price{
	color:#bababa;
	font-size: 22px;
    line-height: 18px;
	display: inline-block;
}
.bx_item_detail .label-price{
	color:black;
	font-size:16px;
	line-height:22px;
	text-transform: uppercase;
}
.bx_item_detail .item_basis_price {
	display: inline-block;
    margin: 0;
	margin-left:2px;
    color: black;
    font-size: 14px;
    line-height: 18px;
    color: black;
}
.bx_item_detail .item_current_price{
	display:block;
	margin: 0;
	font-family: 'Circe-Regular', Arial, sans-serif;
	color:black;
	font-weight:bold;
	font-size:30px;
	height: 45px;
}
.bx_item_detail .item_economy_price{
	display: inline-block;
    margin: 0;
    color: black;
    font-size: 14px;
    line-height: 18px;
    color: black;
	padding-left: 10px;
}

.bx_item_detail .item_info_section{
	margin:0 0 10px 0;
	padding:0 0 0 10px;
	font-size:13px;
	line-height:19px;
}
.bx_item_detail .item_section_name_gray{
	color: black;
    font-size: 16px;
    text-transform: uppercase;
}
.bx_item_detail .item_info_section dl{
	margin-bottom: 20px;
	overflow: hidden;
	padding:0;
}
.bx_item_detail .item_info_section dl dt{
	clear: both;
	float: left;
	font-weight: bold;
}
.bx_item_detail .item_info_section dl dd{
	float: left;
	margin: 0 5px;
}

.bx_item_detail .item_buttons {
	height: 36px;
}

.bx_item_detail .item_buttons_counter_block{
	display:inline-block;
	margin-left:10px;
	vertical-align: baseline;
	color: #3f3f3f;
	font-size: 13px;
	text-align: left;
}
.bx_item_detail .item_buttons_counter_block.cnt {
	margin-left:2px;
	margin-right:10px;
}
.bx_item_detail .item_buttons_counter_block a{
	vertical-align: baseline;
}
.bx_item_detail .bx_cnt_desc{vertical-align: baseline;}
/* Item SET */

.bx_item_detail .transparent_input{
	border:none;
	background:none;
	color:#000;
	font-weight:bold;
	font-size:14px;
	display: inline-block;
	width: 35px;
	text-align: center;
}






/*tab-section-container*/
.bx_item_detail .tab-section-container{position:relative;}
.bx_item_detail .tab-list{
	padding:0;
	border-bottom:1px solid #d9e1e3;
	vertical-align:bottom;
	text-align:left;
}
.bx_item_detail .tab-list li{
	display:inline-block;
	border:1px solid #d9e1e3;
	border-bottom:none;
	border-radius:3px 3px 0 0;
	background:#f7f7f7;
	box-shadow:inset 0 -10px  5px -10px rgba(0,0,0,.12);
	vertical-align:bottom;

}
.bx_item_detail .tab-list li a{
	display:block;
	padding:0 10px;
	height:30px;
	box-shadow:none;
	color:#999;
	text-decoration:none;
	font-size:13px;
	line-height:30px;
}

.bx_item_detail .tab-list li:hover,
.bx_item_detail .tab-list li.active{
	background:#fff;
}

/*.tab-list li:hover a,*/
.bx_item_detail .tab-list li.active a{
	position:relative;
	bottom:-2px;
	height:35px;
	background:#fff;
	color:#3f3f3f;
	line-height:35px;
}
.bx_item_detail .tab-boby-container .container>div.tab-off{display:none;}
.bx_item_detail .tab-boby-container .container>div{

}
.bx_item_detail .item_comments{
	display:block;
	padding-left:10px;
}
.bx_item_detail .item_comments li{
	display:block;
	padding-bottom:10px;
}
.bx_item_detail .item_comments_username{
	display:inline-block;
	color:#5d90bd;
	font-size:14px;
}
.bx_item_detail .item_comments_date{
	display:inline-block;
	margin-left:10px;
	color:#b8b8b8;
	font-size:14px;
}
.bx_item_detail .item_comments_container p{
	margin-top:5px;
	color:#3f3f3f;
	font-size:14px;
}

.bx_item_detail .bx_notavailable{
	text-align: left;
	font-size: 12px;
	font-weight: bold;
	display: inline-block;
	border: 1px solid #E4E4E4;
	background: #F3F3F3;
	white-space: normal;
	line-height: normal;
	padding: 5px 15px;
	margin-bottom: 10px;
}

.bx_item_detail .bx_bt_button,
.bx_item_detail .bx_bt_button_type_2{
	display:inline-block;
	border-radius:0px;
	text-align:center;
	text-decoration:none;
	font-size:14px;
	cursor:pointer;
}
.bx_item_detail .bx_shadow.bx_bt_button,
.bx_item_detail .bx_shadow.bx_bt_button_type_2{}
.bx_item_detail .bx_shadow.bx_bt_button:active,
.bx_item_detail .bx_shadow.bx_bt_button_type_2:active{}

.bx_item_detail .bx_bt_button  				{
	border:1px solid black;
	background:white;
	color:black;
}
.bx_item_detail .bx_bt_button:hover  		{
	background:#D12A2D;
	border:1px solid #D12A2D;
	color: white;
}
.bx_item_detail .bx_bt_button:active  		{
	background:#D12A2D;
	color: white;
}

.bx_item_detail .bx_bt_button_type_2 		{
	border:1px solid #e9e9e9;
	background:#fcfcfc;
	color:#656565;
	text-shadow:none;
}
.bx_item_detail .bx_bt_button_type_2:hover 	{
	background:#fff;
}
.bx_item_detail .bx_bt_button_type_2:active {
	background:#f1f1f1;
}


.bx_item_detail .bx_small.bx_bt_button,
.bx_item_detail .bx_small.bx_bt_button_type_2{
	display: inline-block;
    width: 24px;
    height: 24px;
    line-height: 22px;
    background: white;
    border: 1px solid black;
    border-radius: 0;
    color: black;
}
.bx_item_detail .bx_small.bx_bt_button  		{}
.bx_item_detail .bx_small.bx_bt_button:hover  {}
.bx_item_detail .bx_small.bx_bt_button:active {}
.bx_item_detail .bx_small.bx_bt_button_type_2 		{}
.bx_item_detail .bx_small.bx_bt_button_type_2:hover {
	background: #D12A2D;
	color: white;
	border: 1px solid #D12A2D;
}
.bx_item_detail .bx_small.bx_bt_button_type_2:active{}

.bx_item_detail .bx_medium.bx_bt_button,
.bx_item_detail .bx_medium.bx_bt_button_type_2	{
	padding:0 13px;
	height:25px;
	font-weight:bold;
	line-height:25px;
}
.bx_item_detail .bx_medium.bx_bt_button  	{
	height:27px;
	line-height:27px;
	
	
}
.bx_item_detail .bx_medium.bx_bt_button:hover  {}
.bx_item_detail .bx_medium.bx_bt_button:active {}
.bx_item_detail .bx_medium.bx_bt_button_type_2 		 {font-weight:bold}
.bx_item_detail .bx_medium.bx_bt_button_type_2:hover {}
.bx_item_detail .bx_medium.bx_bt_button_type_2:active{}

.bx_item_detail .bx_big.bx_bt_button,
.bx_item_detail .bx_big.bx_bt_button_type_2	{
	background: #D12A2D;
    font-family: 'Circe-Light', Arial, sans-serif;
    color: #fff;
    display: inline-block;
    border-radius: 0px;
    border: 1px solid #D12A2D;
    text-align: center;
    text-decoration: none;
    font-size: 13px;
    cursor: pointer;
    text-shadow: none;
    text-transform: uppercase;
	width:150px;
}
.bx_item_detail .bx_big.bx_bt_button  	{
	height:28px;
	line-height:30px;
}
.bx_item_detail .bx_big.bx_bt_button:hover  {}
.bx_item_detail .bx_big.bx_bt_button:active {}
.bx_item_detail .bx_big.bx_bt_button_type_2 	  {}
.bx_item_detail .bx_big.bx_bt_button_type_2:hover {
	background: white;
	color: #D12A2D;
	border:1px solid #D12A2D;
}
.bx_item_detail .bx_big.bx_bt_button_type_2:active{}

.bx_item_detail .bx_big.bx_bt_button.bx_cart span{
	position:relative;
	bottom:-7px;
	display:none;
	margin:0 10px 0 0;
	width:26px;
	height:23px;
	background:url(images/bt_cart.png) no-repeat center;
}

.bx_item_detail .bx_fwb{font-weight:bold}


@media (min-width:981px){}
@media (max-width:740px){
	.bx_item_detail .bx_optionblock{display:none}
	.bx_item_detail .item_buttons_counter_block{margin-bottom:10px}
	.bx_item_detail .bx_item_container .bx_lb,
	.bx_item_detail .bx_item_container .bx_rb{width:48%}
}
@media (min-width:640px) and (max-width:980px){}
@media (min-width:480px) and (max-width:639px){}
@media (max-width:480px) {
	.bx-touch .bx_item_detail .bx_item_container .bx_lt,
	.bx-touch .bx_item_detail .bx_item_container .bx_rt,
	.bx-touch .bx_item_detail .bx_item_container .bx_md,
	.bx-touch .bx_item_detail .bx_item_container .bx_lb,
	.bx-touch .bx_item_detail .bx_item_container .bx_rb{
		float:none;
		margin:0;
		padding:0;
		width:100%;
	}
	.bx-touch .bx_item_detail .item_info_section{padding-left:0}

}
@media (max-width:319px){}

/* item_detail_slider */
.bx_item_detail .bx_item_slider{
	position: relative;
	/border: 1px solid #cfcfcf;
	border-radius: 0px;
	margin-bottom: 10px;
}
.bx_item_detail .bx_item_slider .bx_bigimages {
	position: relative;
	overflow: hidden;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	max-width: 440px;
	background: #fff;
	text-align: center;
	height: 0;
	width: 100%;
	margin-bottom: 10px;
}
.bx_item_detail .bx_item_slider .bx_bigimages .bx_bigimages_imgcontainer{
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}
.bx_item_detail .bx_item_slider .bx_bigimages .bx_bigimages_imgcontainer .bx_bigimages_aligner {
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	text-align: center;
}

.bx_item_detail .bx_item_slider .bx_bigimages .bx_bigimages_imgcontainer img {
	display: inline-block;
	max-width: 100% !important;
	max-height: 100% !important;
	vertical-align: middle;
	text-align: center;
}
/*----*/

.bx_item_detail .bx_item_slider .bx_slider_conteiner{
	position: relative;
	/*padding: 10px;*/
	/*margin-bottom: 10px;*/
	max-width: 100%;
	width: 100%;
}
.bx-no-touch .bx_item_detail .bx_item_slider .bx_slider_conteiner.full {
	position: relative;
	margin-left: -5%;
	padding: 20px 5% 0
}

/*----*/

.bx_item_detail .bx_item_slider .bx_slider_scroller_container{position: relative}

.bx_item_detail .bx_item_slider .bx_slide{
	position: relative;
	overflow: hidden;
	margin: 0;
	width: 100%;
}
.bx-touch .bx_item_detail .bx_item_slider .bx_slide{overflow-x: auto}

.bx_item_detail .bx_item_slider .bx_slide ul{
	position: relative;
	display: block;
	margin: 0;
	padding: 0;
	width: 100%;
	white-space: nowrap
}
.bx-touch .bx_item_detail .bx_item_slider .bx_slide ul{margin-left: 0 !important}
.bx_item_detail .bx_item_slider .bx_slide ul li{
	position: relative;
	display: block;
	float: left;
	height: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	cursor: pointer;
}

.bx_item_detail .bx_item_slider .bx_slide ul li .cnt{
	position: absolute;
	top: 0;
	right: 2px;
	bottom: 4px;
	left:2px;
	display: block;
	overflow: hidden;
	border: 1px solid #b60065;
	background: #fff;
}
.bx-retina .bx_item_detail .bx_item_slider .bx_slide ul li .cnt{
	border: none;
	border-style: solid;
	border-width: 1px;
	-webkit-border-image: url(images/x2border.png) 2 stretch;
	-moz-border-image: url(images/x2border.png) 2 stretch;
	-o-border-image: url(images/x2border.png) 2 stretch;
	border-image: url(images/x2border.png) 2 fill stretch;
}
.bx_item_detail .bx_item_slider .bx_slide ul li:hover .cnt{border: 1px solid #b60065}
.bx_item_detail .bx_item_slider .bx_slide ul li:active .cnt,
.bx_item_detail .bx_item_slider .bx_slide ul li.bx_active .cnt{
	padding: 3px;
	border: 2px solid #D12A2D;
}
.bx-retina .bx_item_detail .bx_item_slider .bx_slide ul li.bx_active .cnt{
	border: none;
	border-style: solid;
	border-width: 1px;
	-webkit-border-image: url(images/x2border_active.png) 2 stretch;
	-moz-border-image: url(images/x2border_active.png) 2 stretch;
	-o-border-image: url(images/x2border_active.png) 2 stretch;
	border-image: url(images/x2border_active.png) 2 fill stretch;
}
.bx_item_detail .bx_item_slider .bx_slide ul li .cnt .cnt_item{
	position: absolute;
	top:   6%;
	right: 6%;
	bottom:6%;
	left:  6%;
	background-size: 100% auto;
	background-repeat: no-repeat;
}
.bx_item_detail .bx_item_slider .bx_slide ul li .cnt .cnt_item img{
	width: auto;
	height: 25px;
}

/*----*/

.bx-no-touch .bx_item_detail .bx_item_slider .bx_slide_left,
.bx-no-touch .bx_item_detail .bx_item_slider .bx_slide_right  	  {opacity:0.8}
.bx-no-touch .bx_item_detail .bx_item_slider .bx_slide_left:hover,
.bx-no-touch .bx_item_detail .bx_item_slider .bx_slide_right:hover{opacity:1.0}
.bx_item_detail .bx_item_slider .bx_slider_conteiner.full .bx_slide_left,
.bx_item_detail .bx_item_slider .bx_slider_conteiner.full .bx_slide_right{
	position: absolute;
	top: 0;
	bottom:4px;
	width :5%;
	max-width:11px;
	cursor: pointer;
}
.bx-no-touch .bx_item_detail .bx_item_slider .bx_slide_left {left: -5%;background:url(images/arr_left.png)  no-repeat   left  center;background-size: 100% auto}
.bx-no-touch .bx_item_detail .bx_item_slider .bx_slide_right{right:-5%;background:url(images/arr_right.png) no-repeat   right center;background-size: 100% auto}
.bx-touch 	 .bx_item_detail .bx_item_slider .bx_slide_left {left:   0;background:url(images/fade_left.png)  repeat-y   left  center;background-size: 100% auto}
.bx-touch 	 .bx_item_detail .bx_item_slider .bx_slide_right{right:  0;background:url(images/fade_right.png) repeat-y   right center;background-size: 100% auto}

.bx_item_detail .bx_item_slider_lupe_small{
	position: absolute;
	background: rgba(0, 0, 0, 0.18);
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	border: 1px solid rgba(255,255,255,.5);
	cursor: pointer;
}

.bx_item_detail .bx_item_slider_lupe{
	position: absolute;
	border: 1px solid #b2b2b2;
	left:105%;
	top: 0;
	bottom:4px;
	margin: 0;
	background: #fff url(images/wait.gif) no-repeat scroll center center;
	z-index: 120;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	overflow: hidden;
}

.bx_item_detail .bx_item_slider_lupe img {
	max-width: 99999px !important;
	max-height: 99999px !important;
}

/* Stickers */
.bx_item_detail .bx_bigimages .bx_stick{
	position: absolute;
	width: 123px;
	height: 35px;
	background: url(images/stick.png) left center no-repeat;
	color: #fff;
	text-align: center;
	text-shadow:0 1px 0 #ba3434;
	line-height: 35px;
	white-space: nowrap;
	overflow: hidden;
	-ms-text-overflow: ellipsis;
	text-overflow: ellipsis;
}
.bx_item_detail .bx_bigimages .bx_stick.short {font-weight:  bold;font-size:18px}
.bx_item_detail .bx_bigimages .bx_stick.average {font-weight:  bold;font-size:13px}
.bx_item_detail .bx_bigimages .bx_stick.long {font-weight:normal;font-size:11px}
.bx_item_detail .bx_bigimages .bx_stick_disc{
	position: absolute;
	width: 72px;
	height: 74px;
	background: url(images/stick_disc.png) no-repeat center;
	color: #fff;
	text-align: center;
	text-shadow:0 1px 0 #ba3434;
	font-weight: bold;
	font-size: 23px;
	line-height: 74px;
}
.bx_item_detail .bx_bigimages .bx_stick.left,
.bx_item_detail .bx_bigimages .bx_stick_disc.left{left:-2px;}
.bx_item_detail .bx_bigimages .bx_stick.right,
.bx_item_detail .bx_bigimages .bx_stick_disc.right{right: 0;}
.bx_item_detail .bx_bigimages .bx_stick.top,
.bx_item_detail .bx_bigimages .bx_stick_disc.top{top: 15px;}
.bx_item_detail .bx_bigimages .bx_stick.bottom,
.bx_item_detail .bx_bigimages .bx_stick_disc.bottom{bottom: 5px;}
.bx_item_detail .bx_bigimages .bx_stick.middle,
.bx_item_detail .bx_bigimages .bx_stick_disc.middle{top: 49%;}
@media (min-width:641px) and (max-width:960px){
	.bx_item_detail .bx_bigimages .bx_stick{
		width: 90px;
		height: 30px;
		background-size: 100%;
		line-height: 30px;
	}
	.bx_item_detail .bx_bigimages .bx_stick.short {font-weight:normal;font-size:14px}
	.bx_item_detail .bx_bigimages .bx_stick.average {font-weight:normal;font-size:11px}
	.bx_item_detail .bx_bigimages .bx_stick.long{font-weight:normal;font-size:11px}
	.bx_item_detail .bx_bigimages .bx_stick_disc{
		width: 64px;
		height: 65px;
		background-size: 100%;
		font-size: 	20px;
		line-height: 65px;
	}
}
@media (max-width:640px) {
	.bx-touch .bx_item_detail .bx_bigimages .bx_stick{
		width: 70px;
		height: 30px;
		background-size: 100%;
		font-size: 	11px;
		line-height: 30px;
	}
	.bx-touch .bx_item_detail .bx_bigimages .bx_stick_disc{
		width: 48px;
		height: 49px;
		background-size: 100%;
		font-size: 	16px;
		line-height: 49px;
	}
}
@media (max-width:479px) {
	.bx-touch .bx_item_detail .bx_bigimages .bx_stick{
		width: 70px;
		height: 30px;
		background-size: 100%;
		font-size: 	11px;
		line-height: 30px;
	}

	.bx-touch .bx_item_detail .bx_bigimages .bx_stick_disc{
		width: 37px;
		height: 38px;
		background-size: 100%;
		font-size: 13px;
		line-height: 38px;
	}
}

/* scu_detail_size */
.bx_item_detail .bx_item_detail_size{
	position: relative;
	margin-bottom: 10px;
	padding: 0;
	max-width: 100%;
	width: 100%;
}
.bx-no-touch .bx_item_detail .bx_item_detail_size.full {
	position: relative;
	/*
	margin-left: -5%;
	padding: 0 5%;
	*/
}

/*----*/

.bx_item_detail .bx_item_detail_size .bx_item_section_name_gray{
	color: #9e9e9e;
	vertical-align: middle;
	font-size: 11px;
	line-height: 11px;
}

/*----*/

.bx_item_detail .bx_item_detail_size .bx_size_scroller_container{position: relative}

.bx_item_detail .bx_item_detail_size .bx_size{
	position: relative;
	overflow: hidden;
	margin: 0;
	width: 100%;
	z-index: 50;
}
.bx_item_detail .bx_item_detail_size ul{
	position: relative;
	display: block;
	margin: 0;
	padding: 0;
	width: 100%;
	white-space: nowrap;
}
.bx-touch 	 .bx_item_detail .bx_item_detail_size .bx_size{overflow-x: auto;}
.bx_item_detail .bx_item_detail_size ul{
	position: relative;
	display: block;
	margin: 0;
	padding: 0;
	width: 100%;
	white-space: nowrap;
}
.bx-touch 	.bx_item_detail .bx_item_detail_size .bx_size ul{margin-left: 0 !important;}
.bx_item_detail .bx_item_detail_size ul li{
	position: relative;
	display: block;
	float: left;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	/*height: 25px;*/
}
.bx_item_detail .bx_item_detail_size ul li .cnt{
	cursor: pointer;
	position: absolute;
	top: 0;
	right: 2px;
	bottom: 2px;
	left:2px;
	display: block;
	overflow: hidden;
	border: 1px solid #c0cfda;
	background: #fff;

	color: #3f3f3f;
	text-align: center;
	text-decoration: none;
	font-weight: normal;
	font-size: 10px;
	line-height: 22px;
}
.bx-retina .bx_item_detail .bx_item_detail_size ul li .cnt{
	border: none;
	border-style: solid;
	border-width: 1px;
	-webkit-border-image: url(images/x2border.png) 2 stretch;
	-moz-border-image: url(images/x2border.png) 2 stretch;
	-o-border-image: url(images/x2border.png) 2 stretch;
	border-image: url(images/x2border.png) 2 fill stretch;
}
.bx_item_detail .bx_item_detail_size ul li:hover .cnt{border: 1px solid #006cc0}
.bx_item_detail .bx_item_detail_size ul li:active .cnt,
.bx_item_detail .bx_item_detail_size ul li.bx_active .cnt{
	border: 2px solid #006cc0;
}
.bx-retina .bx_item_detail .bx_item_detail_size ul li.bx_active .cnt{
	border: none;
	border-style: solid;
	border-width: 1px;
	-webkit-border-image: url(images/x2border_active.png) 2 stretch;
	-moz-border-image: url(images/x2border_active.png) 2 stretch;
	-o-border-image: url(images/x2border_active.png) 2 stretch;
	border-image: url(images/x2border_active.png) 2 fill stretch;
}

.bx_item_detail .bx_item_detail_size .bx_size ul li.bx_missing .cnt{border: 1px solid #c0cfda !important}
.bx_item_detail .bx_item_detail_size .bx_size ul li.bx_missing>i{
	cursor: not-allowed;
	position: absolute;
	display: block;
	top: 0;
	right: 2px;
	bottom: 2px;
	left:2px;
	z-index:11;
	background: rgba(255,255,255,.79) url(images/missing.png) no-repeat center;
}
/*----*/

.bx-no-touch .bx_item_detail .bx_item_detail_size .bx_slide_left,
.bx-no-touch .bx_item_detail .bx_item_detail_size .bx_slide_right  		{opacity:0.8}
.bx-no-touch .bx_item_detail .bx_item_detail_size .bx_slide_left:hover,
.bx-no-touch .bx_item_detail .bx_item_detail_size .bx_slide_right:hover {opacity:1.0}

.bx_item_detail .bx_item_detail_size.full .bx_slide_left,
.bx_item_detail .bx_item_detail_size.full .bx_slide_right{
	position: absolute;
	top: 0;
	bottom:4px;
	width :5%;
	max-width:11px;
	cursor: pointer;
}
.bx-no-touch .bx_item_detail .bx_item_detail_size .bx_slide_left {left: -5%;background:url(images/arr_left.png)  no-repeat left  center;background-size: 100% auto}
.bx-no-touch .bx_item_detail .bx_item_detail_size .bx_slide_right{right:-5%;background:url(images/arr_right.png) no-repeat right center;background-size: 100% auto}
.bx-touch 	 .bx_item_detail .bx_item_detail_size .bx_slide_left {left:   0;background:url(images/fade_left.png)  repeat-y left  center;background-size: 100% auto}
.bx-touch 	 .bx_item_detail .bx_item_detail_size .bx_slide_right{right:  0;background:url(images/fade_right.png) repeat-y right center;background-size: 100% auto}

/* scu_detail_scu */
.bx_item_detail .bx_item_detail_scu{
	position: relative;
	margin-bottom: 10px;
	padding: 0;
	max-width: 100%;
	width: 100%;
}
.bx-no-touch .bx_item_detail .bx_item_detail_scu.full {
	position: relative;
	margin-left: -5%;
	padding: 0 5%
}

/*----*/

.bx_item_detail .bx_item_detail_scu .bx_item_section_name_gray{
	color: #9e9e9e;
	vertical-align: middle;
	font-size: 11px;
	line-height: 11px;
}

/*----*/

.bx_item_detail .bx_item_detail_scu .bx_scu_scroller_container{position: relative}

.bx_item_detail .bx_item_detail_scu .bx_scu{
	position: relative;
	overflow: hidden;
	margin: 0;
	width: 100%;
}
.bx-touch 	 .bx_item_detail .bx_item_detail_scu .bx_scu{overflow-x: auto}

.bx_item_detail .bx_item_detail_scu .bx_scu ul{
	position: relative;
	display: block;
	margin: 0;
	padding: 0;
	width: 100%;
	white-space: nowrap
}
.bx-touch 	.bx_item_detail .bx_item_detail_scu .bx_scu ul{margin-left: 0 !important}
.bx_item_detail .bx_item_detail_scu .bx_scu ul li{
	position: relative;
	display: block;
	float: left;
	height: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.bx_item_detail .bx_item_detail_scu .bx_scu ul li .cnt{
	cursor: pointer;
	position: absolute;
	top: 0;
	right: 2px;
	bottom: 4px;
	left:2px;
	display: block;
	overflow: hidden;
	border: 1px solid #c0cfda;
	background: #fff;
	z-index:10;
}
.bx-retina .bx_item_detail .bx_item_detail_scu .bx_scu ul li .cnt{
	border: none;
	border-style: solid;
	border-width: 1px;
	-webkit-border-image: url(images/x2border.png) 2 stretch;
	-moz-border-image: url(images/x2border.png) 2 stretch;
	-o-border-image: url(images/x2border.png) 2 stretch;
	border-image: url(images/x2border.png) 2 fill stretch;
}
.bx_item_detail .bx_item_detail_scu .bx_scu ul li:hover .cnt{border: 1px solid #006cc0}
.bx_item_detail .bx_item_detail_scu .bx_scu ul li:active .cnt,
.bx_item_detail .bx_item_detail_scu .bx_scu ul li.bx_active .cnt{
	padding: 3px;
	border: 2px solid #006cc0;
}
.bx_item_detail .bx_item_detail_scu .bx_scu ul li.bx_missing .cnt{border: 1px solid #c0cfda !important}
.bx_item_detail .bx_item_detail_scu .bx_scu ul li.bx_missing>i{
	cursor: not-allowed;
	position: absolute;
	display: block;
	top: 0;
	right: 2px;
	bottom: 4px;
	left: 2px;
	z-index:11;
	background: rgba(255,255,255,.79) url(images/missing.png) no-repeat center;
}

.bx-retina .bx_item_detail .bx_item_detail_scu .bx_scu ul li.bx_active .cnt{
	border: none;
	border-style: solid;
	border-width: 1px;
	-webkit-border-image: url(images/x2border_active.png) 2 stretch;
	-moz-border-image: url(images/x2border_active.png) 2 stretch;
	-o-border-image: url(images/x2border_active.png) 2 stretch;
	border-image: url(images/x2border_active.png) 2 fill stretch;
}
.bx_item_detail .bx_item_detail_scu .bx_scu ul li .cnt .cnt_item{
	position: absolute;
	top:   6%;
	right: 6%;
	bottom:6%;
	left:  6%;
	background-size:contain;
	background-repeat: no-repeat;
}
.bx_item_detail .bx_item_detail_scu .bx_scu ul li .cnt .cnt_item img{
	width: auto;
	height: 25px;
}

/*----*/

.bx-no-touch .bx_item_detail .bx_item_detail_scu .bx_slide_left,
.bx-no-touch .bx_item_detail .bx_item_detail_scu .bx_slide_right  	  {opacity:0.8}
.bx-no-touch .bx_item_detail .bx_item_detail_scu .bx_slide_left:hover,
.bx-no-touch .bx_item_detail .bx_item_detail_scu .bx_slide_right:hover{opacity:1.0}

.bx_item_detail .bx_item_detail_scu.full .bx_slide_left,
.bx_item_detail .bx_item_detail_scu.full .bx_slide_right{
	position: absolute;
	top: 0;
	bottom:4px;
	width :5%;
	max-width:11px;
	cursor: pointer;
}
.bx-no-touch .bx_item_detail .bx_item_detail_scu .bx_slide_left {left: -5%;background:url(images/arr_left.png)  no-repeat   left  center;background-size: 100% auto}
.bx-no-touch .bx_item_detail .bx_item_detail_scu .bx_slide_right{right:-5%;background:url(images/arr_right.png) no-repeat   right center;background-size: 100% auto}
.bx-touch 	 .bx_item_detail .bx_item_detail_scu .bx_slide_left {left:   0;background:url(images/fade_left.png)  repeat-y   left  center;background-size: 100% auto}
.bx-touch 	 .bx_item_detail .bx_item_detail_scu .bx_slide_right{right:  0;background:url(images/fade_right.png) repeat-y   right center;background-size: 100% auto}

/* item_detail_description */
.bx_item_detail .bx_item_description p{font-size: 13px;}
.bx_item_detail .bx_item_description .bx_item_section_name_gray{
	color: #9e9e9e;
	font-size: 13px;
}
.bx_item_detail .bx_item_description .bx_specifications_table{
	margin-top: 10px;
	width: 100%;
	border-collapse: collapse;
}
.bx_item_detail .bx_item_description .bx_specifications_table tr:nth-child(odd){background: #f2f2f2;}
.bx_item_detail .bx_item_description .bx_specifications_table tr:nth-child(even){ }
.bx_item_detail .bx_item_description .bx_specifications_table tr td{
	padding: 3px 10px;
	font-size: 12px;
}
.bx_item_detail .bx_item_description .bx_specifications_table tr td:first-child{font-weight: bold;}

.popup-window-content div {
	width: 92%;
	margin: 35px 4%;
	text-align: center;
}

.popup-window-content div img {
	width: 300px;
}



/*************** SCROLLBAR BASE CSS ***************/
 
.scroll-wrapper {
    overflow: hidden !important;
    padding: 0 !important;
    position: relative;
}
 
.scroll-wrapper > .scroll-content {
    border: none !important;
    box-sizing: content-box !important;
    height: auto;
    left: 0;
    margin: 0;
    max-height: none;
    max-width: none !important;
    overflow: scroll !important;
    padding: 0;
    position: relative !important;
    top: 0;
    width: auto !important;
}
 
.scroll-wrapper > .scroll-content::-webkit-scrollbar {
    height: 0;
    width: 0;
}
 
.scroll-element {
    display: none;
}
.scroll-element, .scroll-element div {
    box-sizing: content-box;
}
 
.scroll-element.scroll-x.scroll-scrollx_visible,
.scroll-element.scroll-y.scroll-scrolly_visible {
    display: block;
}
 
.scroll-element .scroll-bar,
.scroll-element .scroll-arrow {
    cursor: default;
}
 
.scroll-textarea {
    border: 1px solid #cccccc;
    border-top-color: #999999;
}
.scroll-textarea > .scroll-content {
    overflow: hidden !important;
}
.scroll-textarea > .scroll-content > textarea {
    border: none !important;
    box-sizing: border-box;
    height: 100% !important;
    margin: 0;
    max-height: none !important;
    max-width: none !important;
    overflow: scroll !important;
    outline: none;
    padding: 2px;
    position: relative !important;
    top: 0;
    width: 100% !important;
}
.scroll-textarea > .scroll-content > textarea::-webkit-scrollbar {
    height: 0;
    width: 0;
}
 
 
 
 
/*************** SCROLLBAR RAIL ***************/
 
.scrollbar-rail > .scroll-element,
.scrollbar-rail > .scroll-element div
{
    border: none;
    margin: 0;
    overflow: hidden;
    padding: 0;
    position: absolute;
    z-index: 10;
}
 
.scrollbar-rail > .scroll-element {
    background-color: #F7F7F7;
}
 
.scrollbar-rail > .scroll-element div {
    display: block;
    height: 100%;
    left: 1px;
    top: 0;
    width: 100%;
}
 
.scrollbar-rail > .scroll-element .scroll-element_size {
    background-color: #EEE;
    /*background-color: rgba(0, 0, 0, 0.3);*/
}
 
.scrollbar-rail > .scroll-element .scroll-element_outer:hover .scroll-element_size {
    background-color: #EEE;
    /*background-color: rgba(0, 0, 0, 0.5);*/
}
 
.scrollbar-rail > .scroll-element.scroll-x {
    bottom: 0;
    height: 12px;
    left: 0;
    min-width: 100%;
    padding: 3px 0 2px;
    width: 100%;
}
 
.scrollbar-rail > .scroll-element.scroll-y {
    height: 100%;
    min-height: 100%;
    padding: 0 2px 0 3px;
    right: 0px;
    top: 0;
    width: 18px;
	border-top: 1px solid #EEEEEE;
	border-bottom: 1px solid #EEEEEE;
	z-index: 60;
}
 
.scrollbar-rail > .scroll-element .scroll-bar {
    background-color: black;
	width: 18px;
}
 
.scrollbar-rail > .scroll-element .scroll-element_outer:hover .scroll-bar {
    /box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.6);
}
 
/* scrollbar height/width & offset from container borders */
 
.scrollbar-rail > .scroll-content.scroll-scrolly_visible { left: -17px; margin-left: 17px; }
.scrollbar-rail > .scroll-content.scroll-scrollx_visible { margin-top: 17px; top: -17px; }
 
.scrollbar-rail > .scroll-element.scroll-x .scroll-bar { height: 10px; min-width: 10px; top: 1px; }
.scrollbar-rail > .scroll-element.scroll-y .scroll-bar { left: 0px; min-height: 10px; width: 18px; }
 
.scrollbar-rail > .scroll-element.scroll-x .scroll-element_outer { height: 15px; left: 5px; }
.scrollbar-rail > .scroll-element.scroll-x .scroll-element_size { height: 2px; left: -10px; top: 5px; }
 
.scrollbar-rail > .scroll-element.scroll-y .scroll-element_outer { top: 0px; width: 18px; }
.scrollbar-rail > .scroll-element.scroll-y .scroll-element_size { left: 0px; top: 0px; width: 18px; }
 
/* update scrollbar offset if both scrolls are visible */
 
.scrollbar-rail > .scroll-element.scroll-x.scroll-scrolly_visible .scroll-element_size { left: -25px; }
.scrollbar-rail > .scroll-element.scroll-y.scroll-scrollx_visible .scroll-element_size { top: -25px; }
 
.scrollbar-rail > .scroll-element.scroll-x.scroll-scrolly_visible .scroll-element_track { left: -25px; }
.scrollbar-rail > .scroll-element.scroll-y.scroll-scrollx_visible .scroll-element_track { top: -25px; }






@media (max-width: 992px) {
	.item_price, .offers {float:none;}
	dl.good_props {margin-bottom:0;}
	.stick_akciya {width:75px;}
}
@media (max-width: 768px) {
	.bx_item_slider_lupe_small {background: none !important; border-width:0 !important;}
	div[id*="prop_76_cont"] {padding-right: 0 !important;}
	.get_size, .get_size_min {top:0px !important; padding: 2px 15px !important;}
	}