.btn-zhen, .btn-det {
    position: relative;
    display: block;
    left: 42%;
    width: 250px;
    height: 34px;
    background: #db0304;
    border-radius: 15px;
	text-align: center;
    color: white;
    font-size: 20px;
    line-height: 38px;
	box-shadow:3px 3px 5px black;
}
.btn-zhen:hover, .btn-det:hover {
	color: #db0304;
	background: #FFF;
	text-decoration: none;
}
.btn-zhen {top: 34%;}
.btn-det {top: 36%;}
.sroki {
	position: relative;
    display: block;
    top: 38%;
    left: 35%;
    width: 350px;
    height: 34px;
    text-align: center;
    color: black;
    font-size: 18px;
    /* border: 1px solid black; */
    font-weight: bold;
}

.VAYlogo {
    display: block;
    position: absolute;
    width: 40%;
    height: 25%;
    bottom: 12%;
    left: 50%;
    margin-left: -20%;
	/background-size: 98%;
	background-size: contain;
	background-repeat:no-repeat;
	background-position: bottom;
}
.VAYslogan {
	left: 50%;
    margin-left: -40%;
    top: 2%;
    color: #333;
    position: absolute;
    text-transform: uppercase;
    font-family: 'Circe-Light', Arial, sans-serif;
    font-size: 24px;
    background-color: rgba(255, 255, 255, 0.9);
    padding: 3px 8px 0px 8px;
}
.link-btn {

	position: absolute;
    display: block;
    left: 22%;
    top: 43%;
    padding: 5px 20px;
    width: 250px;

	background: #a90329; /* Old browsers */
	background: -moz-linear-gradient(top,  #a90329 0%, #8f0222 44%, #6d0019 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  #a90329 0%,#8f0222 44%,#6d0019 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  #a90329 0%,#8f0222 44%,#6d0019 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a90329', endColorstr='#6d0019',GradientType=0 ); /* IE6-9 */
	border: 3px solid #620000;
	
    color: white;
    z-index: 1000;
    margin-left: -100px;
    line-height: 23px;
    font-size: 18px;
    text-transform: uppercase;
    text-align: center;
    cursor: pointer;
	border-radius: 10px;
	}
	
.link-btn:hover, .link-btn:active, .link-btn:focus {
	color: white;
	border: 3px solid #620000;
}

.VAYslogan1 {
	left: 50%;
    margin-left: -40%;
    top: 2%;
    color: #333;
    position: absolute;
    width: 55%;
    max-width: 800px;
    height: 43px;
    background-image: url(/upload/sogrevayslogan.png);
    background-position: 50% 50%;
    background-size: 100%;
    background-repeat: no-repeat;
}

.welcome-slider-block {
	background: url(/bitrix/templates/rozn2016_home/images/bgred.png);
}
.welcome-slider-block {
	background: #000 url(/upload/backg/red-petli.png) repeat-x 0 60%;
}

.welcome-slider-block .welcome-slider {
    margin-bottom: 0;
	}  
.welcome-slider .slick-slide {
	background-size:cover;
	background-size:contain;	
	background-repeat:no-repeat;
	background-position: 50% 50%;
	background-position: 50% 0;
	height: 800px;
	}
	


@media (min-width: 1440px) {
	.btn-zhen, .btn-det {left:42%;}
	.btn-zhen {top:42%;}
	.btn-det {top:44%;}
	.sroki {top:46%; left:39%;}
}

@media (max-width: 992px) {
	.welcome-slider .slick-slide {height:600px; max-height: 600px; background-position: 100% 50%;}
	.VAYlogo {bottom: 12%; display: none;}
	.VAYslogan {font-size:18px;}
	.VAYslogan1 {width:45%; display: none;}
	
	.btn-zhen, .btn-det {left:26%;}
	.btn-zhen {top:42%;}
	.btn-det {top:44%;}
	.sroki {top:45%; left:17%;}
}
@media (max-width: 768px) {
	.welcome-slider .slick-slide {height:400px; max-height: 400px; background-position: 50% 50%;}
	.VAYlogo {display: none;}
	.VAYslogan {display: none;}
	.VAYslogan1 {display: none;}
	.welcome-slider .slick-dots {bottom:1%;}

	.btn-zhen, .btn-det {left:30%;}
	.btn-zhen {top:42%;}
	.btn-det {top:44%;}
	.sroki {top:46%; left:22%;}
}





/* Dots */

.welcome-slider .slick-dots
{
    position: absolute;
    bottom: 2%;
    display: block;
    width: 100%;
    padding: 0;
    list-style: none;
    text-align: center;
}
.welcome-slider .slick-dots li
{
    position: relative;
    display: inline-block;
    width: 20px;
    height: 20px;
    margin: 0 5px;
    padding: 0;
    cursor: pointer;
}
.welcome-slider .slick-dots li button
{
    font-size: 0;
    line-height: 0;
    display: block;
    width: 20px;
    height: 20px;
    padding: 5px;
    cursor: pointer;
    color: white;
    border: 2px solid white;
	border-radius: 10px;
    outline: none;
    background: black;
}
.welcome-slider .slick-dots li button:hover,
.welcome-slider .slick-dots li button:focus
{
    outline: none;
}
.welcome-slider .slick-dots li button:hover:before,
.welcome-slider .slick-dots li button:focus:before
{
    opacity: .25;
}
.welcome-slider .slick-dots li button:before
{
    font-family: 'slick';
    font-size: 10px;
    line-height: 20px;
    position: absolute;
    top: 1px;
    left: 0;
    width: 20px;
    height: 20px;
    content: '•';
    text-align: center;
    opacity: 0;
    color: white;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.welcome-slider .slick-dots li.slick-active button:before
{
    opacity: 1;
    color: white;
}
