.top-search {
	margin:10px 0 5px 0;
}

form#top-search input[name=q] {
	display:inline-block; 
	width: 67%;
	height:30px;
	color:#b42e31;
	margin:0;
	padding:0 10px;
	border:none;
	font-size: 14px;
    line-height: 30px;
	font-family: 'Circe-Light', Arial, sans;
	outline: none;
}

form#top-search input[name=q]:hover, form#top-search .btnSubmit:hover {
	outline: none;
}

form#top-search .btnSubmit {
	display:inline-block;
	font-size: 14px;
	text-align: center;
    color: black;
	width: 40px;
	height: 30px;
	border: none;
	background: white;
	margin:0;
	padding:0 10px;
	background: white;
	line-height: 30px;
	outline: none;
}

form#top-search .btnSubmit:hover {
	background: gray;
}

div.title-search-result {
	border:1px solid #c6c6c6;
	display:none;
	overflow:hidden;
	z-index:205;
	min-width: 200px !important;
	margin-left:-50px;
	margin-top:-2px; 
}

table.title-search-result {
	border-collapse: collapse;
	border:none;
	width:10%;
	
	width:240px;
}

table.title-search-result th {
	background-color:#F7F7F7;
	border-right:1px solid #e8e8e8;
	color:#949494;
	font-weight:normal;
	padding-top:2px;
	padding-bottom:2px;
	padding-left:14px;
 	padding-right:12px;
	text-align:right;
	vertical-align:top;
	white-space:nowrap;
	width:1%;
	
	display: none !important;
}

table.title-search-result td {
	background-color:white;
	color:black;
	font-weight:normal;
	padding-top:4px;
	padding-bottom:4px;
	text-align:left;
	white-space:nowrap;
}

table.title-search-result td.title-search-item {
	padding-left:8px;
	padding-right:15px;
}

table.title-search-result td.title-search-item a {
	padding-left:4px;
	padding-right:15px;
	text-decoration: none;
	color:black;
	vertical-align:top;
	display:block;
}

table.title-search-result td.title-search-item img {
	vertical-align:top;
}

table.title-search-result td.title-search-item b {
	color:#cf0000;
	font-weight:normal;
}

table.title-search-result tr.title-search-selected td
,table.title-search-result tr.title-search-selected a
,table.title-search-result tr.title-search-selected td.title-search-more a
{
	background-color:#e6e3e3;
	/background-color:#b42e31;
	/color:white;
}

table.title-search-result td.title-search-more {
	font-size:11px;
	font-weight:normal;
	padding-right:15px;
	padding-left:24px;
	padding-top:0px;
}

table.title-search-result td.title-search-more a
{
	padding-left:12px;
	padding-right:15px;
	text-decoration:none;
	color:#999999;
}

table.title-search-result td.title-search-all {
	padding-left:24px;
	padding-right:15px;
}

table.title-search-result td.title-search-all a
{
	padding-left:4px;
	text-decoration:none;
	color:#808080;
}

table.title-search-result td.title-search-separator
, table.title-search-result th.title-search-separator {
	padding-top:0px;
	padding-bottom:0px;
	font-size:4px;
}

div.title-search-fader {
	display:none !important;
	background-image: url('images/fader.png');
	background-position: right top;
	background-repeat: repeat-y;
	position:absolute;
	
	left:222px !important;
}

table.title-search-result td.title-search-item a {
	-webkit-transition: none !important;
	-moz-transition: none !important;
	-ms-transition: none !important;
	-o-transition: none !important;
	transition: none !important;
}



@media (max-width: 1200px) {
	form#top-search input[name=q] {width:80%;}
	form#top-search .btnSubmit {width:20px; padding:0px;}
	div.title-search-result { min-width: 200px !important; margin-left:-77px !important;}
}
@media (max-width: 992px) {
	form#top-search input[name=q] {width:76%;padding: 0 0px 0 2px;}
	form#top-search .btnSubmit {width:20px; padding:0px;}
	div.title-search-result { min-width: 200px !important; margin-left:-110px !important;}
}