.catalog-tab-section-container{position: relative;}

.catalog-tab-list{
	text-align: left;
	padding: 0;
	vertical-align: bottom;
	margin: 25px 0 5px 0;
}

.catalog-tab-list li{
	vertical-align: bottom;
	display: inline-block;
    text-align: left;
}

.catalog-tab-list li:last-child  span {
	border-right: none;
	padding-right: 0;
	margin-right: 0;
}

.catalog-tab-section-container .bx-catalog-tab-list li:before{
	content: none;
}

.catalog-tab-list li a,
.catalog-tab-list li>span{
	display: block;
    cursor: pointer;
    color: black;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
    line-height: 11px;
    white-space: nowrap;
    border-right: 2px solid black;
    padding-right: 15px;
    margin-right: 15px;
}

.catalog-tab-list li.active{
}

.catalog-tab-list li.active:hover span {
	text-decoration: none;
	cursor: default;
}

.catalog-tab-list li:hover span {
	text-decoration: underline;
}


.catalog-tab-list li.active a,
.catalog-tab-list li.active>span{
	/line-height: 32px;
	/height: 32px;
	color: #D12A2D;
	position: relative;
	bottom: 0;
}

.catalog-tab-body-container {
	border-top: none;
	padding: 10px 0;
}

.catalog-tab-body-container .catalog-tab-container>div.tab-off{
	opacity: 0;
	height: 0;
	overflow: hidden;
	-webkit-transition:all 0.4s ease-out;
	-ms-transition:all 0.4s ease-out;
	-moz-transition:all 0.4s ease-out;
	-o-transition:all 0.4s ease-out;
	transition:all 0.4s ease-out;
}

.catalog-tab-body-container .catalog-tab-container>div{
	opacity: 1;
	-webkit-transition:all 0.6s ease-out;
	-ms-transition:all 0.6s ease-out;
	-moz-transition:all 0.6s ease-out;
	-o-transition:all 0.6s ease-out;
	transition:all 0.6s ease-out;
	padding: 0;
}

.catalog-tab-body-container .catalog-tab-container .hidden{
	display: none;
}